[2017-04-04 08:01] ThePirateWhoSmellsOfSunflowers commented on #363
Ok, my bad, **address translation** is working, but not **port translation**.
[code]
then I run `info` :

`Host : http://My.Public.IP:8080`

so your issue #477 is perfectly valid. Need to find some time to perform tests and submit a PR.

TPWSOSF

[2017-04-05 01:44] xorrior commented on #453
@Upguard Sorry for the late response, have you tried this with Invoke-Mimikatz or the standalone executable???

[2017-04-05 01:51] xorrior commented on #426
@ra7bi Please re-run empire with the --debug 2 flag and post the output after sending a command in the git issue.

[2017-04-05 01:51] #426 closed

[2017-04-05 01:51] #439 closed

[2017-04-05 01:51] xorrior commented on #148
@RedSec-Shay We should have the source code soon....... ;)

[2017-04-05 03:45] xorrior commented on #326
Will be fixed in the next 2.0_beta push.

[2017-04-05 03:45] #326 closed

[2017-04-05 04:36] xorrior commented on #344
This should be resolved in the Empire 2.0_beta and master branch.

[2017-04-05 04:36] #344 closed

[2017-04-05 04:48] xorrior commented on #401
We'll take a look and see if we can add support for unicode characters but it won't be something we have an immediate fix for.

[2017-04-05 04:53] xorrior commented on #432
@tehseensagar We will probably end up addressing this when revamping the REST api towards the tail end of the year. Sorry for the long wait.

[2017-04-05 04:53] #432 closed

[2017-04-05 16:47] xorrior commented on #476
Migrate vs psinject
We're open to investigating this functionality but could you provide some more information on how this is beneficial or different over injecting into another process and killing the old process.

Binaries
Adding the ability to generate exe's could definitely be added down the road. Managed vs unmanaged code will dictate how long this would take. I would suggest using a small c#

[2017-04-05 17:17] xorrior commented on #453
Sorry, Can you submit the issue again with the proper template @Upguard ? Thanks

[2017-04-05 17:17] #453 closed

[2017-04-06 10:42] Viss commented on #476
The intention with "migrate" would basically be to maintain the current shell, versus starting a new one. The purpose is that you get different abilities when inside of different processes. If you're not in a users context, you can't take screenshots. If you're not in a system/escalated context, you can't mimikatz - that sort of thing.

Being able to keep the same shell will save time, save keystr

[2017-04-06 13:22] xorrior commented on #363
@wiking-at @ThePirateWhoSmellsOfSunflowers I think I have the answer to this problem. When using empire behind NAT configuration such as a home network, you will need to setup listeners as if you were using a redirector. You will need to have one listener set as http_foreign, with the "Host" option set to the public IP/DNS host name. Then you setup a normal http listener with the BindIP and Host o

[2017-04-06 13:23] xorrior commented on #477
see #363

[2017-04-06 13:23] #477 closed

[2017-04-06 13:27] xorrior commented on #468
We will be merging the 2.0_beta branch into master very soon, so this will be effectively resolved.

[2017-04-06 13:27] #468 closed

[2017-04-06 13:40] Gr3yCod3riX commented on #363
@xorrior Hi. The problem I'm having is that I can not port translate external port when using Empire launcher to generate a payload. That payload just won't call back.  I have not stated it was an issue only for a home network. This was tested on my VPS, where for example metasploit works perfectly, which means it's not a networking problem.

For example:
I have dns hostname with external port / *

[2017-04-06 13:41] xorrior commented on #464
Have completed the setup script successfully? I tested this on kali rolling and did not have any issues after completing the setup script. You can re-open this issue if you are having problems with it after completing the setup script.

[2017-04-06 13:41] #464 closed

[2017-04-06 13:44] ThePirateWhoSmellsOfSunflowers commented on #465
I found the root cause of this issue, plan to post the fix in PR soon.

[2017-04-06 14:22] ThePirateWhoSmellsOfSunflowers commented on #363
@xorrior : I think your solution is a little bit complicated.

If I understand the code, the `host` field is only useful for the agent and the `bindIP` and `Port` only for the listener. Thus, I think you should totally decorrelate these options by removing [this](https://github.com/EmpireProject/Empire/blob/master/lib/common/listeners.py#L165-L203l) part and [this](https://github.com/EmpireProject

[2017-04-06 15:09] xorrior commented on #363
@ThePirateWhoSmellsOfSunflowers maybe my explanation was a bit more complicated then it needed it to be. Stand by for a (hopefully) better explanation.

[2017-04-06 17:18] #454 closed

[2017-04-06 17:41] xorrior commented on #446
I believe this issue should be fixed once matter is merged with 2.0 beta since we now use flask

[2017-04-06 17:41] #446 closed

[2017-04-06 21:43] xorrior commented on #363
So to elaborate with pictures. When working behind a NAT in which the external and internal ports do not match, you will need to configure listeners as if you were using a redirector. Observe below.

<img width="541" alt="foreignlistener" src="https://cloud.githubusercontent.com/assets/9156069/24776306/28f610e8-1aee-11e7-9a11-60810ec60362.png">

This foreign listener allows for your agents to stag

[2017-04-06 21:50] xorrior commented on #383
This is resolved in the 2.0_beta branch and will be subsequently resolved when that branch is merged with master.

[2017-04-06 21:50] #383 closed

[2017-04-06 21:54] #465 closed

[2017-04-07 14:40] Gr3yCod3riX commented on #363
@xorrior This solution that you have described in steps is working as expected and @ThePirateWhoSmellsOfSunflowers suggestion is a good simplification for NAT settings. I hope this will be a part of 2.0 release.

Keep up the good work

[2017-04-07 20:21] #363 closed

[2017-04-07 20:23] xorrior commented on #467
See #164

[2017-04-07 20:23] #467 closed

[2017-04-07 20:23] xorrior commented on #467
#161

[2017-04-07 20:34] xorrior commented on #422
Please look at #363 for how to use empire behind NAT on the 2.0_beta branch. This won't apply to 1.6 but the beta branch should be merged with Master soon.

[2017-04-07 20:34] #422 closed

[2017-04-08 19:07] rvrsh3ll commented on #458
Sorry for the delay. Just getting to this issue. We have confirmed your issue and are working on a resolution.

[2017-04-09 02:10] ThePirateWhoSmellsOfSunflowers commented on #458
No problem. I've tried to debug it too, but without success. Maybe you should add a debug mode on agent's side in the future, it might be really helpful.

[2017-04-09 13:46] xorrior commented on #370
https://github.com/EmpireProject/Empire/pull/404

[2017-04-09 13:46] #370 closed

[2017-04-09 20:40] Gr3yCod3riX opened #482 "Corrupted sessions using outside network routing (NAT)"
## Empire Version
2.0 beta

## OS Information (Linux flavor, Python version)
debian

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I have conducted following testing:
### **Local testing**
I get an agent session
-> interact
-> sysinfo (I get information back)
###
**Public testing using http and http_forei

[2017-04-09 21:53] xorrior commented on #482
Please see the solution presented in https://github.com/EmpireProject/Empire/issues/363 . Re-open if this is still a problem. Thanks

[2017-04-09 21:56] xorrior commented on #431
Which branch are you using @net2net ?

[2017-04-09 21:57] Gr3yCod3riX commented on #482
@xorrior  Hi. This is not the same issue.
In this case like I explained there is a response, and Empire gets a session. The difference is, when it is done over NAT, commands like "sysinfo" and others are not affecting the agent.

Thank you

[2017-04-09 21:58] xorrior commented on #461
@dgrim1214 What modules have you tried using with OutFile?

[2017-04-09 22:03] xorrior commented on #459
@ALBERT00 Would you be able to provide any more detail? It would be really difficult to track down the root cause of this issue with just this information. The only thing I notice is that you received a 504 gateway timeout when using your launcher. Are you using it behind a proxy?

[2017-04-09 22:03] xorrior commented on #458
I'll take a crack at this.

[2017-04-09 23:21] xorrior commented on #482
@Gr3yCod3riX Can you give me some more info on your NAT setup

[2017-04-09 23:27] Gr3yCod3riX commented on #482
@xorrior
dns hostname / external port 33999
mapped to:
internal IP / internal port 1100

[2017-04-10 00:17] xorrior commented on #482
2 things:
I have testing using empire through a NAT setup. The only way it will work with different internal and external ports, is to treat the external host as a re-director. Can you confirm that your empire setup matches what is shown in #363 and then run empire with the --debug 2 flag. Post the output shown when issuing the sysinfo or any other command. You can also remove the -w hidden option

[2017-04-10 08:30] Gr3yCod3riX commented on #482
It looks like NAT is working. I have used the same setup from #363 with no problems. Now only interaction **after the session** has been established is not working. These are the screenshots with **--debug 2** command.

**### After session negotiation:**
![screenshot_1](https://cloud.githubusercontent.com/assets/13822688/24852535/28db8420-1dd8-11e7-84d7-823d13c412b6.png)

**### Issuing sysinfo com

[2017-04-11 07:48] 0x27 opened #485 "privesc/ms16-032 fails to launch new agent"
## Empire Version
1.6.0 (from Git)

## OS Information (Linux flavor, Python version)
Empire LP:
Debian Wheezy
Linux version 3.2.0-4-amd64
Python 2.7.3

Target:
Microsoft Windows Server 2008 R2 Enterprise

## What happens...
Upon running the "privesc/ms-16-032" module, the response is that a SYSTEM shell was obtained. However, no new elevated agent appears. It seems that the module is failing to ac

[2017-04-11 17:26] xorrior commented on #148
https://github.com/EmpireProject/PSInject

[2017-04-11 17:26] #148 closed

[2017-04-11 17:36] xorrior commented on #485
I would run empire with with the --debug flag. Run the debug file as a standalone PowerShell script and let us know your results. Also it appears that there is a check to see if the exploit was successful here: https://github.com/EmpireProject/Empire/blob/master/data/module_source/privesc/Invoke-MS16032.ps1#L354

[2017-04-11 18:17] 0x27 commented on #485
[code]

This [gist](https://gist.github.com/0x27/6e0e27089419e19464e309f51e639641) is the "LastTask.ps1" (with C2 details redacted) created in Debug mode.

[2017-04-11 18:24] leechristensen commented on #485
Does the new empire process ever start (can you see it in a task list)?  Have you tested locally to confirm the exploit works and can spawn a regular shell? Are you sure it's not an NTLM-proxy issue (SYSTEM processes directly connect through an ntlm proxy w/o specifying credentials)?

[2017-04-13 11:52] Omardavinci opened #486 "Empire works with armitage?"
Empire version the last.
Kali linux.
My question is empire works with armitage? It's not for bad purposes only that i use this framework to check vulnerabilities in my network my question works with it?

[2017-04-13 21:53] leoloobeek commented on #485
I've been meaning to get an update out to this module. The update will cover:
- @FuzzySecurity updated his exploit (a while ago) which should be more reliable
- Option to add a local user account (in the situation where you don't have creds for the proxy)

I'll see if I can get a PR in within the next week or so.

[2017-04-14 23:26] Omardavinci opened #487 "powershell doesnt connect using reverse_tcp_dns"
## Empire Version
Last version

## OS Information (Linux flavor, Python version)
kali linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I was testing porwershell empire and doesnt seem's to work using dyndns like http://theddns:port or reverse_tcp_dns.

[2017-04-15 01:10] #486 closed

[2017-04-15 13:32] Omardavinci commented on #363
how you show bindIp info? i dont see in any way.

[2017-04-17 20:41] chrisbog94 opened #488 "Clients aren't connecting on 1.5"
## Empire Version
1.5

## OS Information (Linux flavor, Python version)
Linux-3.13.0-24-generic-i686-with-Ubuntu-14.04-trusty
Python 2.7.6

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
All clients dropped and not reconnecting all of a sudden. Software was working fine for weeks, but now it's not working?

[2017-04-18 17:51] bneg commented on #351
The listeners table is different in Empire 2. Is "options" meant to be a "blob" or did the DB creation script go awry?

`CREATE TABLE `listeners` (
	`id`	integer,
	`name`	text,
	`host`	text,
	`port`	integer,
	`cert_path`	text,
	`staging_key`	text,
	`default_delay`	integer,
	`default_jitter`	real,
	`default_profile`	text,
	`kill_date`	text,
	`working_hours`	text,
	`listener_type`	text,
	`redirect_t

[2017-04-19 15:37] thansau239 commented on #475
same issue!!!

[2017-04-19 20:52] bneg commented on #488
Can you submit a pcap?

[2017-04-19 20:54] ThePirateWhoSmellsOfSunflowers commented on #458
Hi guys
Just few things, I have been able to perform some debug on my test instance.

- Unlike my first message, the problem is not linked to `net localgroup` and `whoami /groups` commands. In fact, the string's length after `shell` is the problem. Every 14 characters long string after `shell` will be ignored. To reproduce it, just type `shell 12345678978945` on a empire command
- If you follow th

[2017-04-20 00:26] xorrior commented on #458
@ThePirateWhoSmellsOfSunflowers Thanks for troubleshooting! We really appreciate it. I'll have time to dig into some issues again soon

[2017-04-20 16:23] ThePirateWhoSmellsOfSunflowers commented on #458
@xorrior :tada: **Victory** :tada:, I've just found the root cause of the issue. I will submit a PR soon.

[2017-04-21 02:29] xorrior commented on #487
see #477

[2017-04-21 02:29] #487 closed

[2017-04-21 02:32] xorrior commented on #485
This is something I would reach out to @FuzzySecurity for. Looks like the issue is with the module itself.

[2017-04-21 02:32] #485 closed

[2017-04-21 03:41] xorrior commented on #458
fixed https://github.com/EmpireProject/Empire/pull/492

[2017-04-21 03:41] #458 closed

[2017-04-21 03:42] xorrior commented on #458
Thanks again @ThePirateWhoSmellsOfSunflowers !

[2017-04-22 01:58] xorrior commented on #482
@Gr3yCod3riX I went ahead and tested this setup again. I did not have any issues sending commands and receiving results. I am not able to reproduce this issue. Are you its not possible there is something else preventing agent comms? Otherwise, I unfortunately don't have an answer for you.

[2017-04-22 02:09] xorrior commented on #471
@VillaStrayligh7 So I don't see the need to add agent commands to the standard help, as those commands are *only* available when interacting with an agent. It may even add confusion when using help since those commands will be unrecognized outside of the agent menu. Thanks for the suggestion!

[2017-04-22 02:09] #471 closed

[2017-04-22 02:11] xorrior commented on #462
@cobbr Overall I think this would be awesome to have. If you feel confident in your code base, feel free to submit a PR to the 2.0_beta branch and we'll test it out. Thanks for the suggestion!

[2017-04-22 02:11] #462 closed

[2017-04-22 02:24] xorrior commented on #460
@danthegoodman1 Hopefully I can answer your question adequately. For a brief tutorial on using autorun, I would suggest starting here: https://github.com/EmpireProject/Empire/issues/80 . As for setting an autorun job for the agent spawned from the bypass uac module, there is no way to do this currently. For crafting a ducky payload or macro, I would suggest doing some research and you will most li

[2017-04-22 02:24] #460 closed

[2017-04-22 02:24] xorrior commented on #459
No response. Closing.

[2017-04-22 02:24] #459 closed

[2017-04-22 02:26] xorrior commented on #457
@thesle3p I'm sure it's possible. I would take a look at some of the examples for wmi persistence in powersploit and submit a PR when ready.

[2017-04-22 02:26] #457 closed

[2017-04-22 02:30] xorrior commented on #431
Closing, no response

[2017-04-22 02:30] #431 closed

[2017-04-22 02:35] xorrior commented on #461
Closing. No response

[2017-04-22 02:35] #461 closed

[2017-04-22 15:33] bneg opened #493 "Feature: Add timestamp to results table"
## Empire Version
2.0_Beta

## OS Information (Linux flavor, Python version)
All

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Every results write to the database also includes a timestamp

This should be pretty easy, I'll look into doing this myself.

[2017-04-22 16:53] xorrior commented on #493
Sounds great! Just submit a PR once you've got it figured out. Thanks

[2017-04-22 16:53] #493 closed

[2017-04-22 17:15] xorrior commented on #466
<img width="505" alt="2017-04-22 13_12_06-privacy error" src="https://cloud.githubusercontent.com/assets/9156069/25306552/6e2d1960-275d-11e7-981c-0880cff4e413.png">

Is this the certificate error you are referring to @P0ng04 ? If you are using a self-signed certificate, there is no CA. Therefore, your browser will show that error message everytime. However the cert path is working. Try doing anoth

[2017-04-22 17:15] #466 closed

[2017-04-22 23:54] #420 closed

[2017-04-23 00:27] xorrior commented on #449
@synopsis19 This is fixed. https://github.com/EmpireProject/Empire/commit/e6fc1bebd73dfe13fba319836f82dc9fa494fb81

[2017-04-23 00:27] #449 closed

[2017-04-23 00:35] rvrsh3ll commented on #442
Apologies for the delay. This has been fixed!

[2017-04-23 00:35] #442 closed

[2017-04-23 00:36] xorrior commented on #401
Fixed #489

[2017-04-23 00:36] #401 closed

[2017-04-23 01:01] rvrsh3ll commented on #473
We could change this to something like: Get-EventLog -Newest 100. Thoughts?

[2017-04-23 01:33] xorrior commented on #448
@r0b1nv4np sorry for the long wait. We are going to remove this module for the time being, as the backend db architecture has changed for listeners. Hopefully we can bring this module back soon.

[2017-04-23 01:33] #448 closed

[2017-04-23 01:51] xorrior commented on #304
@scufre this will no longer be an issue in Empire 2.0 as the '$' is no longer included in the character set for generation of the StagingKey.

[2017-04-23 01:51] #304 closed

[2017-04-24 10:04] synopsis19 commented on #449
Awesome! Thanks for your efforts.

[2017-04-24 22:03] xorrior commented on #417
Fixed https://github.com/EmpireProject/Empire/commit/b34f8858a5a27232dbdc6366742234f872b92805

[2017-04-24 22:03] #417 closed

[2017-04-24 22:06] xorrior commented on #488
@chrisbog94 Can you confirm that there isn't any network devices preventing agents from staging? Can you replicate this issue after a fresh pull?

[2017-04-24 22:06] #488 closed

[2017-04-24 22:23] xorrior commented on #433
@PoSHMagiC0de I tested some of the modules mentioned on a Win 7 box with the 2.0_beta branch and received output. I don't believe the version should be a problem anymore. Please re-open this if it still is. Thanks

[2017-04-24 22:23] #433 closed

[2017-04-24 22:27] xorrior commented on #429
In several test cases, I have not ran into an issue with the pyOpenSSL pip package. I do understand that there may be edge cases where there is an issue. I think the workaround mentioned above is the best solution currently.

[2017-04-24 22:27] #429 closed

[2017-04-25 09:11] Gr3yCod3riX commented on #482
@xorrior Yes, I will try to test this in some other environment and figure out what should be blocking agent interaction but yet establishing the initial agent session.

[2017-04-27 13:07] harml355 commented on #475
Getting real annoying :/

[2017-04-27 15:34] leechristensen commented on #475
Pull requests are open to all and are the guaranteed fastest ways to get fixes :)

[2017-04-28 14:44] P0ng04 commented on #466
Thanks for the reply, I think I mentioned this before, but the certificate I have is valid, and works on the older version of empire.  I also use this certificate in my meterpreter handlers and it has not issues.  I will try another git pull and some more troubleshooting on my part and get back to you.  Good framework, could use some more modularity but I like where you guys have come and where yo

[2017-04-28 22:08] xorrior commented on #482
@Gr3yCod3riX I'm going to close this out for now. Feel free to comment if you have any additional info. I'm sorry that I don't have a solid answer for you at this time.

[2017-04-28 22:08] #482 closed

[2017-04-29 02:48] anadr commented on #368
Had this issue tonight, which was resolved by fixing system clock on victim machine (it was one day ahead).

[2017-05-01 02:50] at1a5-lxc commented on #259
I meet the same problem.Like ChrisTruncer described,when a new agent come online,it does show its agent name in empire agents,and when i type "interact" and Tab its name shows in command.But the empire responds with a "Please enter a valid agent name" if i execute interact command.Of course,if i exit the empire and restart empire,i can interact with that wired agent again.Another problem is that a

[2017-05-01 03:18] xorrior commented on #259
@at1a5-lxc Can you open a new issue and fill out a template. Provided a detailed description with the target OS, Empire branch/version, and host OS. Screenshots and empire --debug 2 output would be greatly appreciated. Thanks

[2017-05-01 16:52] xorrior commented on #476
Closing.

[2017-05-01 16:52] #476 closed

[2017-05-03 13:42] bovas85 commented on #334
How do you actually create one in 2.0 though?

[2017-05-03 20:44] #469 closed

[2017-05-03 20:44] #470 closed

[2017-05-05 22:34] Gr3yCod3riX opened #501 "Agents are not responding during interaction"
## Empire Version
2.0 / Master

## OS Information (Linux flavor, Python version)
Debian

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Empire tested on NAT/PAT environment with custom external and internal ports correctly configured

Commands like sysinfo are not affecting the agent session. I have checke

[2017-05-06 13:40] rvrsh3ll commented on #475
OSX is not a supported distro for Empire at this time.

[2017-05-06 13:40] #475 closed

[2017-05-08 02:04] kurobeats commented on #368
Can I please suggest this issue be reopened? A victim machine with an out of sync system clock is extremely common.

[2017-05-08 02:24] anadr commented on #368
This is fixed in the beta version (v2) of Empire

[2017-05-09 11:45] ThePirateWhoSmellsOfSunflowers commented on #501
If you can provide more information such as `--debug 2`' logs or your setup (listener' options ? stager options ?), it could help us.

[2017-05-10 03:08] PoSHMagiC0de commented on #473
This can probably be alleviated by doing it with wmi and using filters.
Example:
`gwmi -class win32_ntlogevent -Filter "LogFile='Security' and (EventIdentifier='4624' or EventIdentifier='4648')"`

I see only the Message is accessed so what you get can be further shrunk with:
`gwmi -query "Select Message from win32_ntlogevent where LogFile='Security' and (EventIdentifier='4624' or EventIdentifier='

[2017-05-12 09:41] cartagenae opened #505 "Unable to delete agents"
## Empire Version
2.0_beta

## OS Information (Linux flavor, Python version)
Linux Ubuntu

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

After typing kill all, empire prompts me to confirm killing all agents.

I type 'y' and the agents are still there.

## Screenshot of error, embedded text output, or Pas

[2017-05-12 12:32] mr64bit commented on #505
Are the agents contacting the server? The kill command will only remove an
agent once the agent confirms it has closed. (To remove agents that are out
of contact, use the remove command)
Is this specific to 'kill all'? Can you kill agents one at a time?

On Fri, May 12, 2017 at 5:41 AM, cartagenae <notifications@github.com>
wrote:

[2017-05-12 17:37] ThePirateWhoSmellsOfSunflowers commented on #505
If you can provide more information such as `--debug 2`' logs or your setup (listener' options ? stager options ?), it could help us.

[2017-05-12 19:33] DeadNumbers opened #506 "Small fix"
For Arch users need change python interpreter from `#!/usr/bin/python` (python3 by default) to `#!/usr/bin/python2` in ./empire

This patch will not affect the rest of the distributions in any way, as in other distributions, where python2 the default interpreter, he is available `/usr/bin/python2`.

[2017-05-13 00:11] Viss opened #507 "--rest tries to start all the listeners"
## Empire Version
2.0.0-beta, fresh from git as of Friday May 12th, 5pm PST

## OS Information (Linux flavor, Python version)
ubuntu, x64

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

when attempting to start the empire with --rest, empire attempts to actually start all the listeners and bails out with e

[2017-05-13 00:59] cartagenae commented on #505
@mr64bit, thank you. I did a remove on each of them after killing all my agents. It worked. They're no longer currently listed my want to list my 'active' agents.

[2017-05-13 01:00] cartagenae commented on #505
@mr64bit, thank you. I did a remove on each of them after killing all my agents. It worked. They're no longer currently listed my want to list my 'active' agents.

[2017-05-13 01:00] #505 closed

[2017-05-15 05:02] bneg commented on #507
This is related to another issue I need to file a bug about. I haven't done a ton of testing on the problem, but I spent quite a bit of time in the API code a few weekends ago.

Here's more information from what I've been able to find:
When you fire up Empire, it looks in it's SQLite DB, and fires up any listeners that may have been recorded in there (works well for crash recovery). Not only does

[2017-05-15 15:41] totoroha opened #510 "set name - unknown syntax"
## Empire Version 2.0

## OS Information (Linux flavor, Python version) Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I started the empireshell right after i installed it. use command "listeners" - tried to set name with command "set Name test" but the program returned with an error message as

[2017-05-15 16:39] necony286 commented on #510
i have a similar problem i cant even use info command in when i move to listeners or set anything

[2017-05-15 16:47] necony286 opened #511 "Trouble with command responding"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
kali 2016.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
after opening the empire in the terminal and after it loads i typed listeners and u cant use syntax to make a listener or anything else

## Screenshot of error, embedded text o

[2017-05-15 17:07] necony286 commented on #511
===============================================================
 [Empire]  Post-Exploitation Framework
================================================================
 [Version] 2.0 | [Web] https://theempire.io
================================================================

   _______ .___  ___. .______    __  .______       _______
  |   ____||   \/   | |   _  \  |  | |   _  \     |   ____|
  |

[2017-05-15 17:53] xorrior commented on #511
@necony286 the correct syntax from the listeners menu is: uselistener <listener_type>, then info, set, unset, etc.

[2017-05-15 17:53] #511 closed

[2017-05-15 17:54] xorrior commented on #510
@totoroha please see https://github.com/EmpireProject/Empire/issues/511

[2017-05-15 17:54] #510 closed

[2017-05-15 18:09] necony286 commented on #511
oh so sorry. and ty u verry much.

[2017-05-15 18:22] dea8face opened #512 "Empire does not start"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali 2017.1 rolling

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
After install and trying to run script gives an error

## Screenshot of error, embedded text output, or Pastebin link to the error
root@kali:~/Empire# ./empire
Tracebac

[2017-05-15 18:28] ThePirateWhoSmellsOfSunflowers commented on #512
`pip install zlib_wrapper` ?

[2017-05-15 18:35] dea8face commented on #512
root@kali:~/Empire/setup# pip install zlib_wrapper
Requirement already satisfied: zlib_wrapper in /usr/local/lib/python3.5/dist-packages

[2017-05-15 18:38] arcadyan opened #513 "Empire start error"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)

Kali 2017.1 rolling
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
After installed and trying to run script gives an error!

## Screenshot of error, embedded text output, or Pastebin link to the error

[code]
## Any additional informat

[2017-05-15 18:57] xorrior commented on #513
you need to run ./reset.sh from the setup directory. Warning: this will clear the database.

[2017-05-15 19:09] arcadyan commented on #513
Worked ..thanks a lot!

[2017-05-15 19:09] #513 closed

[2017-05-15 19:22] necony286 commented on #511
im sorry i think its not wokring i've tryed
listener_info
listener_set
and when i type uselistener nothing happens i have no listeners atm and i cant make one

[2017-05-15 19:24] necony286 commented on #511
sence when was the syntax changed i cant find anything about this here
http://www.powershellempire.com/?page_id=110

[2017-05-15 19:31] necony286 opened #514 "trouble with syntax or commands not working"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
kali 2016

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
#511
i think i had the wrong person help me or i didnt understand them but i made a new post cuz i dont know can u see if i comment on the closed ones anyway my problem was the c

[2017-05-15 19:48] xorrior commented on #514
Listeners
uselistener http
set optionname optionvalue

[2017-05-15 19:49] xorrior commented on #512
You need to use python 2.7

[2017-05-15 19:49] necony286 commented on #514
ok ty<3 my bad. excuse me it wasnt like that before. can u spare a min more and tell me where can i learn the syntax

[2017-05-15 19:52] xorrior commented on #514
http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

[2017-05-15 19:52] #514 closed

[2017-05-15 19:54] necony286 commented on #514
i fking love you! serbia says u picku mater (with love from serbia )

On Mon, May 15, 2017 at 9:52 PM, Chris Ross <notifications@github.com>
wrote:

[2017-05-15 20:41] dea8face commented on #512
pip2.7 install zlib_wrapper solved it.. thx for help

[2017-05-15 21:12] #512 closed

[2017-05-15 23:41] 0xsauby opened #515 "Unable to set a listener [Panic Mode]"
## Empire Version
[Version] 2.0

## OS Information (Linux flavor, Python version)
Kali Linux Rolling Stones
4.9.0-kali2-amd64 #1 SMP Debian 4.9.13-1kali1 (2017-03-01) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Unable to set a listener.
(Empire) > listeners
[!] No listeners currently ac

[2017-05-15 23:49] n00shE commented on #515
Empire 2.0 has changed the way listeners are created. To create a new listeners use the command 'uselistener'. In you case you will probably want the http listener. Use the command 'uselistener http'. Now you can set your options.

[2017-05-16 00:37] 0xsauby commented on #515
Ah, works now. Thanks a stack.

[2017-05-16 00:47] #515 closed

[2017-05-16 23:49] byt3bl33d3r commented on #507
I've run into this bug as well while updating CME's empire_exec module. Will see if I can track down the issue.

[2017-05-17 01:18] byt3bl33d3r commented on #507
So I've managed to find the problem, basically the ```restAPI``` argument passed from the main empire script [here](https://github.com/EmpireProject/Empire/blob/master/empire#L193) to ```lib/common/empire.py``` [here](https://github.com/EmpireProject/Empire/blob/master/lib/common/empire.py#L63) is ignored, so when you start the REST API it tries to start existing listeners in the database as well.

[2017-05-17 10:18] ztencmcp opened #518 "Can't clear agents"
## Empire Version

[Version] 2.0 |

## OS Information (Linux flavor, Python version)

Debian & Pyathon 2.7.13

###################################
I found when i wanted to kill agents and clear them with command kill and clear, it couldn't work. the agents still there. What's going on here? The only way is run ./reset.sh? Thanks.

[2017-05-17 11:29] rvrsh3ll commented on #518
navigate to the agents section. if you want to kill all your agents type "kill all". then you can remove them all from the database by "remove all"

[2017-05-17 23:10] hillar commented on #507
--with-rest

[2017-05-18 02:10] Nyxw0rm opened #519 "[!] Error in launcher command generation."
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
[!] Invalid listener: http
[!] Error in launcher command generation.

## Screenshot of error, embedded text output, or Pastebin link to the error
http://imgur.com/a/hQ6pu

## An

[2017-05-18 02:11] atkinsj commented on #519
Have you started the listener yet?

On Thu, May 18, 2017 at 12:10 PM Nyxw0rm <notifications@github.com> wrote:

[2017-05-18 02:12] Nyxw0rm commented on #519
ok , I do not notice that jajaja thanks

[2017-05-18 02:13] #519 closed

[2017-05-18 03:37] EternalBlues opened #520 "You can't build a listener like you did before"
## Empire Version
os Version debian8

After version updates,
You can't build a listener like you did before

[2017-05-18 03:54] vindia9 opened #521 "configure xar error"
## Empire Version

2.0

## OS Information (Linux flavor, Python version)

Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

sudo ./install.sh

.......

xar-1.5.2/install-sh

...

checking for openssl/evp.h... yes
checking for OpenSSL_add_all_ciphers in -lcrypto... no
configure: error: Cannot build

[2017-05-18 05:23] wambiri commented on #520
./G0atch555---

[2017-05-18 05:23] wambiri commented on #520
./G0atch555---

[2017-05-18 08:11] Ug0Security commented on #520
Same here on kali 2. 0 x64
![image](https://cloud.githubusercontent.com/assets/28728543/26192492/307737f4-3bb2-11e7-9969-c0af2d2dddd9.png)

I don't know if this is linked but it seems to have a mistake one the root path when reloading modules
(double slash before lib)
![image](https://cloud.githubusercontent.com/assets/28728543/26192529/5eeab264-3bb2-11e7-8d25-5836bc8e51fc.png)

[2017-05-18 08:14] Ug0Security commented on #520
same here on kali 2.0 x64

![image](https://cloud.githubusercontent.com/assets/28728543/26192580/a2251290-3bb2-11e7-847e-8a37e8855984.png)

I don't know if this is linked but there is also a mistake iun the root path when i reload module

![image](https://cloud.githubusercontent.com/assets/28728543/26192613/c1fcdb8e-3bb2-11e7-8a1c-73fdd9c558f4.png)

[2017-05-18 08:18] Ug0Security commented on #520
Just to share it used to work this way

![image](https://cloud.githubusercontent.com/assets/28728543/26192784/48101146-3bb3-11e7-81d1-4c5426df2e11.png)

(forget le module number i just tried to copy all from new release)

[2017-05-18 11:08] xorrior commented on #520
Help will show you all available commands in the current menu.

From the listeners menu:  uselistener http. Then set your options. Then execute.

[2017-05-18 11:08] #520 closed

[2017-05-18 18:10] bigsamsunghpone opened #522 "empire"
/empire
Traceback (most recent call last):
  File "./empire", line 11, in <module>
    from lib.common import empire
  File "/root/Empire/lib/common/empire.py", line 30, in <module>
    import stagers
  File "/root/Empire/lib/common/stagers.py", line 21, in <module>
    import macholib.MachO
ImportError: No module named macholib.MachO

Parrot Security OS

[2017-05-19 00:22] dwendt opened #523 "sysinfo string fails to build, causing agent-stager to fail to register to the server."
Hey, latest master version, on a Win 7 x64 host (pretty irrelevant)

https://github.com/EmpireProject/Empire/blob/73358262acc8ed3c34ffc87fa593655295b81434/data/agent/stagers/http.ps1#L160

["bitvise sshd" creates a user all non-windows-user SSH sessions run under](https://www.bitvise.com/wug-accounts) that seems to have that WMI query restricted, among others. It results in the server receiving a

[2017-05-19 00:33] #518 closed

[2017-05-19 08:06] redsnakefi commented on #514
I was about to file the same issue. Listeners 101 page need to be updated or create a separate page for 2.0. New users following reading popular Empire tutorial sites expect to see something from "info" after invoking "listeners". I only learn in this Issues page that I have to invoke "uselistener http" as well.

[2017-05-19 11:28] bustudo opened #524 "some bugs"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali Linux Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Trying to make listener

## Screenshot of error, embedded text output, or Pastebin link to the error
![screenshot from 2017-05-19 07-25-15](https://cloud.githubuserco

[2017-05-19 13:30] ThePirateWhoSmellsOfSunflowers commented on #524
Syntax has changed with 2.0 :
[code]
http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

[2017-05-19 16:02] #524 closed

[2017-05-20 21:43] byt3bl33d3r commented on #507
There really was no use for the existing --rest flag due to the reasons I mentioned above. When the PR is merged the --rest flag will start the API and the console.

Cheers

[2017-05-20 22:02] Viss commented on #507
Ah, perfect! :D

[2017-05-21 01:41] byt3bl33d3r opened #526 "[Feature Request] Return Job ID in 'Agent Results' and 'Execute Module' API call"
Currently there is no way of tracking if the output for a specific job has been returned. It would be great if the 'Get Agent Results' API call returned something along the lines of
[code]
And similarly if the 'Execute Module' API call returned something like:
[code]

[2017-05-21 16:37] byt3bl33d3r commented on #526
Closing, changes were merged to the dev branch.
Thanks!

[2017-05-21 16:37] #526 closed

[2017-05-21 21:31] 0patch opened #530 "unknow syntax error"
## Empire Version
Empire 2.0

## OS Information (Linux flavor, Python version)
Kali Linux 2017.1  and Python 2.7.13

Unable to set any listener due to ***Unknown syntax error.

## Screenshot of error, embedded text output, or Pastebin link to the error
![screenshot from 2017-05-21 22-30-32](https://cloud.githubusercontent.com/assets/24611288/26287517/296edbf4-3e75-11e7-9a4a-af7d3ab539b7.png)

[2017-05-22 00:09] rvrsh3ll commented on #530
2.0 has new syntax. check it out here http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

[2017-05-22 00:09] #530 closed

[2017-05-22 01:25] xorrior commented on #507
Addressed in #529

[2017-05-22 01:25] #507 closed

[2017-05-25 14:32] malcomvetter opened #533 "Empire does not support using domain fronting over HTTPS"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
*nix

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Empire supports domain fronting over HTTP, but not HTTPS.  CDNs, such as cloud front, fail to negotiate TLS/SSL or something as we see the TCP packets come in, but Empire does nothing

[2017-05-25 14:33] malcomvetter commented on #533
The solution for this _may_ also resolve this bug:
https://github.com/EmpireProject/Empire/issues/369

[2017-05-26 20:46] rvrsh3ll commented on #533
https://media.giphy.com/media/26DOs997h6fgsCthu/giphy.gif

[2017-05-27 18:05] GoltikRee opened #534 "Empire doesn't work if there are any non-ASCII chars in path to it"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)

Kali Linux 2017.1 Rolling, Python v2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Empire doesn't start and all the scripts in `setup/ ` don't work if there are any non-ASCII chars in path to it

## Screenshot of error, embedde

[2017-05-27 23:48] anonhazard commented on #334
I am having problems with the commands mentioned above.
![edit](https://cloud.githubusercontent.com/assets/29004265/26524967/d8bc8d70-431d-11e7-9cdc-88eef85e4d75.jpg)

[2017-05-28 00:05] xorrior commented on #334
https://www.harmj0y.net/blog/empire/the-empire-strikes-back/. <<<< Updated syntax is documented in this post.

[2017-05-28 00:31] xorrior commented on #523
Can you elaborate a little bit? Is this only in context of the bitvise user?

[2017-05-28 00:32] xorrior commented on #523
We can just wrap each wmi query on try catch blocks

[2017-05-28 00:41] xorrior commented on #501
@Gr3yCod3riX could you give some information about your hosting provider? I'd like to test with a setup very similar to yours.

[2017-05-28 11:32] mnzkf07 opened #537 "Dropbox Listener fails to execute"
## Empire Version
2.0 (fetched today)

## OS Information (Linux flavor, Python version)
Ubuntu 16.04.2 LTS
Python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The dropbox listener fails to execute, drops a seemingly urllib related error.

## Screenshot of error, embedded text output, or Pastebin

[2017-05-28 15:01] tehseensagar opened #538 "bunch of errors can not start"
## Empire Version
latest from repository

## OS Information (Linux flavor, Python version)
Ubunut 14 , python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

./empire
Traceback (most recent call last):
  File "./empire", line 11, in <module>
    from lib.common import empire
  File "/opt/Empire-master/

[2017-05-28 15:10] xorrior commented on #538
Empire is only compatible with python 2.7. You are using the wrong version of python.

[2017-05-28 15:10] #538 closed

[2017-05-28 15:12] xorrior commented on #537
I would setup and install the dropbox pip package on a standalone box. It's a third party module so there isn't much support we can provide.

[2017-05-28 15:12] #537 closed

[2017-05-28 15:40] tehseensagar commented on #538
python -V
Python 2.7.6

[2017-05-28 17:00] johnjohnsp1 opened #539 "TypeError: 'NoneType' object is not iterable"
## Empire Version
latest (issued git clone on 05/28/2017

## OS Information (Linux flavor, Python version)
Linux 2017 4.9.0-kali4-amd64 #1 SMP Debian 4.9.25-1kali1 (2017-05-04) x86_64 GNU/Linux
Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
once git cloned the empire from repo I used those co

[2017-05-28 17:26] tehseensagar opened #540 "empire error python 2.7"
##Empire Version

latest from repository

##OS Information (Linux flavor, Python version)

Ubunut 14 , python 2.7

##Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

./empire
Traceback (most recent call last):
File "./empire", line 11, in
from lib.common import empire
File "/opt/Empire-master/lib/common/empire.

[2017-05-28 18:25] xorrior commented on #539
You only need to run install. The install script will run the database setup. Try running reset.shOn May 28, 2017 1:01 PM, johnjohnsp1 <notifications@github.com> wrote:Empire Version
latest (issued git clone on 05/28/2017
OS Information (Linux flavor, Python version)
Linux 2017 4.9.0-kali4-amd64 #1 SMP Debian 4.9.25-1kali1 (2017-05-04) x86_64 GNU/Linux
Python 2.7.13
Expected behavior and descripti

[2017-05-28 19:11] johnjohnsp1 commented on #539
thanks for the reply, did run again ./install and everything went fine is now working !

[2017-05-28 19:12] #539 closed

[2017-05-29 08:12] n0n0n0n0 opened #542 "'ascii' codec can't encode characters in position 3-6: ordinal not in range(128)"
## Empire Version
latest

## OS Information (Linux flavor, Python version)
debian 7

when i'm trying to cd or ls folder with russian name(for example)

it shows me
[code]
if i set default language for python to utf-8 in empire file it will show:
[code]
seems packet just gets broken

i've tried to install locales/etc from google, nothing help

[2017-05-29 09:38] yohancourbe opened #543 "Bypass UAC not working due to unexisting key"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Ubuntu 17.04 / Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The bypassuac isn't working. The line 61 of `/data/module_source/privesc/Invoke-BypassUAC.ps1` tries to store the payload in `HKCU:Software\Microsoft\Windows\U

[2017-05-29 09:52] #543 closed

[2017-05-29 09:58] yohancourbe commented on #543
can be deleted (wrong diagnostic)

[2017-05-29 18:27] xorrior commented on #540
You need to run the install.sh script

[2017-05-29 18:27] #540 closed

[2017-05-30 16:49] wonktnod commented on #466
I have the same problem with a version pulled from today (2017-05-30). Whatever I give as a value for CertPath in the listener/http setup is ignored. I can supply an arbitrary file e.g. /etc/passwd and the listener comes up without an error. However there is an easy fix, just copy the pem file over the default file created during setup in data/empire.pem. Since that file will be used anyway as lon

[2017-05-30 17:08] wonktnod opened #548 "Http Listener CertPath change got reverted and is now fixed again"
## Empire Version
Current

## OS Information (Linux flavor, Python version)
n/a

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The http listener in /lib/listeners/http.py is using the data/empire.pem in any case because a previous change to use the value supplied in CertPath got reverted later.

The custom

[2017-05-30 18:15] themonio opened #549 "Payload generation in bytes"
I would like to know how can I generate the payload in bytes, directly in order to add into the memory

[2017-05-30 20:04] #549 closed

[2017-05-30 20:04] xorrior commented on #549
@themonio if you are referring to shellcode, we don't have it.

[2017-05-30 20:21] themonio commented on #549
hey @worrior and in any near update? thanks for your quick reply!

[2017-05-30 23:01] linuxdaddy opened #550 "Errors during install."
## Empire Version
Latest, just downloaded it.

## OS Information (Linux flavor, Python version)
Kali Linux

## Screenshot of error, embedded text output, or Pastebin link to the error
![screenshot from 2017-05-31 00-18-22](https://cloud.githubusercontent.com/assets/26394383/26608542/7a57f2ca-459c-11e7-83a2-a1a223d0f9b1.png)
![screenshot from 2017-05-31 00-18-45](https://cloud.githubusercontent.com

[2017-05-30 23:24] xorrior commented on #550
The pip install is setting up the 3.5 version and not 2.7. Empire uses python 2.7On May 30, 2017 7:01 PM, linuxdaddy <notifications@github.com> wrote:Empire Version
Latest, just downloaded it.
OS Information (Linux flavor, Python version)
Kali Linux
Screenshot of error, embedded text output, or Pastebin link to the error

Any additional information
Tried pip install pydispatcher and still didnt wo

[2017-05-31 11:23] themonio opened #551 "bypassuac detected by AV"
When I try bypassuac this action is detected by the AV. Any hint for this? Thanks!

[2017-05-31 11:30] xorrior commented on #551
There are plenty of alternative methods for byassing uac. I would highly suggest doing some research to find them.On May 31, 2017 7:23 AM, themonio <notifications@github.com> wrote:When I try bypassuac this action is detected by the AV. Any hint for this? Thanks!

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-31 12:50] linuxdaddy commented on #550
And how do i fix it?

[2017-05-31 13:00] themonio commented on #551
i'm using your tutorial https://www.youtube.com/watch?v=v0zYorQ0eEY but same problem, will keep with the research

[2017-05-31 14:00] #551 closed

[2017-05-31 14:06] y0d4a commented on #521
is there solution for this?

[2017-05-31 18:44] xorrior commented on #550
I would suggest changing your default python version:
https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux

[2017-05-31 18:44] #550 closed

[2017-05-31 18:48] xorrior commented on #534
Unfortunately, we don't provide any support for unicode characters in Empire right now. We'd certainly appreciate any solutions you may have.

[2017-05-31 18:48] #534 closed

[2017-06-01 06:12] thesle3p commented on #462
Any plans on merging this?

[2017-06-01 09:07] X0buf opened #554 "It is highly recommended that you instead just switch your application to Unicode strings."
[>] Enter server negotiation password, enter for random generation:
Traceback (most recent call last):
  File "./setup_database.py", line 91, in <module>
    c.execute("INSERT INTO config VALUES (?,?,?,?,?,?,?,?,?,?,?)", (STAGING_KEY, INSTALL_PATH, IP_WHITELIST, IP_BLACKLIST, '', '', False, API_USERNAME, API_PASSWORD, '', API_PERMANENT_TOKEN))
sqlite3.ProgrammingError: You must not use 8-bit bytes

[2017-06-01 11:04] #506 closed

[2017-06-01 11:49] xorrior commented on #554
@X0buf Does running reset.sh do anything for you?

[2017-06-01 12:09] xorrior commented on #548
Fixed https://github.com/EmpireProject/Empire/commit/5a530fede9ddd064cd7dfea57ffc3868328ca456

[2017-06-01 12:09] #548 closed

[2017-06-01 12:10] xorrior commented on #466
Fixed https://github.com/EmpireProject/Empire/commit/5a530fede9ddd064cd7dfea57ffc3868328ca456

[2017-06-01 12:35] xorrior commented on #462
@thesle3p do you have a pull request? This would be great. Would also require some serious overhead. I remember seeing a python port of Invoke-Obfuscation out there somewhere....

[2017-06-01 16:15] cobbr commented on #462
Sorry guys, I'm still working on this.

A lot of issues came up when moving to Empire 2.0 with a particular type of obfuscation within Invoke-Obfuscation, I can submit a PR w/ that mode of obfuscation disabled for now and just re-enable it once it's fixed. Or keep working through some of the bugs until it's ready.

The only python port I've seen only included the ASCII encoder, if I remember right

[2017-06-02 09:37] gedsic commented on #521
It worked for me (Kali 2017.1 Rolling) with libssl1.0-dev instead of libssl-dev. You'll have to replace the relevant line in empire's install.sh script.

[2017-06-02 13:32] iloveboobs1 opened #555 "Empire error"
Traceback (most recent call last):
  File "./empire", line 11, in <module>
    from lib.common import empire
  File "/root/Empire/lib/common/empire.py", line 30, in <module>
    import stagers
  File "/root/Empire/lib/common/stagers.py", line 21, in <module>
    import macholib.MachO
ImportError: No module named macholib.MachO

[2017-06-02 13:54] rvrsh3ll commented on #555
What OS are you trying to run this on? And did you run the install?

[2017-06-02 14:25] c0d3xpl0it opened #556 "Empire Issue"
Team,

I am running Empire 2.0 on Kali rolling 2017 edition. But I am not able set up listener, can you guide ?

![image](https://cloud.githubusercontent.com/assets/8144002/26730063/70e561be-47b8-11e7-8580-6193cd71d59f.png)

[2017-06-02 14:52] y0d4a commented on #521
that was it, thank you!

[2017-06-02 15:11] xorrior commented on #521
Thanks @gedsic . I'll update the install script @vindia9 @y0d4a

[2017-06-02 16:01] ThePirateWhoSmellsOfSunflowers commented on #556
See #530

[2017-06-02 16:17] c0d3xpl0it commented on #556
Thanks a lot.

[2017-06-02 16:17] #556 closed

[2017-06-03 01:10] iloveboobs1 commented on #555
Im trying to run on Kali I did a ./install.sh

[2017-06-03 02:03] trustedsec commented on #143
I have the same issue. When I run PowerShell I am not getting an Empire shell. Looking for help. Running BackTrack version 1 with python 1.2.

[2017-06-03 02:05] BrandonEckert commented on #143
Does this work on windows 98 SE?

[2017-06-03 02:27] synopsis19 commented on #143
For those who may still be having this problem: try running the Windows Network Troubleshooter.  If you get a "can't identify the problem" result, that almost certainly means systemd has become corrupted on your machine. Set up dual-booting on the box with Windows 10 and the latest version of Solaris; most of the time that should resolve the issue.

[2017-06-03 02:33] byt3bl33d3r commented on #143
I seem to be having the same issue running powershell scripts:
[code]
Why it no worky?

[2017-06-03 02:38] BrandonEckert commented on #143
Perhaps use the sudo? Sudo makes everything worky. Sh...py...ps1...bmp.

[2017-06-03 12:10] mr64bit commented on #143
@byt3bl33d3r try adding
#!c:\Windows\System32\WindowsPowerShell\v1.0\powershell to the top of the
script.

On Fri, Jun 2, 2017 at 10:33 PM, byt3bl33d3r <notifications@github.com>
wrote:

[2017-06-03 16:17] llovoll commented on #359
I encountered the same problem, how can you solve, thank you.   [!] Exception: 'launcher'

[2017-06-03 16:27] llovoll opened #558 "usemodule persistence/powerbreach/eventlog ---but [!] Exception: 'launcher'"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)

kali2.0    Python 2.7.9
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
usemodule persistence/powerbreach/eventlog
execute
[!] Exception: 'launcher'

how can i fix it? thank you

## Screenshot of error, embedded text output, or Pastebin

[2017-06-03 21:25] rvrsh3ll commented on #555
try "sudo pip install macholib"

[2017-06-04 08:32] rokups commented on #398
I can see this being useful for running a persistent keylogger and delivering keystrokes upon a connection and not having to maintain active connection to listen to keystrokes.

[2017-06-04 11:06] tehseensagar opened #559 "Unable to create listner"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)

Python v-2.7

Ububtu

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

                Welcome to the Empire
================================================================
 [Empire]  Post-Exploitation Framework
=======================

[2017-06-04 11:35] ThePirateWhoSmellsOfSunflowers commented on #559
See #530...

[2017-06-04 18:36] #559 closed

[2017-06-04 18:36] xorrior commented on #555
@iloveboobs1 can you confirm the install completed successfully?

[2017-06-04 19:08] iloveboobs1 commented on #555
sudo pip2 install macholib
 Fixed the problem thanks rvrsh3ll

[2017-06-05 08:05] 0xffffe001 commented on #558
I'm facing the same issue with this module. I am using the same OS and Python version as @llovoll
https://youtu.be/md6sLIb0nhE
Please @sixdub can you look into this?

[2017-06-05 16:59] xorrior commented on #558
@llovoll Most likely the modules need to be updated. We'll check it out.

[2017-06-05 17:36] #555 closed

[2017-06-05 21:02] aidden-laoch opened #561 "Issue with starting Listener"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali Linux - Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
In the Listener context menu the commands 'run' and 'set' are missing resulting in the inability to start a listener.

## Screenshot of error, embedded text outp

[2017-06-05 21:03] aidden-laoch commented on #561
Just realized that I didn't show the results from the list command. Just in case anyone was wondering.

![image](https://cloud.githubusercontent.com/assets/24680240/26803085/ec838666-4a10-11e7-9a3a-0fc6d97afb09.png)

[2017-06-06 00:52] necony286 opened #562 "Trouble with new empire passing shell to meterpreter"
kali rolling
empire 2
im having trouble with the injectshellcode module with new empire syntax, i cant figure out how to open a meterpreter shell from empire ?

(Empire: neco1target) > injectshellcode listener pid

i cant change the payload
"Payload   False       reverse_http              Metasploit payload to inject
                                                  (reverse_http[s])."
and when i

[2017-06-06 00:54] necony286 commented on #561
change of syntax bro
http://www.harmj0y.net/blog/empire/the-empire-strikes-back/ heres some help

[2017-06-06 01:26] liteman opened #563 "KeyError -agents.py- line 1273 in handle_agent_staging -- Agent Creation Fails"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
kali linux rolling - python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Have a listener configured, and stager.hta executed on target system. Python exception thrown during agent negotiation

## Screenshot of error, embedded te

[2017-06-06 02:55] xorrior commented on #563
@liteman Can you run empire with the --debug 2 flag and then re-execute? We need to see what part of the staging process is failing.

[2017-06-06 02:55] #561 closed

[2017-06-06 02:57] xorrior commented on #562
The meterpreter listener in Empire is essentially a foreign listener. Meaning, you will need to setup a separate metasploit instance and then configure the meterpreter listener in Empire to point to your metasploit listener.

[2017-06-06 02:57] #562 closed

[2017-06-06 02:58] xorrior commented on #501
@Gr3yCod3riX I'm closing this for inactivity.

[2017-06-06 02:58] #501 closed

[2017-06-06 15:56] mlinton commented on #533
Any updates on the PR for this?

[2017-06-06 17:43] liteman commented on #563
With --debug 2:

(Empire: stager/windows/hta) >  listeners/http : [*] GET request for 141.190.1.7:8080/admin/get.php from 141.190.1.26
 listeners/http : [*] GET cookie value from 141.190.1.26 : session=/3qHUFdfTw4Hew+bubmBXZmIYTw=
 Agents : [*] handle_agent_data(): sessionID 00000000 issued a STAGE0 request
 listeners/http : [*] Sending POWERSHELL stager (stage 1) to 141.190.1.26
 listeners/http :

[2017-06-06 17:52] xorrior commented on #563
Is this with every agent? Can you do a fresh git pull and retry?On Jun 6, 2017 1:43 PM, liteman <notifications@github.com> wrote:With --debug 2:
(Empire: stager/windows/hta) >  listeners/http : [] GET request for 141.190.1.7:8080/admin/get.php from 141.190.1.26
listeners/http : [] GET cookie value from 141.190.1.26 : session=/3qHUFdfTw4Hew+bubmBXZmIYTw=
Agents : [] handle_agent_data(): sessionID 0

[2017-06-06 17:56] liteman commented on #563
Not sure what you mean by every agent -- I haven't been able to get any agents created. This is using a fresh clone yesterday, http listener and windows/hta stager.

[2017-06-06 17:59] liteman commented on #563
Just did a fresh pull -- and got the same result:

(Empire) >  listeners/http : [*] GET request for 192.168.1.1:8080/admin/get.php from 192.168.1.1
 listeners/http : [*] GET cookie value from 192.168.1.1 : session=/3qHUFdfTw4Hew+bubmBXZmIYTw=
 Agents : [*] handle_agent_data(): sessionID 00000000 issued a STAGE0 request
 listeners/http : [*] Sending POWERSHELL stager (stage 1) to 192.168.1.1
 liste

[2017-06-06 18:00] necony286 commented on #562
When i try to make my empire metasploit listener point to my metasploit listener i cant my listener to work cuz the port is already in use

[2017-06-06 19:03] necony286 commented on #562
ty it was helpfull

[2017-06-06 19:47] aidden-laoch commented on #561
Thanks! I knew deep down it was me. Figured you guys wouldn't let anything like that happen.

[2017-06-06 19:48] necony286 opened #564 "passing shell from Empire to Meterpreter metasploit"
## Empire Version

2
## OS Information (Linux flavor, Python version)
kali rolling 192.168.1.110 (host)
win7 x86 192.168.1.112

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
started metasploit listener on port 2286 host kali
started empire meterpreter listener on port 2286 host kali name: Emeterpreter (poi

[2017-06-06 20:11] liteman commented on #563
Further testing -- this seems to be specific to the host executing the stager.hta. Some security getting in the way. Can anyone provide some insight into what is happening at this stage? "sessionID Z4EHU9CY issued a STAGE2 request"

[2017-06-07 01:04] Viss commented on #533
![image](https://user-images.githubusercontent.com/1756255/26857825-55e3e778-4ae2-11e7-9af7-b19c7d380fb9.png)

if you force powershell to barf up a proper, usable error, it complains that the 'host' header cannot be modified directly, and this is what is causing the problem. It seems as though either powershell has changed preventing this behavior, or empire has changed the way the headers are mod

[2017-06-07 01:20] malcomvetter commented on #533
@mlinton see @dchrastil's PR.

@viss that's not an error we saw. We had issues with certs being invalid. Let's see if that error persists after the cert code is in place. Seems like it's a separate issue.

[2017-06-07 01:36] xorrior commented on #533
@Viss the exception that you are noting is an entirely different issue. Modifying the host header is only possible with .net v4.0+, hence the ability to add custom headers is always optional.

[2017-06-07 09:17] ayanamirins opened #567 "Unexpected error: <class 'struct.error'> run empire"
- [ ]

- [ ] ##

 Empire Version
2

## OS Information (Linux flavor, Python version)

kali 2017 1 amd64
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

plz.. hellp me..  ./empire  or empire RESTful API

Unexpected error:  <class 'struct.error'>

why ??
## Screenshot of error, embedded text output, or Pasteb

[2017-06-07 17:55] benichmt1 commented on #564
have you tried injecting in something more stable such as spoolsv.exe?

[2017-06-07 18:37] liteman commented on #563
Commented out "$ErrorActionPreference = "SilentlyContinue";" from http.ps1... First exception thrown in powershell while executing http.ps1:
New-Object : Exception calling ".ctor" with "0" argument(s): "This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms."
At line:1 char:1593

[2017-06-07 19:56] loneferret commented on #567
Getting the same

`root@kali:~/Empire# ./empire
[*] Loading stagers from: /root/Empire//lib/stagers/
[*] Loading modules from: /root/Empire//lib/modules/
[*] Loading listeners from: /root/Empire//lib/listeners/
Unexpected error: <class 'struct.error'>
Unexpected error: <class 'struct.error'>
Unexpected error: <class 'struct.error'>
Unexpected error: <class 'struct.error'>`

[2017-06-07 21:11] xorrior commented on #563
This was a known issue previously. https://github.com/EmpireProject/Empire/issues/35 . Standby, trying to find out whether or not there was a fix.

[2017-06-07 23:17] xorrior commented on #567
@ayanamirins @loneferret I'm really not sure what is causing the error. It'll take some time to figure it out. Do you lose any functionality in empire when this happens? I was able to reproduce this but Empire *seemed* to still work without any issues. Please let me know.

[2017-06-07 23:42] necony286 commented on #564
not home atm but ill try so tommorow

[2017-06-08 00:23] xorrior commented on #338
Closing until this issue can be reproduced

[2017-06-08 00:23] #338 closed

[2017-06-08 00:23] xorrior commented on #342
Closing. No progress.

[2017-06-08 00:23] #342 closed

[2017-06-08 04:49] backtoback1 opened #568 "how can add new module to empire 2?"
## Empire Version 2

## OS Information (kali linux)

## Hello Guys i was trying to add new module to empire V2 i put the module in the right path
(the powershell script and the python script) but when i run the module it show this error
[!] Invalid module or agent language version: 'MinLanguageVersion'

Thanks
Regards

[2017-06-08 07:46] jiankeabc commented on #567
I installed it ,run happen the same thing like @loneferret, the software can be run ，but the function can't be use,use listeners-->info can't show any thing to me.

[2017-06-08 12:18] mr64bit commented on #568
Can you show us the self.info and self.options dictionaries?

On Thu, Jun 8, 2017 at 12:49 AM, backtoback1 <notifications@github.com>
wrote:

[2017-06-08 15:12] ayanamirins commented on #567
empire 또는 empire-web 에서 리스너를 만들수는 있지만 피해자 컴퓨터에 파일을 실행 시켜도 에이전트 연결이 되지 않으며, 리스너생성 오류가 나타남.
현제 empire-master 버전 과 empier-dev 버전 에서만 같은 오류가 발생하며 empire1.6 버전은 아무런 문제없이 사용이 가능함.
또다른 여기서 궁굼한점은 empire-dev & empire-web dev 버전으로 설치를 하여 실행을 할경우 리스너타입에 따라서 추가설정을 따로 해줘야 에이전트 연결이
가능한지 궁굼합니다.

[2017-06-08 15:20] ayanamirins commented on #567
Even if I create 'listeners' in empire or empire-web, I can not connect 'agent' even if I run the file on the victim machine.
The same error occurs only in the current empire-master and empier-dev versions.
The empire1.6 version can be used without any problems.
If you are running empire-dev & empire-web dev, you can use 'empire-web' with 'listenersTYPE'
I am wondering if it is possible to connect

[2017-06-08 17:45] backtoback1 commented on #568
HI @mr64bit
where i can find this files?

[2017-06-08 22:22] frohoff opened #570 "[feature request] stale agent indicator(s)"
It would be useful to provide a way to quickly determine whether an agent is stale or not without having to constantly check and compare the last seen time with the calculated check-in window. Practical uses of this would be knowing when agents might be disappearing due to defender actions (downing processes/hosts or blocking c2 addresses) or when agents have come back online and are ready for fur

[2017-06-08 22:47] frohoff opened #571 "[feature request] option to include module parameters in agent logs"
The existing Empire agent logs have been an invaluable time-saver in keeping records during operations. One area for improvement would be to allow a user-configurable option (cli or global ) to include module parameters in agent log output when modules are executed instead of the current terse single-line output:

[code]

Some modules could have fairly verbose and/or numerous options, so it might

[2017-06-08 23:23] xorrior commented on #571
Sure, PR's are always welcome.On Jun 8, 2017 6:47 PM, Chris Frohoff <notifications@github.com> wrote:The existing Empire agent logs have been an invaluable time-saver in keeping records during operations. One area for improvement would be to allow a user-configurable option (cli or global ) to include module parameters in agent log output when modules are executed instead of the current terse sing

[2017-06-08 23:23] xorrior commented on #570
Sure, PR's are always welcome.On Jun 8, 2017 6:22 PM, Chris Frohoff <notifications@github.com> wrote:It would be useful to provide a way to quickly determine whether an agent is stale or not without having to constantly check and compare the last seen time with the calculated check-in window. Practical uses of this would be knowing when agents might be disappearing due to defender actions (downing

[2017-06-09 05:07] loneferret commented on #567
@xorrior As far as I can tell, no loss of functionality but I'll admit I didn't test out all the modules etc. Time was factor so I switched to a previous version.

[2017-06-09 23:04] #570 closed

[2017-06-09 23:04] #571 closed

[2017-06-09 23:34] mr64bit commented on #570
There's an undocumented argument for the `list` command when in the agents
list. If you type `list 5`, it will show only agents that have checked in
with the past 5 minutes. Alternatively, `list stale` will list stale agents.

The code for filtering which agents to display is at
https://github.com/EmpireProject/Empire/blob/master/lib/common/empire.py#L625

and for formatting the agent list to prin

[2017-06-10 03:29] xorrior commented on #567
Fixed

[2017-06-10 03:29] #567 closed

[2017-06-10 03:32] xorrior commented on #568
@backtoback1 If you look in empire/lib/modules/ you should see a powershell and python module template. Modify the respective template for your module, then move that module file to the appropriate folder.

[2017-06-10 03:32] #568 closed

[2017-06-10 03:41] xorrior commented on #564
This looks like an issue more so with the process you are injecting to than an issue with Empire. @necony286 Have you been able to reproduce the issue with another process or another host?

[2017-06-10 03:47] xorrior commented on #563
@liteman  This was fixed previously. The alg was changed from SHA1 to HMACSHA256. Not sure what we can do when it comes to FIPS. We'll look into it.

[2017-06-10 03:59] backtoback1 commented on #568
@xorrior the MinLanguageVersion of powershell template is the same with the module i want to import
both is 2 and i can't edit python version at my module

[2017-06-11 01:44] necony286 commented on #564
now it just get's stuck at [*] Sending stage (957487 bytes) to 192.168.1.112
its getting late tho so. im going to get up tommorow and continue with this.

[2017-06-11 01:48] necony286 opened #572 "usemodule collection/ninjacopy not working"
## Empire Version
2
## OS Information (Linux flavor, Python version)
kali rolling
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
usemodule collection/ninjacopy "not working properley"

(Empire: powershell/collection/ninjacopy) > info

              Name: Invoke-NinjaCopy
            Module: powershell/colle

[2017-06-11 11:29] necony286 commented on #564
(Empire: NEXK2Z6U) > injectshellcode meterpreter 1292
(Empire: powershell/code_execution/invoke_shellcode) > info

              Name: Invoke-Shellcode
            Module: powershell/code_execution/invoke_shellcode
        NeedsAdmin: False
         OpsecSafe: True
          Language: powershell
MinLanguageVersion: 2
        Background: True
   OutputExtension: None

Authors:
  @mattifestation

De

[2017-06-12 08:30] tehseensagar opened #573 "Listener can not created"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali Linux - Python 2.7

## Screenshot of error, embedded text output, or Pastebin link to the error
[](url)
![85ac5292-4a10-11e7-81da-7b50b5e19468](https://user-images.githubusercontent.com/21223363/27025137-3cb408c0-4f0e-11e7-9078-0f07ebc321f0.png)

It would be greate if any one share the steps to create listener in 2.0 vers

[2017-06-12 17:50] necony286 commented on #573
try this
uselistener http

[2017-06-12 19:17] xorrior commented on #572
@necony286 Have you tried to use the powershell script as a standalone script?

[2017-06-12 19:18] xorrior commented on #564
@necony286 Is this reproducible on another host?

[2017-06-12 20:30] necony286 commented on #572
@xorrior sorry, can u explain? i dont know how? what do u mean by standalone script?

[2017-06-12 20:35] xorrior commented on #572
You can try using the scriptimport and scriptrun commands. Or just run invoke ninja copy outside of empire.On Jun 12, 2017 4:30 PM, "Necony286 (Nemanja.B.)" <notifications@github.com> wrote:@xorrior sorry, can u explain? i dont know how? what do u mean by standalone script?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-13 09:02] X1n9 opened #576 "such error: [!]This script must be run as root"
## Empire Version

newest
## OS Information (Linux flavor, Python version)

win7
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
iwant it run in win7,
bash is allowed,
but still except such error:  [!]This script must be run as root

PS G:\PenetrationTools\T00Ls\提权exp\powershell\Empire-master\setup> bash ./i

[2017-06-13 13:44] tehseensagar commented on #573
well does it have only http for listener nothing else? how do  I check for other listener module?

Regards

[2017-06-13 18:03] ThePirateWhoSmellsOfSunflowers commented on #573
just press [TAB] after `uselistener` to see all the listeners.

[2017-06-13 18:24] blackolo007 opened #577 "usestager invalid stager module"
![19197817_1382257978521323_1589402822_o](https://user-images.githubusercontent.com/29411110/27098067-7a2ba0da-50a0-11e7-9789-fd495416d9db.png)
please help me how to fix it

[2017-06-13 19:15] 0xffffe001 commented on #577
Please refer to Issue #573

[2017-06-13 22:57] #577 closed

[2017-06-13 22:58] xorrior commented on #576
The answer is somewhere in the screenshot you posted. It's self-explanatory.

[2017-06-13 22:58] #576 closed

[2017-06-13 22:58] #573 closed

[2017-06-14 01:59] X1n9 commented on #576
nonono , actrually.  i had run cmd.exe or bash.exe as administrator alerady ...
it's still such error
this is the reason i want to ask my dear xorrior

[2017-06-14 06:47] tssoffsec opened #579 "OpenSSL TypeError exception when starting REST interface"
## Empire Version
Git clone 12.06.2017

## OS Information (Linux flavor, Python version)
Kali, Python 2.7.3

[code]

[2017-06-14 10:43] blackolo007 commented on #577
it still not work

[2017-06-14 13:56] blackolo007 opened #580 "Unknown syntax"
![screenshot from 2017-06-14 20-56-22](https://user-images.githubusercontent.com/29411110/27135903-f6b22e0a-5143-11e7-9d32-5b4f9e8d5e64.png)

[2017-06-14 15:29] axpatito commented on #580
I new version you have to input uselistener and choose between listeners before configuring a listener.

[2017-06-14 17:56] ThePirateWhoSmellsOfSunflowers commented on #576
As far as I understand, you want to install Empire on Windows via bash on Windows ? I don't think Empire server is compatible with such setup. Empire (server side) is only compatible with Linux/MacOS.

[2017-06-14 19:48] necony286 commented on #564
yea ive just tryed it on a new host
same thing
[-] Meterpreter session 1 is not valid and will be closed

[*] 192.168.1.106 - Meterpreter session 1 closed.

after around 35sec

[2017-06-14 19:49] necony286 commented on #572
i will get back to you on this tommorow. tons of homework atm. soz

[2017-06-15 04:25] X1n9 commented on #576
Thanks for ur relply,  and then I will trying to setup in my kali ...

[2017-06-15 16:35] X1n9 commented on #580
and i'am also accured this problems ,
and i read ur document,

 but i can't find real reason .....

![1111](https://user-images.githubusercontent.com/21193133/27191811-8f4e779e-522b-11e7-8c62-2b05e408b659.png)

[2017-06-15 18:22] ThePirateWhoSmellsOfSunflowers commented on #580
Read again :
[The uselistener command will allow you to select the type of listener. Hitting TAB after this command will show all available listener types](https://github.com/EmpireProject/Empire/wiki/Quickstart#listeners-101)

[2017-06-15 21:21] #580 closed

[2017-06-15 21:23] xorrior commented on #533
This is now fixed in #569

[2017-06-15 21:23] #533 closed

[2017-06-16 06:51] dchrastil commented on #564
Have you tried the meterpreter migrate command? This will migrate to a new process, which is helpful when the process you are currently on is unstable.

`run post/windows/manage/migrate `

https://www.offensive-security.com/metasploit-unleashed/windows-post-manage-modules/

[2017-06-16 21:49] xorrior commented on #523
Closing for lack of activity.

[2017-06-16 21:49] #523 closed

[2017-06-17 07:57] tehseensagar commented on #573
@ThePirateWhoSmellsOfSunflowers   thanks.

listeners
uselistener <space> <press-tab>
available listener modules are

dbx           http_com      http_hop
http          http_foreign  meterpreter

[2017-06-18 00:33] cbrnrd commented on #564
@necony286 You're not alone. When using `invoke_metasploitpayload`, I get stuck on `Sending stage...` as well.

[2017-06-18 14:07] Hdy8s7XX opened #582 "Upgrade Empire 1.5 to 2.0"
Hi,

i have an empire 1.5, is there a way to upgrade it to 2.0, without losing all of my active and persistent agents

[2017-06-19 01:31] xorrior commented on #582
Unfortunately no. I would suggest setting up an Empire 2.0 server and then passing sessions from the 1.5 server to the new one.

[2017-06-19 01:31] #582 closed

[2017-06-19 08:59] necony286 commented on #564
@dchrastil  yea but i cant get a meterpreter session as u can see

[2017-06-19 12:14] leechristensen commented on #564
This module and the docs need to be updated to remove Metasploit integration.  PowerSploit's Invoke-Shellcode removed the ability to generate Metasploit payloads([see here](https://github.com/PowerShellMafia/PowerSploit/commit/5065810c071a7cdbe5bd28384d35f0b8a90cabeb)).  The likely reason payloads are failing is because Metasploit updated the way payloads and stagers work, so the method used insid

[2017-06-19 13:07] benichmt1 commented on #564
I have the latest versions of MSF and Empire and invoking shellcode gives me no issues with the default reverse_https.

Can you confirm there is no host-based AV that might be interfering?

[2017-06-20 11:25] str4n63r opened #583 "Unable to launch Empire"
Empire Version - Latest source code from Github

OS Information - Kali Linux 2016 R2 (32-Bit)

After successful installation tried launching Empire from **./empire** executable and received below error:
Error Reference: **[https://pastebin.com/kBLqva3q](https://pastebin.com/kBLqva3q)**

[2017-06-20 11:33] xorrior commented on #583
Try running reset.shOn Jun 20, 2017 7:25 AM, Venkata Sateesh Netti <notifications@github.com> wrote:Empire Version - Latest source code from Github
OS Information - Kali Linux 2016 R2 (32-Bit)
After successful installation tried launching Empire from ./empire executable and received below error:
Error Reference: https://pastebin.com/kBLqva3q

—You are receiving this because you are subscribed to t

[2017-06-21 07:03] str4n63r commented on #583
@xorrior Thanks a lot man. This solved my problem.

[2017-06-21 16:44] xorrior commented on #583
@str4n63r your welcome.

[2017-06-21 16:44] #583 closed

[2017-06-22 21:20] ChaitanyaHaritash opened #584 "Empire is not spawning result on current menu"
## Empire Version

2.0

## OS Information (Linux flavor, Python version)
Attacker :
         Kali Rolling(Mate)
         python 2.7

Victim Box :
        Windows 7
        Powershell V2.0
## Issue
I simply wrote a post module which will perform some scans on victim box.. so i expected module to give me result on same menu when i execute it but  at the same time when i interacts with agent, it imme

[2017-06-23 02:58] Viss opened #586 "Python Agent: Some kind of encapsulation problem."
## Empire Version
Newest out of dev branch, June 22 2017

## OS Information (Linux flavor, Python version)
Server is ubuntu, victim is osx, freshest version.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
It appears as though there is something wrong with the mechanism that encapsulates data for transit in

[2017-06-23 03:08] Viss opened #587 "Dropbox listener issues discovered"
## Empire Version
newest out of dev branch, 6/22/2017

## OS Information (Linux flavor, Python version)
attacking machine is ubuntu, target machine is a mac on the newest version of macos

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I have found a number of issues pertaining to the dropbox stager. They a

[2017-06-23 03:13] Viss opened #588 "Python Agent: continuity issues"
## Empire Version
newest dev branch, 6/22/17

## OS Information (Linux flavor, Python version)
ubuntu on the server, newest macos on victim

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The mechanism by which agents identify themselves to empire should include a routine which takes into consideration the

[2017-06-23 03:16] Viss opened #589 "Python Agent: Emoji in command responses breaks the agent"
## Empire Version
newest out of dev, 6/22/17

## OS Information (Linux flavor, Python version)
server ubuntu, target newest macos

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

On a live engagement I encountered a machine which had a single emoji character as its hostname. This broke empire, and agents wo

[2017-06-28 20:50] Brockway commented on #340
hi, kali rolling 2016.2, latest version of empire install script shows that i have the latest version of libssl-dev (1.1.0f-3) but still has the exact same error -

configure: error: Cannot build without libcrypto (OpenSSL)
make: *** No targets specified and no makefile found. Stop.
make: *** No rule to make target 'install'. Stop.
Cloning into 'bomutils'...

Empire finishes compiling but will be

[2017-06-29 12:13] mpras123 opened #595 "uselistener/usestager command doesn't display the supported listerners/stagers information"
## Empire Version
Empire version 2.0

## OS Information (Linux flavor, Python version)
Kali lunux - up to date

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
the uselistener and usestager commands doesn’t display the list of supported listeners/stages instead it simple throws an error message-
(Empire: lis

[2017-06-29 19:19] 0xffffe001 commented on #595
Please take a look at issue #577

[2017-07-03 01:59] arch4ngel opened #598 "Feature Request: Asterisk (*) on use/searchmodule tab completion to designate that elevated context is required"
## Empire Version

~~Sadly, I'm not sure how to identify the exact version of Empire.~~

_edit:_ Version: 1.6 (I'll learn how to Git someday)

## OS Information (Linux flavor, Python version)

Linux flavor, Python version

## Expected behavior and description of the error, including any actions taken immediately

prior to the error. The more detail the better.
When tab completing use/searchmodule,

[2017-07-03 16:39] tbolt678 opened #601 "Internal pivot (listener)"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The management redirector module has been moved to inactive, but the documentation still reference this module as the way to setup a internal pivot.

Is redirector still the preferred int

[2017-07-04 03:14] Liberator69 opened #602 "Plaintext passwords containing spaces not populating creds (manual add fails as well)"
## Empire Version
2.0 (built a few days ago)

## OS Information (Linux flavor, Python version)
Debian 9 (updated a few days ago)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Mimikatz run should populate creds. Works fine with hashes and any plaintext passwords not containing spaces. Manual add fails as w

[2017-07-05 09:43] 8aplus opened #604 "urlib3 timeout.py Problem"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali Rolling 2017
urllib==1.21.1
urllib3==1.21.1
Python 2.7.13
Python 3.5.3+

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I want to execute a Stager. ApiKey is set but when execute I get the following message.
Someone knows a soluti

[2017-07-05 15:31] chowdaryd commented on #604
@8aplus this can happen if you don't have the latest ```python-requests``` module. Can you confirm if the bug remains after you update the ```python-requests``` module. Please run ```pip install -U requests```

[2017-07-05 16:10] 8aplus commented on #604
Great it works. Thx a lot!

[2017-07-06 19:54] pepino87 opened #605 "Problem post installation"
I downloaded the version that is in github but at the moment of executing the application I get the following error

Traceback (most recent call last):

  File "./empire", line 11, in <module>

     From lib.common import empire

  File "/root/Empire/Lib/common/empire.py", line 14, in <module>

     From pydispatch import dispatcher

  ImportError: No module named pydispatch

The version where emp

[2017-07-07 08:56] mpras123 commented on #595
thanks but didn't work..

[2017-07-09 13:40] shannonmcmurtrey commented on #602
I think this is also an issue with invoke_wmi; but I'm seeing the problem with passwords containing quotation marks.  I can add the password; but when I run the module I get the following error:Unexpected token '^gi8<ZVwep' in expression or statement. which contains the portion of the password following the quotation mark.  The quotation mark in the password is the 12th or 13th character, and imme

[2017-07-10 05:48] amfad opened #607 "Cannot start Empire"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Ubuntu 14.04.5 LTS

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I am unable to launch empire. I keep getting the following error

## Screenshot of error, embedded text output, or Pastebin link to the error

/home/ubuntu/Empire# ./emp

[2017-07-12 18:00] jihadLkmaty218 commented on #602
interesting Is there any explanation for some pictures of the error::)

[2017-07-12 18:03] jihadLkmaty218 commented on #604
Be sure to issue Python and with update::)

[2017-07-12 23:42] i-caldwell opened #610 "Disregard - Resolved"
## Empire Version
1.6.0

## OS Information (Linux flavor, Python version)
Debian Linux 8.8 | Python 2.7.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error
![image](https://user-images.githubusercontent.com/30131777/28144527-f6be4c60-6739-11e7-824e-db6d638275cf.png)

## Any additional

[2017-07-12 23:49] i-caldwell commented on #610
Here's the Powershell version on the target machine:
![image](https://user-images.githubusercontent.com/30131777/28144713-3277b57e-673b-11e7-95c5-f82c8b023fd4.png)

[2017-07-13 00:19] Chiggins commented on #605
Did you run the `./setup/install.sh` command? It looks like you're missing the `pydispatch` module, which would be installed by running the `install.sh` script. Be sure to read the [quick start](https://github.com/EmpireProject/Empire/wiki/Quickstart) to avoid running into errors like this.

[2017-07-13 06:11] #604 closed

[2017-07-13 14:35] tristandostaler opened #611 "Feature request - Twitter listener"
I was thinking it could be interesting to do a listener that goes through twitter like this tool:
https://github.com/PaulSec/twittor
That way, it would be more difficult to just block the IP of the C&C server.

[2017-07-17 20:04] majidabdul82 commented on #595
same here not working even after giving **[TAB] right after usestager**

[2017-07-20 11:00] LIZySARA opened #616 "Problem agents"
## Empire Version
Empire 2.0

## OS Information (Linux flavor, Python version)
Kali linux 2017.1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I had to install my machine so reinstaller Empire with the same configurations experiant to take back the old victims but I have this error described below

## Sc

[2017-07-21 00:45] jihadLkmaty218 commented on #616
yes run reset.sh in Empire man::) On Agents

[2017-07-22 00:52] liteman commented on #595
uselistener<space><tab>

[2017-07-22 13:02] majidabdul82 commented on #595
**[Yes it is working. Thanks alot]**

[2017-07-22 14:38] Wh1teHat65 opened #619 "Feature Request: BlackList for Credentials"
Is it possible to add an option to Blacklist credentials; prevent use & storage?

Use Cases:

- Engagements where both a credentialed vuln scan & pentest are occurring via two separate teams.
- On Cyber ranges where the creds of the range admin may be stored for troubleshooting purposes

If there is a way to do this now, any references would be greatly appreciated.  If there is a more appropriate

[2017-07-23 15:32] rvrsh3ll commented on #619
Odd request but, we'll surely look into it.

[2017-07-25 04:59] #610 closed

[2017-07-25 06:30] rvrsh3ll commented on #619
Hello, we've decided not to support this request. Thank you for the info.

[2017-07-25 06:30] #619 closed

[2017-07-25 13:00] Wh1teHat65 commented on #619
Thank-you for your consideration.

[2017-07-25 20:23] rvrsh3ll commented on #611
Great idea! We are always looking into more third-party c2 channels to implement within Empire. Closing this for now but, we hope to work on this feature in the future. Thanks!

[2017-07-25 20:23] #611 closed

[2017-07-25 20:26] rvrsh3ll commented on #616
Yes, reset should fix this. Please let us know if it doesn't.

[2017-07-25 20:26] #616 closed

[2017-07-25 20:28] rvrsh3ll commented on #607
Have you tried resetting the DB with ./reset.sh  ?

[2017-07-25 20:31] rvrsh3ll commented on #605
^ What he said 👍 Let us know if you still have issues!

[2017-07-25 20:31] #605 closed

[2017-07-26 03:32] tristandostaler commented on #611
Great! It's a pleasure and thanks!

[2017-07-26 14:56] rvrsh3ll commented on #602
I found the issue. Cred store parsing and adding needs a bit of an overhaul. Working it. Thanks again for the info

[2017-07-26 16:38] rvrsh3ll commented on #589
lol, will look into this for sure. If you have a fix, PR please!

[2017-07-26 16:48] xorrior commented on #53
@ianlovering working on this today. :)

[2017-07-26 21:40] kellybenim commented on #53
Hey guys, how do I get configure proxy in stagger? What is the syntax for using proxy parameters and proxycreds? For example, how do i to configure the proxy socks5 127.0.0.0 on port 9050?

[2017-07-27 10:46] wifiuk commented on #607
i have the same issue

[2017-07-27 10:47] wifiuk commented on #607
reset fixed it for me

[2017-07-27 12:45] tristandostaler opened #621 "A little help needed"
I don't know if someone might be able to help me.

I started the creation of a new module based on a script created by @subTee. You cann se the most recent commit at https://github.com/tristandostaler/Empire

The module is designed to enable system wide HTTP(s) proxy and add the certificate in the root CA store (at the moment working only with IE). Once this is done, you can see all traffic going

[2017-07-27 16:12] killswitch-GUI commented on #589
this is a unicode issue. I have a parser for this! Will take a look

[2017-07-27 17:04] killswitch-GUI commented on #589
Can not replicate @Viss
<img width="610" alt="screen shot 2017-07-27 at 10 03 06 am" src="https://user-images.githubusercontent.com/8761706/28682739-e4e639b0-72b2-11e7-96c1-7c1cf7009998.png">

Please provide some more info or maybe you can replicate. At the moment it seems like the unicode parsing is correctly working. Are you sure it was in the hostname?

[2017-07-27 17:10] Viss commented on #589
Ah, I should have specified.
The victim in this case was a mac.
and the shell was python.

I guess this is a non issue on windows boxes with powershell agents.
Python though, starts fires :D

[2017-07-27 18:13] killswitch-GUI commented on #589
@Viss ahh ok ty for update will check it out!

[2017-07-28 06:27] killswitch-GUI commented on #589
@Viss pull request open!

[2017-07-28 12:17] sash322 opened #623 "Empire listeners types and their metasploit analogues"
Hello, can you please specify the types of listeners in the empire 2.0 http\meterpreter...etc and their analogs in metasploit. For example, I have a session opened in msf and I want to migrate to Empire using the **windows/manage/payload_inject module**
What types of msf payloads corresponds to the listeners in the empire? Sorry for bad english.

[2017-07-28 16:28] rvrsh3ll commented on #589
Merged into Dev @Viss

[2017-07-28 16:28] #589 closed

[2017-07-30 07:11] majidabdul82 commented on #563
**_I have similar Problem but with UnicodeDecodeError_.** **I have use --debug 2:** **Please Help**
[2017-07-30 17:43:04,640] ERROR in app: Exception on /login/process.php [GET]
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/lib/python2.7/dist-packages/flask/app.py", line 161

[2017-07-30 15:30] pseudoeuro opened #624 "Dropbox listener fails. Requests library issue"
Empire version used is 2.0 on Kali Linux rolling, if you try to execute dropbox listener it will drop this error:

[code]
Apparently the python requests library is to blame for it and needs to be updated to the latest version.

`pip install requests --upgrade` will fix the issue.

Might be a good idea for empire to check if requests is updated while installing?

[2017-07-31 21:13] eqhaleel commented on #595
i have thesame error,can anyone help?

[2017-08-01 07:29] majidabdul82 commented on #595
bro eqhaleel, try with uselistener[ space ][ tab ][ tab ]

[2017-08-02 10:01] mpras123 commented on #595
thanks for the tip, uselistener[ space ][ tab ][ tab ] - worked for me

On Tue, Aug 1, 2017 at 12:59 PM, DynamicHackerBoys <notifications@github.com

[2017-08-02 15:25] xorrior commented on #595
Closing

[2017-08-02 15:25] #595 closed

[2017-08-03 13:36] benichmt1 commented on #624
I also got this issue in ubuntu 14.04

[2017-08-03 16:30] vvalien opened #626 "rest api separate certificate, and client verification"
You can file this under enhancement.

I have recently been working with the rest api and would like empire to have the ability to define a separate certificate to use with rest.

I also think there should be a option to enable client certificate checking, this would greatly increase the security especially if the rest port is internet facing.

We could also add a little helper script to generate t

[2017-08-03 19:48] nullbites opened #627 "multi/bash fails with unknown UID"
## Empire Version
commit 517508d0d6a3125e83a4f62c5f6f7450817a0a26
Author: rvrsh3ll <steveborosh@gmail.com>
Date:   Mon Jul 31 17:34:56 2017 -0400

## OS Information (Linux flavor, Python version)
Linux XXXXX 4.8.0-56-generic 61~16.04.1-Ubuntu SMP Wed Jun 14 11:58:22 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately p

[2017-08-04 01:18] usmarine2141 opened #628 "Issue with empire"
## Empire Version
fresh git clone

## OS Information (Linux flavor, Python version)
Parrot OS

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
when running sudo ./empire to start empire

get the following

Traceback (most recent call last):
  File "./empire", line 1294, in <module>
    main = empire.MainMenu

[2017-08-04 02:09] rvrsh3ll commented on #628
run reset.sh in the setup folder. Let me know if that fixes your issue.

[2017-08-04 02:13] usmarine2141 commented on #628
It did not. I resolved it myself.

On Thu, Aug 3, 2017, 9:09 PM Steve Borosh <notifications@github.com> wrote:

[2017-08-04 13:23] ElysiumSecurity opened #631 "REST API agents/Y/kill fails"
## Empire Version

2.0
## OS Information (Linux flavor, Python version)
kali linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
curl --insecure -i -H "Content-Type: application/json" https://localhost:1337/api/agents/qsdfqsdfqsdf/kill?token=qsdfqsdfqsdf

## Screenshot of error, embedded text output, or P

[2017-08-04 23:46] killswitch-GUI commented on #631
you can confirm that was a active agent right @ElysiumSecurity ?

[2017-08-04 23:47] killswitch-GUI commented on #627
We have had issues like this in the past with the meta data it collects. Ill go take a look now!

[2017-08-04 23:52] killswitch-GUI commented on #628
cool looks like a bad ip in the list? either way cool.

[2017-08-04 23:52] #628 closed

[2017-08-04 23:53] #607 closed

[2017-08-04 23:53] killswitch-GUI commented on #602
@rvrsh3ll how did this go? need me to test the branch?

[2017-08-05 05:22] nullbites commented on #627
Thanks! The example exploit I was trying this on was the fusion level 0 challenge. I was attempting to attack with shellcode that executes a curl to grab another stage for an Implant(Empire). I can provide the example exploit for testing if you'd like.

Actually looking at the error line numbers it appears to be in some of the standard libraries provided by python. I hope this is something we can

[2017-08-06 08:58] ElysiumSecurity commented on #631
Yes @killswitch-GUI

[2017-08-06 19:33] xorrior commented on #369
This may be working now with the fix from #569 . Just need to re-test.

[2017-08-06 19:39] xorrior commented on #563
@liteman  unfortunately we will not be able to support a FIPS environment at this time. Currently, this seems to only be an issue with .NET 3.5 environments. .NET 2.0 and .NET 4.0+ should be fine with the fix from #35 .

[2017-08-06 19:39] #563 closed

[2017-08-06 19:41] xorrior commented on #564
Closing for lack of activity.

[2017-08-06 19:41] #564 closed

[2017-08-06 19:42] xorrior commented on #572
Closing for lack of activity.

[2017-08-06 19:42] #572 closed

[2017-08-06 19:43] xorrior commented on #579
@tssoffsec Can you try a fresh git pull? This may or may not have been before some patches were in place to fix ssl support.

[2017-08-06 19:46] killswitch-GUI commented on #627
@nullbites After a closer look, all of that is escaped. This seems to be a python issue, can u enable the python debugger to see whats up?

[2017-08-06 19:46] xorrior commented on #621
@tristandostaler Your best bet is to get in touch with Casey and see if he could offer any pointers. Also, try just starting with a standalone powershell poc instead of a module. Creating a module could add some unforeseen complexities.

[2017-08-06 19:46] #621 closed

[2017-08-06 19:49] xorrior commented on #584
@ChaitanyaHaritash So I'm not sure what the issue is exactly. It could be many things. It could be that there is a flaw somewhere in your code that is causing the inconsistent behavior. In the module code, the IsBackground flag will determine how the output of your module is handled. I would need some more information such as output from running empire with the --debug 2 flag and also some code.

[2017-08-06 19:49] #584 closed

[2017-08-06 19:50] xorrior commented on #587
Truth be told, I kind of knew about these issues. I just forgot and was lazy. I'll get to this in the next day or two @Viss .

[2017-08-06 19:52] xorrior commented on #588
I'll take a look. I think I know where this needs to be fixed.

[2017-08-06 19:54] xorrior commented on #598
@arch4ngel I'll take a look at your PR. Thanks for the help man.

[2017-08-06 19:54] #598 closed

[2017-08-06 19:55] xorrior commented on #624
@benichmt1 what version of pip did you use to upgrade?

[2017-08-06 19:55] xorrior commented on #624
@pseudoeuro I'll add this to the install script.

[2017-08-07 18:14] benichmt1 commented on #624
I was trying
`pip 8.1.1 from /usr/lib/python2.7/dist-packages (python 2.7)`

[2017-08-07 18:18] nullbites commented on #627
Sure. I'll post the trace within the next few days.

[2017-08-08 16:44] Jamie- opened #634 "Unable to list listeners or view stagers via the CLI"
## Empire Version
[code]

## OS Information (Linux flavor, Python version)
[code]

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I setup a listener in empire as follows:
[code]

Then tried to view the listener using the CLI (in order to later generate a stager) with `./empire -l` and got the following erro

[2017-08-09 08:17] ChaitanyaHaritash commented on #584
actually its HostRecon.ps1 by @dafthack (https://github.com/dafthack/HostRecon), even i think so cos later after this module i made couple of modules and i didn't noticed this issue.. still ill give you referral link to my code if you finds anything odd then you can point it out else we can leave it here :)
code : https://github.com/ChaitanyaHaritash/My-Exploits/tree/master/Emipre%20-stagers%20-%2

[2017-08-09 22:06] rvrsh3ll commented on #634
thank you for the notification of this bug. A fix has been pushed to the DEV branch.

[2017-08-09 22:06] #634 closed

[2017-08-11 19:25] xorrior commented on #53
@ianlovering and anyone else, pushed some code for this https://github.com/EmpireProject/Empire/commit/dcf7207fb60ccd9dfcc6116d13a39b0e3d20a0b7 . Can you test please?

[2017-08-13 02:27] kellybenim commented on #53
Ok guys, but into this file ../Empire/lib/listeners/http.py, how should I manually configure the proxy socks5 127.0.0.1 on port 9050?

[2017-08-13 11:59] xorrior commented on #53
@kellybenim proxy settings are set in stager options.

[2017-08-14 04:18] xorrior commented on #161
@mubix This has been added for the powershell agent https://github.com/EmpireProject/Empire/commit/c27a2d9c604a624f5fe78f6f395b7cf27de52e9c. I will work on getting background downloads into the python portion soon. You will notice downloads will be somewhat slower. Also, the downloads are launched into a separate AppDomain, so the job is not aware of any modified variables in the agent. Whatever h

[2017-08-14 04:31] xorrior commented on #53
@ianlovering manual proxy settings with credentials have been added.

[2017-08-14 16:11] xorrior commented on #161
Sorry nvm, back to the drawing board.

[2017-08-15 03:37] xorrior commented on #623
@sash322  your best bet is to use the empire dll. This is just a reflective dll that will host the CLR, load the PowerShellRunner assembly, and execute an empire stager.

[2017-08-15 03:37] #623 closed

[2017-08-16 02:27] xorrior commented on #161
Completed for the powershell agent in https://github.com/EmpireProject/Empire/pull/638

[2017-08-16 02:27] #161 closed

[2017-08-16 02:28] xorrior commented on #356
We won't be supporting this request at this time. Thanks

[2017-08-16 02:28] #356 closed

[2017-08-17 08:51] paleos opened #643 "EMP2.0: SSL negotiation failure (TLSv1)"
## Empire Version
EMPIRE 2.0 (final)

## OS Information (Linux flavor, Python version)
Client - Win 7 64bit (.NET Framework 4.5.2 installed, Powershell 2)
Server - Linux/KALI2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
 Agent doesn't connect to listener. SSL negotiation error.
=========================

[2017-08-20 12:26] goloem commented on #643
Hello! Same error here! But I'm using cert from letsencrypt! Screen from SSL labs
![ssllabs](https://user-images.githubusercontent.com/31182162/29494827-624da77e-85bb-11e7-9ab1-72dec25a54a2.PNG)
I'm of low proficiency in ssl, but it seems that agent try to use TLS 1.0, and cert only supports TLS 1.2.

[2017-08-20 12:34] goloem commented on #643
Also, I examine installation log from empire. In my case, it failed to compile xar-1.5.2 because of libssl and libz problems. I was able to solve this problems, but it gives no effect to ssl problem.
It would be cool if someone get some advice, how to solve this.

[2017-08-21 15:10] dchrastil commented on #643
Can you guys please post your listener settings (remove sensitive info) so we can see how you have it configured.

[2017-08-22 02:07] cyberdecode commented on #643
Ive been experiencing the same issue using the http Listener defaults. I was receiving this error in both the master and dev branches.

Created a PowerShell multi/launcher stager for a Windows target, and received the TLSv1.0 error. I think PowerShell is connecting via TLS v1.0 and the Empire listener is rejecting it.

By adding the following code to the start of my PowerShell stager, I am able to

[2017-08-22 20:24] kureeoffsec opened #648 "class 'struct.error' ... again"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
kali and ubuntu, both fully updated

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The following errors are displayed on server start up.
[*] Loading stagers from: /pentest/Empire//lib/stagers/
[*] Loading modules from: /pentest/Empire

[2017-08-23 11:37] paleos commented on #53
Hi xorrior,

I;ve tested last DEV version and it seems taht there is still problem, that throug proxy are sent only first 3 http requests (reported in #115 https://github.com/EmpireProject/Empire/issues/115), next http request are sent directly :-(.

p.

[2017-08-23 13:55] xorrior commented on #53
Is this with PowerShell or Python launchers?

[2017-08-23 19:16] paleos commented on #53
Hi xorrios,

Powershell, windows/launcher_bat.

"@echo off start /b powershell -noP -sta -w 1 -enc <payload>"

p.

[2017-08-24 20:03] goloem commented on #643
@dchrastil take a look, please
![listener](https://user-images.githubusercontent.com/31182162/29686101-603458da-8920-11e7-8f59-0ca11cd5ceb4.JPG)

[2017-08-25 01:22] katsu-sec commented on #648
check xorrior's fix for this:
https://github.com/EmpireProject/Empire/commit/37c72f0428d68edc36d4e19ee3540770ef12d981

[2017-08-25 07:44] theguly commented on #648
fix the error but listeners menu doesn't work:
![screen shot 2017-08-25 at 09 40 37](https://user-images.githubusercontent.com/1745802/29704309-8c8d35d8-8979-11e7-9382-945ef67d08b9.png)

(latest kali as of today)

[2017-08-25 12:37] ThePirateWhoSmellsOfSunflowers commented on #648
`uselistener [tab] [tab]` to see available listeners

[2017-08-25 23:16] zero77 opened #653 "[Feature Request] Auto Run Modules At Start"
Can you add the option to set modules to automatically run the first time a new agent connects.
For example, if a new agent connects run the bypassuac and then a persistent module or, any other modules the user selects to run.
Thanks

[2017-08-26 04:08] xorrior commented on #648
@kureeoffsec fixed.

[2017-08-26 04:08] #648 closed

[2017-08-26 04:13] xorrior commented on #643
@paleos Can you post the output from running empire --debug 2 during the staging process. Also, comment out the $ErrorAction preference line in stager.ps1 and remove "-w 1" from the launcher. We will need as much info as possible to debug. Thanks

[2017-08-26 04:21] xorrior commented on #624
@pseudoeuro I updated the install script to remedy this.

[2017-08-26 04:21] #624 closed

[2017-08-27 17:08] drnop opened #654 "Golden ticket gives error with sid: /sid:authority\system-authority\system --- SID seems invalid - ConvertStringSidToSid (0x00000539) - with SID"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Kali Rolling 2.0

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Have a penetration testing lab that has been working for a year without issues with Empire 1.0.
After upgrading to Empire 2.0, most things work as expected but I have the

[2017-08-27 21:34] xorrior opened #655 "Python agents returning invalid data upon exit"
## Empire Version
2.0 Master & dev

## OS Information (Linux flavor, Python version)
Ubuntu Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The return packet for an exit command contains invalid data. The data length field is missing. The server will error when trying to parse the packet because

[2017-08-27 23:53] #655 closed

[2017-08-28 01:13] xorrior commented on #643
You'll need to comment out this line: https://github.com/EmpireProject/Empire/blob/master/data/agent/stagers/http.ps1#L59

[2017-08-28 04:22] xorrior commented on #586
@Viss I have been able to confirm this issue. Will definitely look into it.

[2017-08-28 17:07] xorrior commented on #586
So after some investigating, I have no clue whats happening here lol. The issue occurs frequently and at random. Not sure if its the packet data size or length or the padding that is added from encoding. This will take some time to figure out for sure. Unless the answer magically comes to me.

[2017-08-28 21:42] erencanaypek opened #656 "Exception: generate() takes exactly 1 argument (3 given) Error in 2.1"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Kali , Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
This error also appering when i tried to use EthernalBlue exploit

## Screenshot of error, embedded text output, or Pastebin link to the error
omments:
  Credit to Tin

[2017-08-29 01:04] rvrsh3ll commented on #656
Easy fix. On it.

[2017-08-29 01:32] rvrsh3ll commented on #656
Fixed.

[2017-08-29 01:32] #656 closed

[2017-08-29 08:08] jak12801 opened #660 "dropbox listener"
what is the dropbox listener name?
dropbox or dbx?
when I use dbx and launcher powershell
there is error:
[!] Invalid listener: dropbox
[!] Error in launcher command generation.

[2017-08-29 11:23] DrLafa opened #661 "Empire do not start"
## Empire Version
- Version 2.1 Master Release
8/28/2017

## OS Information (Linux flavor, Python version)
Kali linux 2017.1 i686
Linux 4.9.0-kali4-686-pae

Python 2.7.13 (default, Jan 19 2017, 14:48:08)
Python 3.5.4 (default, Aug 12 2017, 14:08:14)

## Expected behavior and description of the error.
What i do:
1. git clone https://github.com/EmpireProject/Empire.git
2. cd /Empire
3. ./setup/insta

[2017-08-29 12:24] cjensenius commented on #661
@DrLafa - I had a similar issue earlier this morning, if you run the reset script does it resolve your issue?

[2017-08-29 16:41] utkusen opened #664 "macro compile error"
## Empire Version
2.1 (29 August 2017)

## OS Information (Linux flavor, Python version)
Kali Linux 2017.1, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

TL;DR: Office macro script has a syntax error. Because of that not working.

Attacking machine: Kali Linux 2017.1
Target machine: Windows 7

[2017-08-29 17:16] DrLafa commented on #661
@cjensenius I saw that install.sh try to install .deb - packages with x64 architecture, but i have i386. Some packages no was in i386 architecture, so Empire can not work in it.

[2017-08-29 17:17] #661 closed

[2017-08-29 20:40] goloem commented on #643
@xorrior Ok, thanks you. I was able to do alter stager, but with no new info. So, I have only above-mentioned errors. There is no any single line in Empire interface in debug mode, when I start empire on client. But http agent on 80 port works pretty well.
Any thoughts?

[2017-08-30 15:19] utkusen opened #665 "TLS Connection Problem When Empire is Located on an External Server"
## Empire Version
2.1 (30 August 2017)

## OS Information (Linux flavor, Python version)
Ubuntu 16.04, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Empire is located on a Digitalocean server. It's not behind NAT, local IP is same with external IP. It doesn't have a problem when I use Http for

[2017-08-30 18:01] mandy136 opened #666 "Unable to get any options at all"
## Empire Version
2.1
## OS Information (Linux flavor, Python version)
4.6.0-kali1-amd64
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I have recently git cloned Empire, run ./setup.sh. When I run Empire i am unable to get any options for example:

(Empire) > listeners
[!] No listeners currently active
(E

[2017-08-30 20:56] utkusen commented on #666
You don't have any active listener, therefore you can't use every option. To setup a listener:

For example: >uselistener http

Now you have a listener and you can use the other options

[2017-08-30 21:00] utkusen commented on #660
it's dbx. Use following path:

(Empire) > listeners
(Empire: listeners) > uselistener dbx
(Empire: listeners/dbx) > info

Now you will see options

[2017-08-30 21:06] #660 closed

[2017-08-30 21:07] #666 closed

[2017-08-30 21:07] xorrior commented on #665
This is a duplicate of #643

[2017-08-30 21:07] #665 closed

[2017-08-30 21:08] xorrior commented on #554
Closing for lack of activity.

[2017-08-30 21:08] #554 closed

[2017-08-30 21:10] xorrior commented on #311
Unfortunately, I don't think we will be able to support this request at this time.

[2017-08-30 21:10] #311 closed

[2017-08-30 21:32] e0x70i commented on #643
Same issue on my end.

The empire listener is started with an ssl context that only accepts TLSv12. system.net.webclient won't connect to TLSv2 by default, and I don't know of a way to force the stager to in powershell v2

Fixed it by setting TLSv1 explictly in the SSL context created in http.py.

Instead of just passing a tuple to app.run, manually creating the SSLContext object with ssl.PROTOCOL

[2017-08-30 22:03] xorrior commented on #643
@e0x70i Do you mind submitting a PR for this???

[2017-08-31 00:39] eqhaleel commented on #595
thanks alot @majidabdul82 how can i hack outside my network with the empire framework?

[2017-08-31 00:46] xorrior commented on #586
@Viss  So the issue is the result of incorrect padding on the base64.b64decode function. I pushed a partial patch but the issue can still occur, just less frequently.

[2017-08-31 01:21] rvrsh3ll commented on #664
yeah I see the issue. Failing macro has single quotes vs double quotes. Looking into this. Thank you.

[2017-08-31 01:30] rvrsh3ll commented on #664
Fixed!

[2017-08-31 01:30] #664 closed

[2017-08-31 01:45] xorrior commented on #643
@e0x70i I implemented your fix. Seems to be working, thanks!

[2017-08-31 01:45] #643 closed

[2017-08-31 09:57] utkusen commented on #664
@rvrsh3ll Now I don't get any compiling error but macro still not working. I don't see any connection attempt when I listen the traffic with Wireshark. Any ideas?

[2017-08-31 09:59] rvrsh3ll commented on #664
Screenshots of your network adapter settings and listener settings please

[2017-08-31 10:14] utkusen commented on #664
Well that's weird, when I click "Enable Macros" button nothing happens but if I manually go to Macros tab and run by hand, it works. Probably something with Office 2016 (new update or something), not the Empire.

[2017-08-31 10:42] utkusen commented on #643
Last commit still doesn't fix my problem. My attacker machine is Ubuntu 16.04 located in Digitalocean, it's not behind NAT so local ip is same with external ip. Here is my listener settings: https://i.imgur.com/UumNrAR.png

This is the traffic capture from victim machine: https://i.imgur.com/7FDWpzt.png Connection stays in this position for a long time then client sends FIN packet.

@e0x70i Could

[2017-08-31 11:06] utkusen opened #668 "Unable to create a stager with dropbox listener"
## Empire Version
2.1 (31 August 2017)

## OS Information (Linux flavor, Python version)
Kali Linux 2017.1, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I created a dropbox listener, and trying to create a stager for it. But when I select multi/launcher or any powershell stager, I got followi

[2017-08-31 11:10] recrudesce opened #669 "Incorrect Filename Description in Setup Script"
The file detailed in the print statement at the location below is incorrect.
https://github.com/EmpireProject/Empire/blob/master/empire#L37

That line should read `print helpers.color("[!] Please run setup_database.py")` as that's what the file is called on the filesystem

https://github.com/EmpireProject/Empire/blob/master/setup/setup_database.py

[2017-08-31 13:03] xorrior commented on #542
This has been fix per #589

[2017-08-31 16:33] xorrior commented on #406
@Xurse Fixed in master and dev. Thanks!

[2017-08-31 16:33] #406 closed

[2017-08-31 20:38] xorrior commented on #53
Manual proxy settings will now be passed to the agent (PowerShell). Python agents will be addressed soon.

[2017-08-31 20:38] #53 closed

[2017-08-31 21:26] xorrior commented on #587
@Viss When exiting an agent there aren't any files left in the dropbox folders besides the stagers for python and powershell. Once the "[!] Agent ..... exiting" message has been displayed, the corresponding results file has already been deleted. I wasn't able to replicate that particular issue in testing. The remove command only removes agents from the database and cache. If for some reason empire

[2017-08-31 21:26] #587 closed

[2017-08-31 23:10] e0x70i commented on #643
Hi @utkusen, are you sure you are on the commit with the fix? Xorrior posted it 10 hours ago but your comment is from 12 hours ago. https://github.com/EmpireProject/Empire/commits/master

Here is my working listener settings:
![image](https://user-images.githubusercontent.com/18584157/29948994-bee0805c-8e66-11e7-986b-0806f229b2c5.png)

[2017-08-31 23:14] e0x70i commented on #643
@utkusen can you run the stager without the '-w 1' flag and post the errors that come up?

[2017-08-31 23:59] xorrior commented on #668
I just fixed this issue a few hours ago. Thanks

[2017-08-31 23:59] #668 closed

[2017-08-31 23:59] xorrior commented on #668
The fix is on the dev branch. I'll push it to master as well

[2017-09-01 00:19] xorrior commented on #398
I don't think we are going  to support this request at this time.

[2017-09-01 00:19] #398 closed

[2017-09-01 01:07] xorrior commented on #473
Added a Limit option to only return the n newest log entries.

[2017-09-01 01:07] #473 closed

[2017-09-01 01:16] xorrior commented on #669
fixed in master/dev

[2017-09-01 01:16] #669 closed

[2017-09-01 10:53] utkusen commented on #643
@e0x70i I tried with latest master branch (today) still no luck. You can find the error message when I  used the stager without -w 1 flag

[code]

[2017-09-01 17:25] reubadoob opened #671 "ImportError: No module named OpenSSL"
## Empire Version

2.1

## OS Information (Linux flavor, Python version)

Linux kali 4.4.50-v7 #1 SMP Fri Apr 21 01:18:29 CDT 2017 armv7l GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
root@kali:~ apt update
Hit:1 http://kali.localmsp.org/kali kali-rolling InRelease
Reading package lists... Done

[2017-09-01 17:57] xorrior commented on #671
@reubadoob did you run the install script?

[2017-09-01 18:09] reubadoob commented on #671
Yup.

[2017-09-01 18:44] xorrior commented on #671
try pip install pyOpenSSL

[2017-09-01 19:10] xorrior commented on #643
@utkusen Those errors are particular to the reflection based amsi and scriptblocklogging bypasses in the launcher. You should still receive an empire agent. Now when you run the launcher, the console return to receive input? If it hangs, your agent is still running.

[2017-09-01 21:30] justinbui opened #675 "preobfuscate won't run"
## Empire Version
Empire 2.1

## OS Information (Linux flavor, Python version)
Debian Stable, Python 2.7.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When running 'preobfuscate' or 'preobfuscate module' it is expected to run Invoke-Obfuscation on all modules or the specific module. I'm encountering an

[2017-09-01 23:19] reubadoob commented on #671
root@kali:~# pip install pyOpenSSL
Collecting pyOpenSSL
  Using cached pyOpenSSL-17.2.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5.2 in /usr/lib/python2.7/dist-packages (from pyOpenSSL)
Collecting cryptography>=1.9 (from pyOpenSSL)
  Using cached cryptography-2.0.3.tar.gz
Requirement already satisfied: idna>=2.1 in /usr/local/lib/python2.7/dist-packages (from cryptography>=1.9->p

[2017-09-02 02:04] rvrsh3ll commented on #671
You're trying to install Empire on an ARM image. This is not supported yet. Will be soon.

[2017-09-02 02:04] #671 closed

[2017-09-02 02:06] rvrsh3ll commented on #671
https://books.google.com/books?id=PndJDAAAQBAJ&pg=PA109&lpg=PA109&dq=pyopenssl+arm&source=bl&ots=Qimgr94nCq&sig=y05Bs2Ftz4Aif636S0z5N0Gpe-E&hl=en&sa=X&ved=0ahUKEwi7i9fU8ITWAhUM5IMKHUdxBqoQ6AEIcDAM#v=onepage&q=pyopenssl%20arm&f=false

[2017-09-02 11:33] backlion commented on #631
emprie is not run dll and nothing shell!

[2017-09-02 14:16] xorrior commented on #631
Fixed

[2017-09-02 14:16] #631 closed

[2017-09-02 14:53] xorrior commented on #579
@tssoffsec fixed in a6ae921

[2017-09-02 14:53] #579 closed

[2017-09-03 05:24] Gilks commented on #653
You can set modules to autorun. Go into the module you want to run and put "autorun" in the Agent field and then type execute. Any new agents that come in will automatically run the module.

[2017-09-04 12:07] utkusen opened #678 "collection/linux modules are not working"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Kali Linux 2017.1, Python

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When I try to use the modules below, I got following error:

`Exception: generate() takes exactly 1 argument (3 given)`

[code]

Screenshot: https://i.imgur.com/k

[2017-09-04 12:13] utkusen opened #679 "collection/linux/hashdump module is not working"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Kali Linux 2017.1, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When I try to use `linux/hashdump` module, I got following error:

`[!] Exception: generate() takes exactly 1 argument (3 given)`

Screenshot: https://i.imgur

[2017-09-04 12:17] #679 closed

[2017-09-04 13:51] rvrsh3ll commented on #678
Thanks for pointing these out. Will get them fixed shortly.

[2017-09-04 19:46] drnop commented on #654
Interestingly, this only happens when I have grabbed the krbtgt after jumping to DC via lateral_movement/invoke_psexec (using hashes), and followed that up with an lsadump.
When I move to DC via invoke_wmi I do not get this problem.

[2017-09-04 21:19] x-cod3r opened #680 "ImportError: No module named OpenSSL however it's installed!!"
## Empire Version

Latest: Empire v2

## OS Information (Linux flavor, Python version)

Linux parrot 4.11.0-parrot6-amd64 #1 SMP Parrot 4.11.6-1parrot6 (2017-06-28) x86_64 GNU/Linux

python
Python 2.7.13 (default, Jan 19 2017, 14:48:08)
[GCC 6.3.0 20170118] on linux2
Type "help", "copyright", "credits" or "license" for more information.

## Expected behavior and description of the error, including

[2017-09-05 22:22] x-cod3r commented on #680
Solved by reinstalling distro
check this!
[https://github.com/pyca/pyopenssl/issues/689](url)

[2017-09-05 22:23] #680 closed

[2017-09-05 23:07] PoSHMagiC0de commented on #601
I, too, am wondering about this.  I remember it being in 1.6 so I installed 2.0 on my Raspberry Pi W Zero, got it all working so I could use P4wnP1 project's hid_backdoor to create an agent and control it via wireless nearby.  Because of the method the pi connects via USB ethernet, it is like it is on another subnet so the cleanly route traffic for empire I was going to have it setup a redirector.

[2017-09-07 16:03] paleos commented on #53
Hi xorrios,

I've just tested and in DEV branch it seems that it works. The problem with only first 3 http reqs through proxy ( #115) is solved.

P.S.: unfortunatelly without obfuscation the windows/launcher_bat (powershell) is catched by Symantec yet and with OBFUSCATE option I was not able to make it work :-( (I will make some other tests and maybe I will create a new issue). Anyway thanks for y

[2017-09-07 16:38] paleos opened #682 "OBFUSCATED stager doesn't start (Cannot convert value ...)"
## Empire Version
Empire 2 / DEV branch (20170906 version)

## OS Information (Linux flavor, Python version)
Server - Linux/KALI2
Client - Win7 Pro, 64bit

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Obfuscated stager (windows/launcher_bat) doesn't start. There is error (see bellow)

## Screenshot of err

[2017-09-07 16:40] paleos commented on #115
only for info - this issue should be corrected (more info in #53 )

[2017-09-08 10:22] crazyrat-software opened #683 "Wrong TLS version protocol in API listener"
## Empire Version
Version 2.1

## OS Information (Linux flavor, Python version)
Kali 2017.2
Python 3.5.4

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
DeathStar (https://github.com/byt3bl33d3r/DeathStar) cannot connect to API. Immediate connection error.

## Screenshot of error, embedded text output, or P

[2017-09-08 15:55] xorrior commented on #683
This has already been fixed in the master branch. https://github.com/EmpireProject/Empire/blob/master/empire#L1223

[2017-09-08 15:55] #683 closed

[2017-09-08 16:00] xorrior commented on #654
@drnop Have you tried to run the same command with Invoke-Mimikatz???

[2017-09-08 16:42] drnop commented on #654
no, but I have found a clue.
I jump via a compromised client to the DC, then run lsadump, then golden ticket.

If I jump via the compromised client with  invoke_wmi, run lsadump, golden ticket works fine.

If I jump via the coompromised client with invoke_psexec (using hashes), run lsadump, golden ticket gives the problem above.

The creds value show the same value for krbtgt in both cases.

[2017-09-09 17:46] PoSHMagiC0de commented on #682
I am getting a different error.

[!] Exception: obfuscate() got multiple values for keyword argument 'obfuscationCommand'

When trying to generate stager.

[2017-09-10 07:44] shaked007 opened #687 "PS-Inject- 'PoshCode': The character length of the 3504 argument is too long"
## Empire Version
2.1 release

## OS Information (Linux flavor, Python version)
Kali 2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
**psinject doesn't work because of the length of the newly generated launcher code introduced in version 2.1. I ran separately to see the stderr being received:**

*Invoke-P

[2017-09-12 16:02] crazyrat-software commented on #683
This is not fixed. The current master branch is using obsolete configuration of TLS protocol with version. Please refer to: https://docs.python.org/3/library/ssl.html#ssl.PROTOCOL_TLSv1

Fix should have only "**PROTOCOL_TLS**" which will negotiate best version between server and client.

[2017-09-13 08:51] qbiguenet commented on #653
Could be nice to run more than 1 module and based on the failure or success of the first one.

[2017-09-13 12:09] qbiguenet opened #689 "KillDate parameter set on listener and not apply to agents."
When i set a Killdate parameter to my listener, I expected Agents to be configure with the same date but I seems not.
I used the follwowing command to set the killdate after agents was active :
`Usage: 'killdate [agent/all] [01/01/2016]'`
I would be nice if the Agents have the killdate automatically set based on the listener configuration.

Could be also nice to have the killdate information in th

[2017-09-13 12:34] ThePirateWhoSmellsOfSunflowers commented on #653
You can use the API and a small script to chain modules. IMO it is the best solution.

[2017-09-13 23:53] cobbr commented on #675
Try on latest master, think it should be fixed.

[2017-09-14 15:28] PowerPress opened #696 "Powerup Path issue in Install-ServiceBinary"
## Empire Version
Newest

## OS Information (Linux flavor, Python version)
Slingshot from Sans and Win 10 Pro

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Win 10 execute PS C:\Tools> powershell -nop -exec bypass -c “IEX (New-Object Net.WebClient).DownloadString(‘https://raw.githubuserconte
nt.com/EmpireP

[2017-09-14 16:42] ianhawes opened #697 "AttributeError: 'module' object has no attribute 'rand'"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Ubuntu 16.04, Python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Fails on start

## Screenshot of error, embedded text output, or Pastebin link to the error
[code]

## Any additional information
Appears to be related to pyca/

[2017-09-15 16:48] justinbui commented on #675
Thanks, the latest master fixed it!

Some seg faults/PS errors on some modules but most of them worked.

[2017-09-15 17:49] cobbr commented on #675
I'd be interested to know the errors you are running into. Mind posting screenshots of the errors, along with your PS version?

[2017-09-15 18:11] True-Demon opened #699 "sqlite3.OperationalError: no such column: obfuscate"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Linux Ubuntu 16.04.4, Python 2.7.12 & 3.5.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Most recent update of empire caused it to become unable to start either with a direct call or by the shortcut I've created in /usr/local/bin/.

[2017-09-16 02:34] tr1ll commented on #697
pip install 'pyopenssl==17.2.0'

[2017-09-16 05:27] Chiggins opened #700 "Bad check for ./data/empire.pem"
## Empire Version
2.1 (dfb049ed48165eff2a8c1fe41941d0fbfa42df31)

## OS Information (Linux flavor, Python version)
Kali, Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Ran with `./empire --rest --username user --password pass --restport 1337`
Errors followed immediately, shown below.

## Scre

[2017-09-18 01:23] fifysky opened #705 "how to resolve the TypeError"
Traceback (most recent call last):
  File "./empire", line 1286, in <module>
    main = empire.MainMenu(args=args)
  File "/home/fifysky/Empire-master/lib/common/empire.py", line 75, in __init__
    (self.isroot, self.installPath, self.ipWhiteList, self.ipBlackList, self.obfuscate, self.obfuscateCommand) = helpers.get_config('rootuser, install_path,ip_whitelist,ip_blacklist,obfuscate,obfuscate_com

[2017-09-18 13:58] computersAreBuggedByNature opened #706 "Cannot create a Listener. "info" command not working as expected."
## Empire Version
Latest, Downloaded today. Currently 276 Modules.

## OS Information (Linux flavor, Python version)
Kali Linux Rolling 2017, updated and upgraded.
Also tried inside virtualbox with another Kali Linux 2017.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
After "git clone https://github.com/E

[2017-09-18 19:11] pctripsesp commented on #705
same error here
[code]
Using Debian with kali repos, Linux version 3.2.0-4-amd64

[2017-09-18 19:47] pctripsesp commented on #705
**Reinstallation worked for me:**
as root:
[code]

[2017-09-18 20:06] ThePirateWhoSmellsOfSunflowers commented on #706
`uselistener [tab][tab]` to choose your listener type

[2017-09-19 10:54] jdmcwhinnie commented on #705
The current PCI spec strictly states that only TLS 1.2 is supported due to insecurities found in 1.0/1.1.

I think this is the problem.

[2017-09-19 10:57] jdmcwhinnie commented on #705
got it to work by running reset.sh from Setup folder

[2017-09-19 11:48] #705 closed

[2017-09-19 14:06] edermi opened #707 "Consider not using pycrypto"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)
All

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
While skimming the setup script, I noticed that pycrypto is used.
According to
- https://theartofmachinery.com/2017/02/02/dont_use_pycrypto.html
- https://github.com/dlitz/pycrypto/

[2017-09-19 19:24] computersAreBuggedByNature commented on #706
Worked Wonderfully. A very deep Thank you.
Solved, can be Closed.

[2017-09-19 19:24] #706 closed

[2017-09-19 19:54] SadProcessor commented on #700
Have same error (looping) when starting in --rest
Tried starting with --headless but also fails
following error on ctrl-c
[code]

[2017-09-20 08:47] jymcheong opened #710 "RESTful API upload uses hashlib that is not imported"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
macOS Sierra
python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Was using the API to upload a file but got error "global name 'hashlib' is not defined" from response. I narrow down to https://github.com/EmpireProject/Empire/b

[2017-09-20 20:27] xorrior commented on #558
Fixed in both dev and master

[2017-09-20 20:27] #558 closed

[2017-09-21 19:07] binary1985 opened #713 ""shell set" crashes agent"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Kali2017.1 64 Bit

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected: See currently set environmental variables when executing "shell set"

## Screenshot of error, embedded text output, or Pastebin link to the error
https://pasteb

[2017-09-21 23:07] xorrior commented on #602
fixed in the dev brach @Liberator69

[2017-09-21 23:07] #602 closed

[2017-09-21 23:53] xorrior commented on #654
@drnop Have you been able to reproduce this issue with the standalone Invoke-Mimikatz script??

[2017-09-22 02:43] xorrior commented on #627
@nullbites unfortunately, I can't reproduce this issue as this is a specific use case. If this occurs again, in a more general use case, please feel free to re-open this issue or create a new one.

[2017-09-22 02:43] #627 closed

[2017-09-22 03:02] xorrior commented on #678
Fixed all of the osx/linux generate function definitions for each module in the dev branch.

[2017-09-22 03:02] #678 closed

[2017-09-22 07:04] justinbui commented on #675
Here's the output from 'powershell --version'
- powershell v6.0.0-beta.6

I just tried preobfuscating again, I didn't get the PS errors anymore but still running into some seg faults
https://pastebin.com/uUdJmQAz

[2017-09-22 13:17] Hacker-One opened #714 "why to use usestager to generate windows/launcher_ps1"
why to use usestager to generate windows/launcher_ps1

[2017-09-22 15:52] IljaSchumacher opened #715 "Feature Request: SOCKS for (DBX) Listeners"
Greetings Fellows,

I have a little feature request.
Could we have SOCKS support for the Listeners please?

Basically we just need to add the following before any import of urllib2:

import socks
import socket
SOCKSIP="127.0.0.1"
PORT=XXXXX
socks.setdefaultproxy(socks.PROXY_TYPE_SOCKS5, SOCKSIP , PORT)
socket.socket = socks.socksocket

Add config options to the listener.
And then add PySocks to th

[2017-09-22 18:55] #714 closed

[2017-09-22 18:57] xorrior commented on #715
This sounds like a great idea man and I'm going to strongly encourage you to do the leg work on the PR for this one. Thanks!

[2017-09-22 18:57] #715 closed

[2017-09-23 03:40] xorrior commented on #687
Fixed in the dev branch

[2017-09-23 03:40] #687 closed

[2017-09-23 04:42] metac0rtex opened #716 "Kill Agent Confirmation Doesn't Work"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 8.7 (jessie)
Release:	8.7
Codename:	jessie

$ python --version
Python 2.7.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When executi

[2017-09-23 08:16] Deathlive opened #717 "How to fix sqlite3.OperationalError: no such table: config?"
OS Android 5.1, Termux
I install all requirements, but shows this error.
![123](https://user-images.githubusercontent.com/29791715/30771416-9957fc80-a058-11e7-842e-df104e2a6973.png)

[2017-09-23 13:25] xorrior commented on #689
Working on it. Fixed the PowerShell agent. Fighting with the python agent currently.

[2017-09-25 04:34] #717 closed

[2017-09-25 04:39] Deathlive opened #719 "How to fix this ERROR?"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Android 5.1 , Termux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
In start written this error.
I install all requirements, but pyinstaller not install.

## Screenshot of error, embedded text output, or Pastebin link to the error
http

[2017-09-25 10:00] whoot opened #720 "configure: error: Cannot build without libcrypto (OpenSSL)"
## Empire Version

current

## OS Information (Linux flavor, Python version)
uname -a
**Linux kali 4.12.0-kali2-amd64 #1 SMP Debian 4.12.12-2kali1 (2017-09-13) x86_64 GNU/Linux**

python --version
**Python 2.7.13**

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Installation script should install every dep

[2017-09-25 12:31] IljaSchumacher commented on #715
Done, Submitted Pull Request #721.
Works like a charm on the dev branch, via TOR, with and w/o using SOCKS.

[2017-09-25 20:42] utkusen commented on #719
@Deathlive are you root on the device?

[2017-09-25 20:58] rvrsh3ll commented on #719
Not supported on android.

[2017-09-25 20:58] #719 closed

[2017-09-26 01:48] xorrior commented on #696
You should submit your issue to the PowerSploit repository. This is not an empire issue. Thanks.

[2017-09-26 01:48] #696 closed

[2017-09-26 14:30] nkokhi commented on #682
I am having same issue as @PoSHMagiC0de

[2017-09-27 04:02] ztencmcp opened #726 "Empire Rest API can't work"
## Empire Version
v2.1

## OS Information (Linux flavor, Python version)

Kali, python 2.7
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

When i create rest api for other applications then it jumps back to the banner screen.

## Screenshot of error, embedded text output, or Pastebin link to the error

## A

[2017-09-27 15:45] miked531 opened #727 "data encoding in REST api"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Ubuntu 16.04, python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

JSON input through the REST api is being stored as unicode data. when the unicode string is added to a normal string the result is a unicode string (at least with

[2017-09-27 17:27] cobbr commented on #675
Try:
[code]

There's a bug in PowerShell running on Debian 9/Kali that seg faults when it attempts to talk to the telemetry server. The new install.sh script installs powershell and disables telemetry, which should prevent the seg faults.

[2017-09-27 19:15] justinbui commented on #675
Thanks for the help cobbr.

After removing powershell and rerunning the install script the seg faults are no more!

I only ran into one powershell error when trying to obfuscate Invoke-Kerberoast. I've attached a link: https://pastebin.com/13HQEQxV

The error I see repeated is "Attribute argument must be a constant or a script block."

The rest of the modules obfuscated fine though, using the defa

[2017-09-28 10:13] SecurityAddicted commented on #720
Same for me... The installer seems broken on Kali 2017.2.

[2017-09-28 16:10] bkr32 opened #729 "Unable to Download files with spaces"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
kali 2017.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
file name: "this is  a test file"
command: download this is a test file
result: downloaded "this"

## Any additional information
i've been unsuccessful downloading files which

[2017-09-29 06:33] alex-bergman commented on #682
[!] Exception: obfuscate() got multiple values for keyword argument 'obfuscationCommand'

Same issue (dropbox listener).

[2017-09-29 22:30] xorrior commented on #654
Closing for inactivity

[2017-09-29 22:30] #654 closed

[2017-09-30 22:50] gearcapitan opened #732 "problem multi/launcher to bat"
## Empire Version
last
## OS Information (Linux flavor, Python version)

kali 2017.2
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
if I copy and paste the command directly into the terminal, empire works, but if I want to copy it in an arhivo bat this is not executed and I tried to understand the code beca

[2017-10-01 03:12] xorrior commented on #689
fixed 3d7a07a

[2017-10-01 03:12] #689 closed

[2017-10-02 15:53] ilyaglow commented on #697
It seems that deprecated `OpenSSL.rand.bytes` function should be replaced by `os.urandom`

[2017-10-04 03:54] icekuku12 opened #736 "empire 3.0 errors"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)

kali 2017
4.12.0-kali2-amd64
python 2.7 , python3.5
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

root@kali:~/tools/Empire-3.0# ./empire
  File "./empire", line 1330
    thread = helpers.KThread(target=thread_api, args(main,))
Syntax

[2017-10-04 04:47] xorrior commented on #736
3.0 is still in development. You should always remain on the master branch.

[2017-10-04 04:47] #736 closed

[2017-10-04 07:53] icekuku12 commented on #736
Okay thx ^^
-----Original Message-----
From: "Chris Ross"&lt;notifications@github.com&gt;
To: "EmpireProject/Empire"&lt;Empire@noreply.github.com&gt;;
Cc: "icekuku12"&lt;idsacrificing@naver.com&gt;; "Author"&lt;author@noreply.github.com&gt;;
Sent: 2017-10-04 (수) 13:47:44
Subject: Re: [EmpireProject/Empire] empire 3.0 errors (#736)

Closed #736.

—
You are receiving this because you authored the th

[2017-10-06 05:53] 0x1c commented on #713
Confirmed bug on Windows 7 target.

[code]

[2017-10-06 06:50] 0x1c commented on #716
Confirmed, the logic is never checked in do_kill() in lib/common/empire.py.

[2017-10-06 11:37] binary1985 commented on #713
Hey sorry I didn't do more work into this one. "set" in powershell operates differently than set in cmd. How hard would it be for you to just write an alias for set to do "Get-ChildItem Env:"(powershell version of set)

[2017-10-06 15:26] Ibrahimous opened #739 "StagingKey error"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Linux kali 4.8.0-kali2-686-pae #1 SMP Debian 4.8.15-1kali1 (2016-12-23) i686 GNU/Linux
Python 2.7.13 (default, Jan 19 2017, 14:48:08)

## Expected behavior and description of the error

Following exactly this tutorial: https://null-byte.wonderhowto.com/how-to/use-powershell-empire-getting-started-with-post-exploitation-windows

[2017-10-07 06:38] xorrior commented on #682
I'll look into this.

[2017-10-08 01:50] xorrior commented on #682
@paleos @PoSHMagiC0de @nkokhi So this problem is due to an issue with Invoke-Obfuscation, not empire. You can reproduce this by using 'Launcher\\CMD\\6' as the command string in the standalone Invoke-Obfuscation powershell module. Any launcher command that includes -WindowStyle Hidden will not be recognized by powershell once obfuscated. Not sure why. I would start opening an issue [here](https://

[2017-10-08 01:50] #682 closed

[2017-10-08 02:33] xorrior commented on #700
This is fixed in at least dev. Thanks

[2017-10-08 02:33] #700 closed

[2017-10-08 02:36] xorrior commented on #707
@edermi Thanks for pointing this out. Hopefully we can have this update before EOY.

[2017-10-08 02:45] xorrior commented on #675
This should be fixed now.

[2017-10-08 02:45] #675 closed

[2017-10-08 02:45] xorrior commented on #697
Modified the pip install statement in the install script. Should be fixed now

[2017-10-08 02:45] #697 closed

[2017-10-08 02:46] xorrior commented on #710
Added hashlib import statement

[2017-10-08 02:46] #710 closed

[2017-10-08 03:26] xorrior commented on #713
@binary1985 We won't be added an alias in empire for SET as there is already an alias built into Powershell and would lead to unnecessary confusion. "shell gci Env:" works just fine. Thanks

[2017-10-08 03:26] #713 closed

[2017-10-08 03:44] xorrior commented on #716
Now fixed.

[2017-10-08 03:44] #716 closed

[2017-10-08 03:45] xorrior commented on #726
@ztencmcp please provide more detail. I highly suggest including a screenshot with a more thorough explanation.

[2017-10-08 16:12] djhohnstein commented on #729
Try adding quotes around your file path, such as:

`download "this is a test file"`

[2017-10-08 16:27] xorrior commented on #729
Quotes won't work, there is some flawed logic in the agent. It'll be updated today in the dev branch

[2017-10-08 17:12] bkr32 commented on #729
thanks for the update @xorrior its a real pain switching to meterpreter that sometimes works just to nab a file

[2017-10-09 11:44] xorrior commented on #732
@gearcapitan please see #682

[2017-10-09 11:44] #732 closed

[2017-10-09 14:35] binary1985 commented on #713
It doesn't resolve the bug though does it? The alias was a request to make the set function work which I dont really care about and 0x1c already provided a workable solution, this github issue is a request to fix the bug of my shells dying by typing shell set.

[2017-10-09 15:44] xorrior commented on #713
@binary1985 You're agents are dying because when you type set in a powershell prompt, this is the result.
![image](https://user-images.githubusercontent.com/9156069/31346449-1dbae22c-ace7-11e7-9a90-d03b2226793a.png)

The agent is not dead but halted, waiting for input from stdin. Now we could alias set => gci Env:. The only issue with that is when an operator actually wants to use the SET alias in

[2017-10-11 01:33] gerrenmurphy commented on #720
I'm getting the following after a fresh install:
root@kali:~# uname -a
Linux kali 4.12.0-kali1-amd64 #1 SMP Debian 4.12.6-1kali6 (2017-08-30) x86_64 GNU/Linux
root@kali:~# python -V
Python 2.7.13
[ran ./install.sh]
...
checking openssl/evp.h presence... yes
checking for openssl/evp.h... yes
checking for OpenSSL_add_all_ciphers in -lcrypto... no
**configure: error: Cannot build without libcrypto (O

[2017-10-11 09:47] paleos commented on #682
Hi xorrior,

thanks for info. I have a few questions:
**1) '-WindowStyle Hidden' option**
Is it possible to add a new parametr in usestager module to control using of '-WindowStyle Hidden' parameter?
**2) Issue in "Invoke-Obfuscation"**
Did you opened the issue there? Which number?
**3) Error "Windows cannot find 'cMd/C'"**
When I try to run obfuscated BAT, there is following Windows popup error:

[2017-10-12 04:42] venkibuge1 opened #746 "error while starting the empire & how to solve it"
## Empire Version

root@7h3pr0xy:~/exploitation/Empire# ./empire
Traceback (most recent call last):
  File "./empire", line 11, in <module>
    from lib.common import empire
  File "/root/exploitation/Empire/lib/common/empire.py", line 27, in <module>
    import agents
  File "/root/exploitation/Empire/lib/common/agents.py", line 68, in <module>
    import encryption
  File "/root/exploitation/Emp

[2017-10-12 08:53] SecurityAddicted commented on #720
@gerrenmurphy I fixed the libz problem by installing the zlib package.

[2017-10-12 22:12] h3xg4m3s opened #749 "Changing to different module from external/generate_agent context throws exception"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
Tested Kali and Mac

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Start empire (no agents/listeners up)
usemodule external/generate_agent
usemodule <any other module, i tried about 5 and all did the same thing>
Results with
[!] Excep

[2017-10-13 14:08] carms642 commented on #746
try them
cd Empire/setup/
./reset
./reset.sh

[2017-10-13 16:34] seamus0 opened #751 "Macros compile error word 2016"
## Empire Version
Empire 2.2

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
copying the macro code from the windows/macro stager and pasting it into Word2016 macro create, when i try to run it i get compile error

## Screenshot of error, embedded text

[2017-10-13 18:17] clavoillotte commented on #563
Jumping in because I had the same issue.

While this was indeed fixed in #35 by switching from HMACMD5 to HMACSHA1, a regression (sort of) was introduced (in commit 26cd008 I believe) by switching from HMACSHA1 to HMACSHA256, which is not considered FIPS-compliant on some environments (e.g. Win7 + .NET 3.5).
It's not just a corner case: I have not tested with .NET 2.0 or 4.0, but the default .NET

[2017-10-13 22:58] mateo24xx opened #753 "usestager not showing not working"
## Empire Version

##linux

## when i type usestager i receive error "" [!] Error: invalid stager module ""

## i download it correctly but can find no where answer to this and see that there are a lot of people who have same problem

##

[2017-10-14 00:42] mateo24xx commented on #334
thank you friend this shit make me crazy .
.but am must say big big up for the guy's from "The Empire Strikes Back" they did a very good job updating and put new stuff in it

[2017-10-14 04:47] xorrior commented on #369
Fixed. cb26ae4

[2017-10-14 04:47] #369 closed

[2017-10-14 05:12] info9jf opened #755 "ERROR in app: Exception on /admin/get.php [POST] Traceback (most recent call last)"
## Empire Version
[Version] 2.2

## OS Information (Linux flavor, Python version)
kali linux 2017.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

in http_com if agents active i have error ::
[2017-10-14 01:01:46,365] ERROR in app: Exception on /admin/get.php [POST]

## Screenshot of error, embedded text

[2017-10-14 19:09] xorrior commented on #753
Please provide some more information as to what the issue is. The help command is your friend. For syntax changes, please refer to http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

[2017-10-14 19:09] #753 closed

[2017-10-14 21:42] mateo24xx commented on #753
thank you but its ok now ..i was not informed that empire changed all the syntax commands..

[2017-10-15 04:42] jihadLkmaty218 commented on #755
use rest.sh ! ::)  this problem on Empire Not of Module Or Stager !! this problem  in Products Empire/man

[2017-10-15 17:53] xorrior commented on #729
Fixed in 76c7d1b

[2017-10-15 17:53] #729 closed

[2017-10-15 18:08] rvrsh3ll commented on #751
Thats odd. Does not look like an empire stager. It should be an encoded launcher, not invoke-shellcode.

[2017-10-15 18:16] rvrsh3ll commented on #739
I've confirmed this issue is with the meterpreter listener. We'll look into that. For now, you can use the http listener instead and it works that way.

[2017-10-15 18:23] Ibrahimous commented on #739
thanks a lot !

[2017-10-15 18:34] #726 closed

[2017-10-15 18:35] xorrior commented on #727
@miked531 can you provide more detail on this. Please post python stack trace if there is any. Also run empire with the debug 2 option and post that output as well.

[2017-10-15 18:47] bkr32 commented on #729
`"C:\Users\pie\Desktop\file with spaces`"
just keeping it as a reference @xorrior hope thats how it works

[2017-10-15 18:48] xorrior commented on #746
Please use the issue template when submitting an issue. We have no idea what version of Empire is being used and what OS.

[2017-10-15 18:48] #746 closed

[2017-10-15 19:00] xorrior commented on #729
@bkr32 Yup you got it!

[2017-10-15 19:06] xorrior commented on #755
Fixed in 32990df

[2017-10-15 19:06] #755 closed

[2017-10-15 19:17] xorrior commented on #749
Fixed in 9ab30eb

[2017-10-15 19:17] #749 closed

[2017-10-15 21:35] xorrior commented on #751
@rvrsh3ll It's for the meterpreter listener. @seamus0 yes it still works on the latest OS and latest version of office. I would test with a standard listener. The meterpreter is only for passing shells to Metasploit for staging, not empire.

[2017-10-15 21:35] #751 closed

[2017-10-16 12:46] rvrsh3ll commented on #739
This module is not meant to be used with a meterpreter listener. Please use another listener type or generate your metasploit payloads using msfvenom.

[2017-10-16 12:46] #739 closed

[2017-10-17 18:21] mateo24xx opened #760 "all the syntax change .. can use anymore usestager and other"
## Empire Version 2.2

## linux

## all the syntax change .. can use anymore usestager and other

is there a new syntax to use in Empire version 2.2 ?
![error](https://user-images.githubusercontent.com/24534204/31681835-a72f9312-b378-11e7-9c03-2706aff76bce.PNG)

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information

[2017-10-17 22:34] PandoraSec opened #761 "update question"
## Empire Version
2.1

## OS Information (Linux flavor, Python version)
kali linux, python  2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
how canh i update the empire without have to erase the past empire? its cuz when i do this i loose my listeners and all payloads that i done, how i use dns i hav

[2017-10-17 23:17] mateo24xx commented on #760
to much problems in version 2.2 !!!! nothing work
when you put a command it gives always error message ..really dont now how people work with this version???

[2017-10-18 08:38] ThePirateWhoSmellsOfSunflowers commented on #760
Use [tab]
Please see #573 and all others issues related.

[2017-10-19 00:37] xorrior commented on #653
@zero77 This was done in #750. Its now in the dev branch.

[2017-10-19 00:37] #653 closed

[2017-10-19 00:37] #760 closed

[2017-10-19 00:39] xorrior commented on #761
@PandoraSec I would highly recommend NOT upgrading during an op. The database structure may or may not change. Hence you would have to reset the database and start fresh. The best suggestion would be to setup a new Empire server with the latest version. Setup a foreign listener and pass agents to the new server.

[2017-10-19 00:39] #761 closed

[2017-10-19 01:48] elitest commented on #601
I never used the redirector.  Isn't this handled by the socks management module now?  Can this be closed?

[2017-10-19 02:18] PoSHMagiC0de commented on #601
I looked up the socks management module.  It is available only for python.
There isn't one for Powershell.

On Wed, Oct 18, 2017 at 6:49 PM, elitest <notifications@github.com> wrote:

[2017-10-19 06:50] checkyfuntime commented on #727
![image](https://user-images.githubusercontent.com/26147220/31757700-0b12b206-b478-11e7-9f51-b46dbf3a4427.png)

I believe he's getting the same error that I was telling you about, here's a screenshot showing the response from the server when requesting agents that were created using osx/launcher.

[2017-10-19 11:25] zero77 commented on #653
@xorrior
Ok thanks, is this documented in the wiki or somewhere else.

[2017-10-19 13:12] mortymorty opened #764 "REST API for manually adding creds"
## Empire Version
version 2.1 (latest)

#39 references this but in API docs there is only option to view all creds (https://github.com/EmpireProject/Empire/wiki/RESTful-API#credentials)

[2017-10-19 16:35] gearcapitan opened #765 "error to generate launcher vbs"
## Empire Version
2.2

## OS Information (Linux flavor, Python version)

kali 2017.2
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error
![sin titulo](https://user-images.githubusercontent.com/13740942/31782758-9a67a27e-b4c1-11e7-9d3b-5

[2017-10-19 17:54] DakotaNelson commented on #764
I'll take a stab at this; expect a PR over the weekend.

[2017-10-20 05:54] xorrior commented on #765
@gearcapitan I'm not sure what happened here. Can you provide more information? What OS Version, Office version, and is this reproducible?

[2017-10-20 16:03] gearcapitan commented on #765
what happens is that when I try to generate an obfuscated vbs file, this fails when running, so the vbs is generated with errors in its code and can not be executed

[2017-10-21 01:32] DaleMitchell opened #769 "TypeError: obfuscate() takes exactly 3 arguments (2 given)"
## Empire Version - 2.2

When obfuscate is set True from the main menu and an http agent connects:

[code]

[2017-10-21 01:36] DaleMitchell commented on #769
Someone was sloppy:
https://github.com/EmpireProject/Empire/commit/b944a188d20a541f31821f89634a497c59b06013#diff-0f0ac39cf0dcc3046cc1bd57f61f58ac

[2017-10-21 01:45] xorrior commented on #769
@DaleMitchell It'll be fixed shortly. Thanks.

[2017-10-21 02:08] xorrior commented on #769
Fixed in dev.

[2017-10-21 02:08] #769 closed

[2017-10-21 02:18] DaleMitchell commented on #769
This is also a problem in most of the modules. For example: https://github.com/EmpireProject/Empire/blob/0e94876a5609c30c29cb692fd757643dd94a813a/lib/modules/powershell/management/logoff.py#L65

[2017-10-21 02:58] xorrior commented on #769
on it

[2017-10-21 03:00] elitest commented on #601
Ah gotcha!

[2017-10-21 16:01] manasmbellani commented on #601
Hi,
Any plans to reintroduce management/redirector pivot listener in powershell empire soon?

[2017-10-23 13:42] epinna opened #773 "Unhandled Exception when runnning PS Agent using C# System.Management.Automation"
## Empire Version
2.2

## OS Information (Linux flavor, Python version)
Kali 2017.2, Python 2.7.13

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I want to run Empire-generated Powershell code using C# System.Management.Automation API similarly to PowerPick. Step to reproduce:

1. Use a simple PoC such as

[2017-10-23 21:04] wizzletuq opened #774 "Necessary lines commented out in PyInstaller module?"
## Empire Version
2.2 (and current dev branch)

## OS Information (Linux flavor, Python version)
Xubuntu 17.10, Python 3.6

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When trying to create a stager using the pyInstaller module, an error is given about installPath_Str not being defined.

## Screenshot of

[2017-10-24 07:00] xorrior commented on #588
The powershell agent is fixed and will re-negetiate if it reports its self orphaned. Unfortunately on the python side,  any attempts to execute the re-negotiate function will fail as it is i a different namespace???

[2017-10-24 08:59] minkione opened #775 "Listener startup on port 443 failed: [Errno 20] Not a directory"
## Empire Version
2.2

## OS Information (Linux flavor, Python version)
Debian GNU/Linux 8
Python 2.7.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The listener should start on 443.
**Note: If I use port 80 it perfectly starts.
Might be something related to the cetificates and/or the fact it uses HTTPS?

[2017-10-24 11:22] nem0n opened #776 "Failing to handle bind connection"
## Empire Version
Empire 2.2

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I am trying to handle bind connection with try to using meterpreter listener but which is failing to handle question what I am trying to mean with handle nothing is happening t

[2017-10-24 13:29] #588 closed

[2017-10-24 13:30] xorrior commented on #776
I'm assuming you are referring to the meterpreter listener. This is only meant to inject meterpreter shellcode in order to pass a session to metasploit. Empire cannot handle meterpreter sessions.

[2017-10-24 13:30] #776 closed

[2017-10-24 13:31] xorrior commented on #775
CertPath ---- Path to the directory that contains your pem and private key file.

[2017-10-24 13:31] #775 closed

[2017-10-24 13:48] xorrior commented on #774
Fixed in the dev branch. https://github.com/EmpireProject/Empire/commit/9093b3df9e04dbdc15de5cc28e3efb0cdaedda1e

[2017-10-24 13:48] #774 closed

[2017-10-24 13:50] xorrior commented on #773
@epinna Have you tried running an empire agent on the box outside of powerpick?

[2017-10-24 14:11] epinna commented on #773
Yes, the same agent runs correctly if not launched with System.Management.Automation.

[2017-10-24 22:13] nikaiw opened #777 "get_sql_server_info module will fail if check_all option is false"
As shown here, if _check_all_ is false the script will try to do `scriptEnd += " Get-SQLServerInfo"` before scriptEnd is even set. This result in the following error :
(Empire: powershell/situational_awareness/network/get_sql_server_info) > execute
[!] Exception: local variable 'scriptEnd' referenced before assignment

[code]

[2017-10-24 22:28] xorrior commented on #773
@epinna I would look into exception handling in c# and see if that helps. Also, try to avoid base64 encoding the stager. Just pass the plain text version to c#. This issue isn't really related to empire.

[2017-10-24 22:28] #773 closed

[2017-10-24 22:33] xorrior commented on #707
I've done some testing with this @edermi and everything seems to work. I'll do some additional testing this week and merge if everything checks out.

[2017-10-24 23:02] nem0n commented on #776
I think I describe little bit wrong because what I am trying to do create a payload with using empire and setting the payload IP address to 127.0.0.1 and when the user opens it, I will create bind connection and with user, and I will use socat for redirecting connection but, what I am wondering is that, Is empire capable to do that?,
            The thing is I am able to do that with Metasploit bu

[2017-10-25 00:03] xorrior commented on #586
@ThePirateWhoSmellsOfSunflowers Do you think this could be similar to the issue here: https://github.com/EmpireProject/Empire/issues/458

[2017-10-25 03:54] ThePirateWhoSmellsOfSunflowers commented on #586
@xorrior Is the issue easily reproducible ? I can take a look at the code if I find the time (SPOILER : not now :smile: ). For the moment I have not clue too, sorry.

[2017-10-26 03:35] mateo24xx opened #779 "No handlers could be found for logger "werkzeug""
## Empire Version2

## OS Informationlinux

## can not create stager/windows/macro

##
![abababababab](https://user-images.githubusercontent.com/24534204/32033853-67f98f7a-ba0f-11e7-92aa-b1f6ecf62458.PNG)

## Any additional information

[2017-10-26 04:22] mateo24xx opened #780 "what syntax can we use now because nothing work??"
## Empire Version2

## OS Information Linux python 2.7  3.6

## i think this picture tell whats wrong !!
![aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa](https://user-images.githubusercontent.com/24534204/32034918-f731c22e-ba15-11e7-816e-178062648487.PNG)

##

## IS THERE SOMEBODY WHO PLEASE CAN GIVE US THE FULL SYNTAX TO USE
I SEARCH ALL THE INTERNET AND FIND NOTHING??THANK YOU

[2017-10-26 06:23] ThePirateWhoSmellsOfSunflowers commented on #780
`set [tab] [tab]`

set listerner => set **L**istener(with capital L)
option => info

I think you have not 'search all the internet'....

[2017-10-26 12:04] mateo24xx commented on #780
Thank you for your reply..i find this already here on github ..
but what i mean is that i can  find anything on internet about the hole syntax to use ,not only for Listener or usestage,but for everything to do on Empire.
if you now where i can find it ?? it will be very helpfull ..

[2017-10-26 14:28] xorrior commented on #780
http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

[2017-10-26 14:28] #780 closed

[2017-10-27 03:15] ThePirateWhoSmellsOfSunflowers commented on #586
@xorrior : As far as I can debug for the moment, it's **probably** the same bug as described in #458.
On the stager code (here http, but it is the same on all stagers), the PKCS7 implementation is not valid :
https://github.com/EmpireProject/Empire/blob/7031103caae075042a871a2962fd682bff1c0eee/data/agent/stagers/http.py#L253-L270
But changing the buggy code by a [correct one](https://github.com/Th

[2017-10-27 07:03] ThePirateWhoSmellsOfSunflowers commented on #586
:tada: I've just found the bug. I will push a PR soon after some testing

[2017-10-27 08:36] sitanshuforever opened #782 "TypeError: 'NoneType' object is not iterable"
I am running kubuntu. plasma 5.

just tried "sudo ./install.sh". It finished. Then i started empire.. "./empire".

![image](https://user-images.githubusercontent.com/2941024/32095192-ff071124-bb1f-11e7-9b0d-e4dcec9cb4f6.png)

[2017-10-27 13:54] xorrior commented on #782
@sitanshuforever it finished but were there any errors in the output? Specifically with setting up the database?

[2017-10-27 13:55] xorrior commented on #586
@ThePirateWhoSmellsOfSunflowers I'm curious to see if its the same thing I *think* fixed it last night.

[2017-10-27 15:32] qbiguenet opened #783 "Listener authentication"
Hi,

I would like to know if there is any trick/feature such as authentication mechanisme to protect my listeners from bad guys ? :-)

Thanks.

[2017-10-28 01:20] xorrior commented on #783
@qbiguenet nothing natively built into Empire.

[2017-10-28 01:20] #783 closed

[2017-10-28 01:40] ThePirateWhoSmellsOfSunflowers commented on #783
Is the staging key a kind of *authentication* ?  Because it prevents bad guys to forge agents. @qbiguenet what is your attack scenario by bad guys ?

[2017-10-28 02:27] xorrior commented on #586
This is now resolved :)

[2017-10-28 02:27] #586 closed

[2017-10-28 02:28] xorrior commented on #162
This is not something we are going to address at this time.

[2017-10-28 02:28] #162 closed

[2017-10-28 05:35] nem0n opened #785 "Handle bind connection tru socat ?"
## Empire Version

## OS Information (Linux flavor, Python version)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
  Hi there I think I describe little bit wrong in my older issue request. because what I am trying to do create a payload with using empire and setting the payload IP address to 127.0.0.1 and

[2017-10-28 11:43] puniaze opened #786 "Key not found error"
## Empire Version
2.2

## OS Information (Linux flavor, Python version)
Kali linux 2016.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Dropbox payload not working as expected. It throws error when agent connects back.

## Screenshot of error, embedded text output, or Pastebin link to the error

(Empire)

[2017-10-28 11:57] ThePirateWhoSmellsOfSunflowers commented on #786
Have you tried [this workaround](https://github.com/EmpireProject/Empire/issues/563#issuecomment-336529523)? I'm not sure if it's the same issue

[2017-10-28 12:06] puniaze commented on #786
Actually I have found solution by removing everything inside dropbox application folder. Probably, developers forgot to add functionality to remove junk files in DBX app folder when victim exits or connection is lost. Resetting listener + deleting everything inside dropbox solved problem .

[2017-10-28 14:53] xorrior commented on #786
@puniaze please see https://github.com/EmpireProject/Empire/issues/587

[2017-10-28 14:53] #786 closed

[2017-10-28 14:54] xorrior commented on #785
@nem0n Listeners can either bind to 0.0.0.0 for any interface/ip address or a specific IP address. Using the loopback address is not possible.

[2017-10-28 14:54] #785 closed

[2017-10-28 14:55] xorrior commented on #779
@mateo24xx This isn't an exception or error necessarily. Did this cause an issue for you in a module or when interacting with an agent.

[2017-10-28 15:12] xorrior commented on #777
Fixed

[2017-10-28 15:12] #777 closed

[2017-10-28 15:25] xorrior commented on #765
@gearcapitan looks like the issue is just with the obfuscated version of the launcher. That kind of steps out of my realm of knowledge. @cobbr may be able to provide some assistance but I strongly suggest doing some trouble shooting on your own by changing the obfuscation command and using the Invoke-obfuscation powershell project with a stager string.

[2017-10-28 15:41] mateo24xx commented on #779
no it works normaly..but i dont now if this problem persist it will always work good..

[2017-10-28 18:39] gearcapitan commented on #765
what bothers me, is that previously I could generate this type files without any problem the files objected vbs if they served and now, nobody knows what the developers did that this type of obfuscated files no longer work

[2017-10-28 20:06] Viss commented on #586
holy shiiiiiiiit :D

[2017-10-28 23:19] xorrior commented on #720
@whoot those are actually two separate issues. The issue with the rest api and the pem file is fixed in the dev branch. Did any of the above suggestions work for you??

[2017-10-29 00:53] xorrior commented on #765
@gearcapitan I can tell you that I did confirm an issue in Invoke-Obfuscation when using any command with the window style hidden option. Launchers will fail when using that option. This may be the case, but as I said, I would change up the obfuscation command to see if that issue persists here as well. ¯\_(ツ)_/¯

[2017-10-29 00:55] xorrior commented on #779
The output is from the logger module. It doesn't cause any exceptions or errors and I've only seen output like that once or twice. Kind of a outlier ¯\_(ツ)_/¯

[2017-10-29 03:25] #779 closed

[2017-10-29 11:34] DakotaNelson commented on #782
I was also getting this:

[code]

Running `rm ./data/empire.db` and `./setup/reset.sh`meant I got this instead:

[code]

Which makes sense given:

[code]

So running `sudo chown dnelson:dnelson data/empire.db` fixed it.

[2017-10-29 14:23] xorrior commented on #764
Done. Credit to @DakotaNelson

[2017-10-29 14:23] #764 closed

[2017-10-30 01:02] cobbr commented on #765
I believe the VBScript launcher currently doesn't work w/ obfuscation. Pretty certain that it's because I'm improperly escaping the string containing the launcher coming back from Invoke-Obfuscation, not an issue in Invoke-Obfuscation itself.

String escaping in VBScript is just the worst. Definitely would love some help there if you want @gearcapitan :) If not I'll try to get around to learning h

[2017-10-30 01:07] xorrior commented on #782
@sitanshuforever If you run install.sh with sudo, but then run empire without sudo you won't be able to write to the database created by the setup script.

[2017-10-30 01:07] #782 closed

[2017-10-30 15:44] whoot commented on #720
Pulling the current files fixed the issues. Thanks!

[2017-10-30 17:29] e0x70i commented on #765
Yeah the quotes need to be escaped, you need to add extra quotes to escape the quotes. We've been using a separate script to generate macro files instead of using the built in one and its working with obfuscated payloads . I can take a pass at integrating the escaping logic into Empire sometime this week. Probably just need to throw `for i, s in enumerate(paylist):
        paylist[i] = s.replace('

[2017-10-31 00:27] cobbr commented on #765
@e0x70i That would be awesome! Thanks

[2017-10-31 09:48] DakotaNelson commented on #225
Hi all: I'm currently hacking on this, and expect to have something worth looking at by the end of the week.

[2017-10-31 11:17] DakotaNelson commented on #225
Just kidding, somehow I really got into it and 3 hours later here we are; submitting a PR now.

[2017-10-31 16:18] backtoback1 opened #791 "about obfuscation feature"
## Empire Version

2.3

## OS Information (Linux flavor, Python version)

kali linux 2017.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

there is no payload process on process manager

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information
Hi

i use th

[2017-10-31 16:29] backtoback1 commented on #791
Hi now it's working i change the format to ps1
but how can set the process noexit
because when i close the powershell window i lose the agent

[2017-10-31 17:45] xorrior commented on #791
@backtoback1 try to incorporate the windowstyle hidden option with your ObfuscateCommand.

[2017-10-31 17:45] #791 closed

[2017-10-31 21:56] exfiltrata opened #792 "Jobs Return no Output - Error processing result packet"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Kali 2017.2
Python 2.7.14

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Tasking an agent to run a job (such as a powerview module or mimikatz) works fine, and I can see the job start in the UI. However, the agent does not return any o

[2017-11-01 05:00] ThePirateWhoSmellsOfSunflowers commented on #792
The error is introduced by
 https://github.com/EmpireProject/Empire/commit/6a283719f34f5f686c42edfec2b25bd8531fcc98#diff-452d15542357ecf268aeb147c2d159a8R1537

If you comment this line, mimikatz output is displayed, looks like a bug in the logic.
@clr2of8 any idea ?

[2017-11-01 14:53] clr2of8 commented on #792
i will look into this and resolve right away. thank you

On Tue, Oct 31, 2017 at 11:00 PM, ThePirateWhoSmellsOfSunflowers <
notifications@github.com> wrote:

[2017-11-01 15:19] clr2of8 commented on #792
just submitted pull request with fix https://github.com/EmpireProject/Empire/pull/794
sorry for the trouble!

[2017-11-01 21:01] xorrior commented on #792
Fixed.

[2017-11-01 21:01] #792 closed

[2017-11-02 14:34] Icon0clast opened #795 "API Get Agent Results returns nothing"
## Empire Version
Empire Version 2.3

## OS Information (Linux flavor, Python version)
Ubuntu 16.04 Python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I'm currently working on a python script to do simple host recon using the API, mainly for scripting practice.  I've been able to get the agent go

[2017-11-02 14:41] franccesco opened #796 "[!] Listener startup on port 443 failed: global name 'sys' is not defined"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Ubuntu 16.04 Python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Can't setup a listener with SSL. Everything works great without SSL. It throws this error:
`[!] Listener startup on port 443 failed: global name 'sys' is not de

[2017-11-02 16:00] ThePirateWhoSmellsOfSunflowers commented on #795
Have you try to `git pull` ? Because https://github.com/EmpireProject/Empire/commit/6a90084df8ad7d8f55dce5ed3c15cc3bc3013377 fixes a similar issue (#794)

[2017-11-02 16:48] Icon0clast commented on #795
I have tried doing a full wipe and reinstall, sorry I should have mentioned that.  I was having the same issue as #794 which a pull did fix but this issue still remains.

[2017-11-02 17:43] Xyrodileas commented on #775
The CertPath used to work with a concatenation of the certificate and the private key.
I was able to get it to work with the last version by replacing empire-chain.pem and empire-priv.key, under data, with my certificate and privkey.

[2017-11-02 17:46] dash1b commented on #796
line 974 in /lib/listeners/http.py refers to sys.version_info
`pyversion = sys.version_info`

add 'import sys' at the top of ../Empire/lib/listeners/http.py
recompile it:
`python -m py_compile htty.py`

reload and error is fixed.

[2017-11-02 17:56] franccesco commented on #796
Yup, it work :) `import sys` was missing.
[code]

Thank you.

[2017-11-03 01:02] ThePirateWhoSmellsOfSunflowers commented on #795
No problem :smile: Have you try to run empire with `--debug 2` ?

[2017-11-03 02:28] xorrior commented on #796
fixed in all relevant listeners. Master and Dev

[2017-11-03 02:28] #796 closed

[2017-11-03 03:21] Icon0clast commented on #795
I haven’t but I’ll try it in the morning and let you know the results

[2017-11-03 04:24] robertbhalla71 opened #797 "ChromeDump Module"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Debian
python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

While taking the chromedump, one column is removed because it doesn't fit the display. while writing it out in a file, it doesn't work

## Screenshot of error, embedded

[2017-11-03 06:07] ThePirateWhoSmellsOfSunflowers commented on #797
Have you tried this PR #734 ?

[2017-11-03 13:37] Icon0clast commented on #795
Alright, I've performed the same steps and in the Debug I'm not seeing the GET request being processed by the agent, just the standard pinging occurring.

In the mean time I'm going to stand up a different host and see if I get different results.  I did notice in the DeathStar issues tracker (https://github.com/byt3bl33d3r/DeathStar/issues/37) that someone is having the same issue related to getti

[2017-11-03 14:07] Icon0clast commented on #795
Well, I started up a new instance of Kali on AWS, git cloned empire, set everything back up and got results.

root@ip-172-31-4-139:~# curl --insecure -i -H "Content-Type: application/json" https://172.31.13.46:1337/api/agents/YH6P3NV1/results?token=el83ojdggs0j4nzml72x0m1a35e8j6kt8scdctbf
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 559
Server: Werkzeug/0.12.2-dev Python/2.7.13
D

[2017-11-03 14:32] qbiguenet commented on #783
I jute would like to know if anybody could interract with my empire listeners without any authentication.
It could be great to implement something to allow only our agents to contact our listeners.

[2017-11-03 18:33] xorrior commented on #797
@robertbhalla71 when writing out to a file, what specifically doesn't work? Are there errors? Is the file not created?

[2017-11-04 17:09] ThePirateWhoSmellsOfSunflowers commented on #783
For me, this is done by the staging key. An attacker cannot interact with your listener without the correct staging key (maybe I'm wrong)

[2017-11-05 12:26] n0n0n0n0 commented on #542
still have problem while trying cd/etc to folder with russian name

[2017-11-05 12:33] n0n0n0n0 commented on #542
Problem still exists, used latest version from dev
Now even when client trying to connect:
[code]

[2017-11-05 12:35] n0n0n0n0 commented on #542
btw according to b3b80cb6a8a3430205cd80c532b5edb4aee16508
it anyway will not fix them problem when we try cd/etc to folder with russian name, or download file, etc

[2017-11-06 03:16] p3nt4 opened #798 "Error With Ampersand Character in Stager"
## Empire Version
2.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hi, I am trying to launch an empire stager through powershell runspaces in c#
(https://github.com/p3nt4/PowerShdll).
[code]
The ampersand in the stager is causing an error (please see below).

Is it possible to replace that symbol by a co

[2017-11-06 03:22] xorrior commented on #798
@p3nt4 You try escaping with ` .

[2017-11-06 03:22] #798 closed

[2017-11-06 03:27] xorrior commented on #795
@Icon0clast So I will say once you have received results and viewed them in the console, they are removed from the DB and will not be shown when you use the API to fetch them. This may not be the case but its possible, depending on the order of execution in your testing.

[2017-11-06 03:27] #795 closed

[2017-11-06 03:40] p3nt4 commented on #798
Thanks @xorrior for the reply. Escaping the ampersand does not work.

I managed to run the agent as below. So its definately an issue with the base64 decoding. I have tried using ASCII, UTF8, Default, none of them seem to do the trick.

[code]

[2017-11-06 08:50] carms642 opened #800 "launcher_bat Obfuscate Error"
## Empire Version
2.3
In the most current version
## OS Information (Linux flavor, Python version)
Kali 4.12.0 Python 2.7.14
Obfuscate does not work when I do it.
![bbbb](https://user-images.githubusercontent.com/11415252/32432335-471a86a6-c2e8-11e7-895b-80556e320e82.png)

[2017-11-06 13:30] tecxx opened #801 "mimikatz 2.1.1"
## Empire Version
[Version] 2.3 | [Web] https://github.com/empireProject/Empire

## OS Information (Linux flavor, Python version)
kali, latest updates

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

using mimikatz in empire prints version info
mimikatz 2.1 (x64) built on Dec 11 2016 18:05:17

when download

[2017-11-06 19:24] nathan845757 opened #802 "ps error"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Kali rolling

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When typing PS all processes are displayed as x86 even though its a 64 bit o.s. and Metasploit reports x64 on same process.

Empire output:
winlogon                    328 x86

[2017-11-06 23:09] xorrior commented on #801
@tecxx We are working on getting mimikatz updated. Thanks.

[2017-11-06 23:10] xorrior commented on #800
hmmmmmmmmmmmmm. Is PowerShell installed?????????????????????

[2017-11-07 06:11] carms642 commented on #800
If not, how do I get an agent connection.Obfuscate module is not working.Do you work without problems Empire?

[2017-11-07 10:31] MrZanerson opened #803 "EC2 Instance binds to eth0 172 IP address instead of my configured omain"
## Empire Version

## OS Information (Linux flavor, Python version)

Linux EC2  Ubuntu 14.04.5 LTS

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Powershell stager binds to local eth0 172.31.29.142 instead of my c1.test.co.uk  A record points to my EC2 on AWS service .

Ok  so when i execute the listener

[2017-11-07 19:08] mateo24xx opened #804 "Agents staged via http_hop always appear as orphaned..... not fixed !!"
## Empire Version

## OS Information (Linux flavor, Python version)

## after remove agent it stays orphaned and  give non stop message ""agent orphaned ...........""
i had to exit to stop this message ..
any idee how can i fix this?

##

## Any additional information

[2017-11-07 19:43] REPTILEHAUS opened #805 "Issues running mimikatz dcsync module"
## Empire Version
v2.3

## OS Information (Linux flavor, Python version)
kali latest rolling release - supplied by Offensive Security for PWK/OSCP

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Success running powershell/credentials/mimikatz/dcsync or a more helpful error

## Screenshot of error, embedded

[2017-11-07 20:38] DakotaNelson commented on #805
Do you know if this is addressed in #801?

[2017-11-08 01:49] xorrior commented on #804
@mateo24xx can you provide me with all of the information requested in the template? Also, please run empire with --debug 2 and post whatever you can before the orphaned agent message appears.

[2017-11-08 01:53] xorrior commented on #805
@REPTILEHAUS Can you reproduce this issue with the mimikatz binary and the same command? Errors in your mimikatz output does not indicate issues with Empire. Believe it or not, mimikatz is not  always %100 successful :)

[2017-11-08 01:56] xorrior commented on #803
@MrZanerson as long as the host property is set to what you want, thats what will be used in the stager. I'm not sure how/why your results are different as I cannot replicate this. Can you reproduce this on a Kali or Debian image?

[2017-11-08 01:57] xorrior commented on #800
You can't use any of the obfuscate commands without PowerShell. Since, you know, Invoke-Obfuscation is a powershell script.....

[2017-11-08 01:57] #800 closed

[2017-11-08 02:06] xorrior commented on #802
@nathan845757 The logic to determine process architecture is located [here](https://github.com/EmpireProject/Empire/blob/master/data/agent/agent.ps1#L334) in the agent. I'm not sure what would be causing this. I've tested the ps command on 7, 8.1, and 10 x64. I was not able to reproduce this.

[2017-11-08 15:39] OneDollarr commented on #797
don't work..

[2017-11-08 16:24] passwordleak opened #806 "HTTPS Listener fails"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
https listener CertPath does not work. I set the CertPath to be "/opt/Empire/data/empire-chain.pem" which I checked and does exist, but when I try to start a http listener, it resu

[2017-11-08 17:10] xorrior commented on #806
CertPath is a directory that contains both the pem and the private key.

[2017-11-08 17:10] #806 closed

[2017-11-08 17:15] passwordleak commented on #806
Thanks! It works now. I wish it was more obvious or had a better error message however, as the previous Empire versions used a single .pem file.

[2017-11-09 00:20] mateo24xx commented on #804
here you see that i have a lot of agents and can ot kill them ..i tried "" kill all ""   and "" remove all ""
but nothing works and i dont understand why i have all the those agents ??
![aaasasasasasasasaa](https://user-images.githubusercontent.com/24534204/32581879-2a463844-c4ec-11e7-8fa2-bd84e964cc8b.PNG)

[2017-11-09 15:05] OneDollarr commented on #797
Do not create out file with passwords

[2017-11-10 08:24] robertbhalla71 commented on #797
I found the problem was not with the OutFile. Even when i got to create a file with chromedump, the PWD column is empty as the module is not able to extract passwords out of it. Has anyone got any results with this module?

Also the module Invoke-FoxDump doesn't show anything even when you have admin high-integrity. any suggestions?

[2017-11-10 08:26] robertbhalla71 commented on #797
@xorrior There was a momentary error. tried the next day and the file got created. Thanks for help @ThePirateWhoSmellsOfSunflowers

[2017-11-10 10:29] whoot commented on #720
Getting the same issue now as @gerrenmurphy.
Fixed it by installing zlib package and replacing '**libssl1.0.0 libssl-dev**' with '**libssl1.0-dev**' in install.sh.

Otherwise HTTPS Listeners wont work!

[2017-11-10 10:46] whoot commented on #720
Made an pull request for this issue: #811

[2017-11-10 23:35] mateo24xx opened #812 "what syntax ,command to use ??"
## EMPIRE 2.3

##LINUX

## i now that this question already received answer but answer was not compleet ,thats why i ask again..
where can we find the commands or syntax to use in new Empire .;i already look in the empire stryke back and find nothing..
![asasasas](https://user-images.githubusercontent.com/24534204/32682979-220ca536-c678-11e7-8888-c7ba2961ffdb.PNG)

## Any additional information

[2017-11-11 00:52] xorrior commented on #812
You're missing the listener option....

[2017-11-11 00:53] #812 closed

[2017-11-11 01:32] mateo24xx commented on #812
thank you

[2017-11-11 12:20] OneDollarr commented on #797
I'm sorry, I did not understand what I need to do to get passwords? I still do not create a document (

[2017-11-11 12:57] ThePirateWhoSmellsOfSunflowers commented on #797
@OneDollarr The data files are locked while Chrome is running, you need to kill Chrome before using this module

[2017-11-11 14:28] OneDollarr commented on #797
No!on the attacked machine 2 passwords are saved, the browser is chrome closed! An hour has passed, the process is started, but no file with passwords is created and nothing happens at all. I have the latest version of empire
I have a system privileges.

![11](https://user-images.githubusercontent.com/32229776/32690307-c27aceb6-c705-11e7-89ad-1097c7ae7cee.png)

[2017-11-11 14:51] ThePirateWhoSmellsOfSunflowers commented on #797
You don't need SYSTEM because passwords are encrypted in the context of the current user. Try with without SYSTEM

[2017-11-11 15:22] OneDollarr commented on #797
It does not work .. Am I the right way to point? For example, I want to save to my home directory. /root/amazon.tht I should have a document amazon.tht in the catalog. I tried with the rights of a normal user, it does not work. The browser is closed. The service starts and nothing happens. I waiting 10 min and nothing happend ( Maybe I need to replace the powershell script with another one?

![333

[2017-11-11 20:30] xorrior commented on #797
The save path is referring to a directory on the comprised host, not locally..

[2017-11-11 20:30] #797 closed

[2017-11-12 19:25] OneDollarr opened #813 "Persistence/wmi not successful."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Kali linux 2017.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
usemodule powershell/persistence/elevated/wmi
After upgrading to empire 2.3, this module stopped working. I started the module, I received the message as before (WMI pers

[2017-11-13 01:40] xorrior commented on #801
@tecxx mimikatz has been updated.

[2017-11-13 01:40] #801 closed

[2017-11-13 01:41] xorrior commented on #805
@REPTILEHAUS Mimikatz has been updated to the latest version. Please re-test and feel free to open this back up if the problem still exists.

[2017-11-13 01:41] #805 closed

[2017-11-13 03:06] gearcapitan commented on #765
@e0x70i some progress? The bat and vbs files generated by empire still do not work, obvious only those that have the parameter of obfuscated

[2017-11-13 12:25] utkusen opened #814 "collection/WebcamRecorder module is not working"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Agent deployed on Windows 7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When I execute `collection/WebcamRecorder` module, job is not starting.

[2017-11-13 19:08] OneDollarr commented on #814
Yes(

[2017-11-14 16:07] Vokaysh opened #816 "Invoke-Powerdump failing on Windows 10"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)
Windows 10

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expecting to get user password hashes, instead getting empty password NTLM hashes (31D6CFE0D16AE931B73C59D7E0C089C0)

## Any additional information
It seems there was a chang

[2017-11-15 03:15] ghostdog3993 opened #818 "Malwarebytes blocks all launcher.. eta on evasion?"
## Empire Version

## OS Information (Linux flavor, Python version)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information

[2017-11-15 06:24] zondaime13 opened #819 "Can you teach me how to mass execute payload please ?"
Excuse me but can you help me to execute a payload when I get agent ? I got 2 agent in my Empire and I want to mass upload and execute file to all agent. Using interact and shell is slowly. Thank you!

[2017-11-15 13:49] qbiguenet commented on #204
We can't set the listeners type to "foreign" anymore ?
What should we do now ?

[2017-11-15 14:27] xorrior commented on #204
@qbiguenet the listener type is http_foreign

[2017-11-15 14:29] xorrior commented on #819
@zondaime13 Your best bet is to use the REST api and automate something to do that. I don't know if the effort is worth it in your specific circumstance.

[2017-11-15 14:29] #819 closed

[2017-11-15 14:29] #818 closed

[2017-11-15 14:31] xorrior commented on #816
@Vokaysh I anxiously await your PR that ports the changes made in metasploit. If not, we can address this in the future.

[2017-11-15 14:31] #816 closed

[2017-11-15 14:35] xorrior commented on #814
@utkusen can you provide any more detail? Can you run empire with --debug 2 and post the redacted output here? Can you try running the module as a standalone script?

[2017-11-15 14:37] xorrior commented on #813
@OneDollarr can you post the output of empire with --debug 2 after running the module and rebooting the target?

[2017-11-15 14:37] xorrior commented on #802
closing, no activity.

[2017-11-15 14:37] #802 closed

[2017-11-15 14:38] xorrior commented on #803
closing, no activity

[2017-11-15 14:38] #803 closed

[2017-11-15 15:17] ThePirateWhoSmellsOfSunflowers commented on #818
With some basics tricks it's easily possible to bypass simple detection, MacAfee for example, won't detect empire's macro with simple string obfuscation (base64, replace...). Worth to give a try ;);)

[2017-11-15 15:20] ThePirateWhoSmellsOfSunflowers commented on #819
As a workaround , you can use `set Agent all` when you use a module

[2017-11-15 18:19] utkusen opened #821 "Unicode Decode Error in "Get Current Agents" REST API Call"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Tried under macOS and Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I got two active agents on Empire. Information regarding to these agents are listed below:
https://i.imgur.com/G4YyOkJ.png
https://i.imgur.com/3tGGSSv.png

[2017-11-15 18:46] utkusen commented on #814
--debug 2 gave me this:

[code]
Goes like this

[2017-11-15 20:53] utkusen opened #822 ""Get Agent Results" REST API Call Should Return "taskID" Variable"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Both Kali Linux, macOS

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Let's say you triggered `whoami` command with "Task an Agent to run a Shell Command" API Call for 4 times on an agent. It produces an output like that for the last

[2017-11-16 00:29] ghostdog3993 commented on #818
i was trying to use an exploit, that creates a rtf but malwarebytes got the empire payload even the obfuscated one.

[2017-11-16 00:39] TheKevinWang opened #823 "Lateral Movement with schtasks and sc"
schtask and sc are really easy to use for lateral movement. I have gotten both methods to work with Empire, but I used a short stager. Services are also a good method for privileged persistence.

[code]

Both methods were supposedly used by Duqu 2.0 when they hacked Kaspersky.

[2017-11-16 01:22] CyDoor commented on #818
So there is a little chance, that you asking 4 help because you cant create the payload?
-> Deactivate malwarebytes

[2017-11-16 02:30] xorrior commented on #626
We won't be able to implement this feature request at this time. Thanks.

[2017-11-16 02:30] #626 closed

[2017-11-16 05:41] robertbhalla71 opened #824 "when used * instead of non ascii characters, it misbehaves"
## Empire Version
2.0

## OS Information (Linux flavor, Python version)
Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
non-ascii characters support is not there. when used *, it says the command is executed but it actually does nothing

## Screenshot of error, embedded text output, or Pastebin link t

[2017-11-16 14:59] royharoush commented on #539
do you guys know of the correct version to use of the forked empire ?

[2017-11-16 15:12] qbiguenet opened #825 "Listener behind NAT - Agent switch from public Ip adress to private"
Hi,

I have two listeners :
![image](https://user-images.githubusercontent.com/9715259/32898111-8fb07d60-cae7-11e7-8889-f6457b44ac10.png)
(Same default profile, staging key etc..)

When i generate a stager based on the http_foreign listener, and execute it, i got a connexion on my listener and agent is deployed.

![image](https://user-images.githubusercontent.com/9715259/32898380-475a6b88-cae8-11e

[2017-11-16 15:12] xorrior commented on #824
@robertbhalla71 Can you elaborate on where the asterisk is used. Is that in a file path? Please post output from empire with --debug 2. Also, we are now on version 2.3 ..........

[2017-11-16 22:02] zondaime13 commented on #819
@ThePirateWhoSmellsOfSunflowers  @xorrior  thank you for the reply to my post!

[2017-11-19 00:55] IppSec opened #827 "BUG: Agent Fails Staging if Windows Version Check Fails"
## Empire Version
Dev and Master Branch.  Both checked out today.

## OS Information (Linux flavor, Python version)
Kali, Victim is up to date Windows 10  with PSv2 Disabled.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When OS Identification fails, it does not create a column in Sys Check In info.  This

[2017-11-19 11:51] utkusen opened #828 "Question: Using download/upload functionality on agents with Rest API"
Running modules or shell commands are well documented in here: https://github.com/EmpireProject/Empire/wiki/RESTful-API

However, I couldn't find any references on how to use built-in agent functions like download and upload. Is there a way to do it with REST API directly?

[2017-11-20 02:31] elitest opened #831 "StagerURI option in HTTP Listener assumes PowerShell"
## Empire Version
Master

## OS Information (Linux flavor, Python version)
Ubuntu

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When you specify the StagerURI option in the HTTP listener you get only a PSH launcher.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any addit