[2017-11-21 08:55] robertbhalla71 commented on #824
As empire is not catering for utf-16, i tried using * in place of those characters. It said the file is downloaded, but no file was downloaded. Never the less i used a workaround for that problem. but it would be cool if empire is able to support utf-16

[2017-11-21 23:10] xorrior commented on #824
Unfortunately, that's not something we're going to support right now

[2017-11-21 23:11] #824 closed

[2017-11-22 03:02] net2net opened #832 "centos install error"
## Empire Version
newsest version

## OS Information (Linux flavor, Python version)
centos 6.4 python2.6

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
[root@MyCloudServer Empire]# ./empire
[*] Loading stagers from: /opt/Empire//lib/stagers/
[*] Loading modules from: /opt/Empire//lib/modules/
Traceback (mo

[2017-11-22 09:35] utkusen commented on #832
I don't think centos is supported

[2017-11-23 16:03] uaksag opened #833 "setup_database.py fails to auto-calculate the correct INSTALL_PATH under some circonstances"
## Empire Version
Master branch

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When Empire is cloned in a directory not named "Empire", but whose path contain "Empire" ("/root/Empire/git" for example), setup_database.py thinks INSTALL_PATH is "/root/Em

[2017-11-25 04:55] varnerac opened #834 "XAR fails to install on Kali"
## Empire Version

`master`

## OS Information (Linux flavor, Python version)

[code]

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

```STAGING_KEY=dummy ./setup/install.sh```

## Screenshot of error, embedded text output, or Pastebin link to the error

[code]

## Any additional information

[2017-11-25 17:06] ThePirateWhoSmellsOfSunflowers commented on #834
`apt install libssl-dev` ?

[2017-11-25 18:53] varnerac commented on #834
I don’t think so. It finds other OpenSSL headers. I think the function was deprecated. May require an API compatibility flag at compile time to enable it.

[2017-11-25 22:28] rvrsh3ll commented on #832
Sorry, OS not supported. Do a PR if you get it going :)

[2017-11-25 22:28] #832 closed

[2017-11-26 07:46] xorrior commented on #834
@varnerac see #720

[2017-11-26 07:46] #834 closed

[2017-11-27 07:06] V1V1 opened #837 "Agent checkin error - Constantly signaling restaging"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Debian 9, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When using a HTTP listener, some agents that I've set persistence on have issues checking in.
They'll constantly signal restaging (see screenshot below) and eventually

[2017-11-27 14:32] hampros2 opened #838 "Autorun doesn't run until you interact with the agent"
usemodule powershell/persistence/elevated/wmi
set Agent autorun
execute

After doing this I won't get the output that notifies me that persistence has been established until after I use the interact command. If this is the intended behaviour, is there any way to make a module autorun once you get a new connection?

[2017-11-28 00:08] xorrior commented on #837
@V1V1 can you reproduce this and post the output given from running empire with the --debug 2 flag? I've address this problem in the latest release. You can force the issue by removing an agent from the database after it has checked in.

[2017-11-28 00:11] xorrior commented on #838
@hampros2 so for agent output this is intended. You will only receive output when interacting with the agent. For the execution of the module, it happens once a new agent is received.

[2017-11-28 02:54] hampros2 commented on #838
Oh I see. Is it possible to have multiple autoruns and what determines in what order they will be executed?

[2017-11-28 03:44] hellohaha2018 opened #839 "listener failed to start [Errno 98]"
## Empire Version
Master

## OS Information (Linux flavor, Python version)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
listener failed to start
address already in use [Errno 98]

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information
how do i fix this

[2017-11-28 18:03] dfirArch0n commented on #838
yes, use a resource file.  I followed this article www.blackhillsinfosec.com/empire-resource-files-auto-runs-docx/

[2017-11-28 18:41] hampros2 commented on #838
@dfirArch0n thanks

[2017-11-28 18:42] #838 closed

[2017-11-29 01:08] e0x70i commented on #765
sorry @gearcapitan  I didn't make the fix, but looks like cobbrs latest pull request has the fixes!

[2017-11-29 02:00] xorrior commented on #839
No clue how to fix that without more information. Possibly another process occupying the port?

[2017-11-29 02:01] #839 closed

[2017-11-29 06:55] V1V1 commented on #837
Hey, @xorrior. I just reproduced it with debug output; it's still constantly restaging. The error I'm getting is:

Agents : [!] handle_agent_data(): sessionID ESZ8BCDU not present
listeners/http : [!] Error from agents.handle_agent_data() for URI_STRING from IP_ADDRESS: ERROR: sessionID ESZ8BCDU not in cache!

"ESZ8BCDU" is the agent I just removed.

[2017-11-29 16:54] sadizane opened #840 "Default Profile/Custom Profile setup ?"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Ubuntu 16.04.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I'm trying to setup a custom profile however i can't no longer see the configuration setup in setup_database.py . Where do you set the profile  and how do you change the in

[2017-11-29 19:34] crossmxn commented on #822
Any updates?

[2017-11-29 19:35] utkusen commented on #822
no updates but I reverted the commit that removes taskid. I'm using it in that way for myself

[2017-11-29 19:41] crossmxn commented on #822
Do you have a link to the commit? Thankss

[2017-11-29 19:51] leoloobeek commented on #840
You shouldn't need to do anything to setup_database.py. When you are setting up your listener within Empire you can do the following to change those things:

[code]

Above sets three custom pages, modifies the user agent to "Some User Agent", and adds on two Custom HTTP Request headers.

[2017-11-29 21:20] jetsecurity commented on #825
Hi,

Instead of 2 listeners, it would be preferable to be able to use a single listener, with the Host option pointing to the public IP and port, and with the BindIP and Port options set to the private (behind NAT and port forwarding) values:

(Empire: listeners/http) > set Host http://publicIP:publicPort
(Empire: listeners/http) > set BindIP privateIP
(Empire: listeners/http) > set Port privatePo

[2017-11-29 23:03] Bry-fi opened #841 "Obfuscation not returning a shell."
## Empire Version
 Latest
## OS Information (Linux flavor, Python version)
Kali linux and I possess both python2.7 and python3 on my box.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The obfuscated command returns a shell and bypasses AV. No errors are returned

## Screenshot of error, embedded text out

[2017-11-30 03:01] zu3s opened #842 "can you port forward with empire?"
## Empire Version
empire 2.3

## OS Information (Linux flavor, Python version)
kali linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
like metasploit, im trying to port-forward my poweshell bat file. in metasploit. i create the bat file with the ngrok tcp ip. set up the listener with my public ip and ba

[2017-11-30 08:11] xorrior commented on #837
@V1V1 are you sure your using the latest version? I just tried to reproduce this on a Win10 host.
![screenshot from 2017-11-30 00-09-27](https://user-images.githubusercontent.com/9156069/33420318-1a7f09a4-d57c-11e7-96ac-ff5e0daf9f96.png)

[2017-11-30 10:40] sadizane commented on #840
Thanks for your help.

Regards,

[2017-11-30 10:40] #840 closed

[2017-11-30 17:25] xorrior commented on #825
@jetsecurity Thanks for the PR. @qbiguenet I will try to address this soon.

[2017-12-01 09:31] V1V1 commented on #837
Yeah. I'm using Empire 2.3. Below is a screenshot showing the behavior with a Win7 host.

![empire-restaging_issue2](https://user-images.githubusercontent.com/17599553/33476307-98d8aa78-d692-11e7-875f-d1337d27707e.png)

Thanks for the help. I'll close the issue, reinstall Empire and hope it doesn't happen again.

[2017-12-01 09:32] #837 closed

[2017-12-01 11:15] oscguinea opened #845 "Listener/Launcher not work with public IP"
## Empire Version

## OS Information (Linux flavor, Python version)
Kali Linux 2017

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information

I try to connect with my Empire environment since Internet.
I have

[2017-12-01 18:06] Maleus opened #846 "Anti-Virus causing Powerdump to show wrong hash"
## Empire Version
current

## OS Information (Linux flavor, Python version)
Windows 7 testing against Mcafee Endpoint protection, Threat Protect

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When running PowerDump against a machine that has Mcafee Endpoint protection on it, the hash comes back incorrect.

[2017-12-02 17:45] xorrior commented on #846
@Maleus We don't have information or capabilities to get around that. Sorry.

[2017-12-02 17:45] #846 closed

[2017-12-03 02:38] delta-plus commented on #775
I get the same error with version 2.3 on Debian 9. CertPath is the full path to empire-chain.pem. Host is https://192.168.56.1:443 (Virtualbox network).

[2017-12-03 06:19] xorrior commented on #601
Done dad46533dae0b3d498150cd1c139c595dcac2873

[2017-12-03 06:19] #601 closed

[2017-12-03 08:36] leperjulien commented on #841
I faced the same issue and i think for me it was beacause of the Powershell version present on the target host (Windows 7 Starter has only powhershell v1) so the obfuscated launcher doesn't work i had to use regular launch_bat stager.

Also i forwarded port 4444 , 5555 and 8000 on my router and created 3 listeners with thoses port and only the 5555 works, others won't let any agents connect back..

[2017-12-04 04:03] xorrior commented on #765
Fixed in #826

[2017-12-04 04:03] #765 closed

[2017-12-04 04:06] xorrior commented on #841
@Bry-fi There are so many factors that could be the root cause of you not receiving an agent. There isn't much help I can provide without a substantial amount of detail. I will say that obfuscated launchers were fixed in #826. If you can re-produce this after a fresh git pull, please run empire with the --debug 2 flag and post the output here after executing an obfuscated launcher.

[2017-12-04 04:06] #841 closed

[2017-12-05 03:42] xorrior commented on #813
closing, no activity

[2017-12-05 03:42] #813 closed

[2017-12-05 03:52] OneDollarr commented on #813
Sorry, it's work. Thank you

[2017-12-05 06:53] xorrior commented on #814
@utkusen  I tested this module again. I'm not sure why your job wasn't starting but I'm unable to reproduce that issue.
![webcam-worked](https://user-images.githubusercontent.com/9156069/33593743-bae42f60-d95e-11e7-98c4-c6f04bfb47b0.png)

[2017-12-05 06:53] #814 closed

[2017-12-05 07:36] xorrior commented on #825
@jetsecurity  So I tried to reproduce this issue by using socat in front of an Empire server. Setting the BindIP to the Empire server and the host option to the external redirector. I did not experience any issues with staging or executing commands. @jetsecurity can you test this again?

[2017-12-05 07:48] xorrior commented on #827
Done. 8862a83

[2017-12-05 07:48] #827 closed

[2017-12-05 07:49] xorrior commented on #828
@utkusen Sorry for the delayed response. Currently there is only functionality to upload files to an agent but not download. Thanks

[2017-12-05 07:49] #828 closed

[2017-12-05 07:50] xorrior commented on #845
duplicate of #825

[2017-12-05 07:50] #845 closed

[2017-12-05 09:44] utkusen commented on #828
@xorrior thanks for the info, but I couldn't find upload file section on API documentation. Could you please describe the required API call?

[2017-12-05 15:46] xorrior commented on #804
@mateo24xx I figured out the issue. The php code does not contain any logic to return the HTTP response code. Simply, if the return value is false, it will return nothing. So if an agent needs to re-stage after being removed, it never will.

[2017-12-05 16:05] xorrior commented on #842
@zu3s can you post a more detailed walk through of what your doing? Empire doesn't have any built functionality for port forwarding. So what you are trying to do isn't really in the realm of supported issues.

[2017-12-05 16:07] xorrior commented on #720
@whoot We now have a docker build release. This should resolve issues with libcrypto. Please let me know if this works for you. #848

[2017-12-05 16:46] horllste commented on #842
why dont you just host empire on a vps and ssh into it using screen to keep your sessions, there are good vps that comes the same price as ngrok

[2017-12-05 20:55] xorrior commented on #828
@utkusen Sure: https://github.com/EmpireProject/Empire/blob/master/empire#L886

[2017-12-05 20:56] xorrior commented on #775
@delta-plus The CertPath refers to the directory containing both the empire-chain.pem and empire-priv.key. Not a file, but a folder.

[2017-12-05 20:56] #720 closed

[2017-12-05 21:38] jetsecurity commented on #825
The problem only occurs if you want (or have) to use a different listening port than the public port. Notably, if you are behind port forwarding with a public port different than the port Empire listens on. I suspect https://github.com/EmpireProject/Empire/issues/842 is also the same issue.

Let's say you have this port forwarding setup: publicIP:443 -> privateIP:1234. It should be possible to do:

[2017-12-05 23:04] xorrior commented on #825
@qbiguenet @jetsecurity so take a look at this issue: #363 and #482. Specifically I would recommend trying the steps I outlined in 363. If you use a http_foreign listener as well as a http listener, with different ports, the agent should still stage and operate normally. I'll test out your PR later this evening @jetsecurity. Thanks

[2017-12-06 05:11] delta-plus commented on #775
Oh, that makes sense. Thanks a bunch!

[2017-12-06 09:36] utkusen commented on #828
@xorrior thank you! You should consider to add it to API documentation

[2017-12-06 23:14] jetsecurity commented on #825
Steps in #363 seems to be what @qbiguenet tried. In his first screenshot we can see he's using a foreign http listener with the public IP and port, and and a regular http listener with the local IP and port.

However, he experienced what seems to be the same issue as in #482: at first, the agent is able to connect back (so the listener reports a new connection), but at the end of the staging proce

[2017-12-07 14:34] DakotaNelson opened #850 "Enhancement: Templating engine"
I'm about to find myself with a lot of free time next week, and want to take a look to see if this would be worth me taking on:

### Proposal
Currently, a lot of code generation (for stagers, launchers, etc.) looks like:

[code]

Maybe it's just me, but this seems to lead to some problems:
- makes generation logic hard to read (and thus debug)
- causes a lot of repetition (for instance, the first

[2017-12-07 19:51] khast3x opened #852 "OSX keylogger is actually the webcam module"
## Empire Version
Current

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The file can be found [here](https://github.com/EmpireProject/Empire/blob/master/lib/modules/python/collection/osx/keylogger.py). It is named keylogger.
[code]

## Screenshot of

[2017-12-07 20:27] xorrior commented on #850
@DakotaNelson Please have at it, this sounds like an amazing idea. As the project continues to grow, it's become even harder for maintenance and new additions. I would love to shrink the codebase down and this sounds like it's a solid answer.

[2017-12-08 04:05] xorrior commented on #825
Fixed in #847

[2017-12-08 04:05] #825 closed

[2017-12-08 04:06] xorrior commented on #852
Thanks for pointing this out. We'll address it at some point.

[2017-12-08 04:06] #852 closed

[2017-12-08 04:07] xorrior commented on #842
#847 might be able to assist you with this?

[2017-12-08 04:07] #842 closed

[2017-12-09 14:36] usmarine2141 opened #855 "Error when trying to run powershell Empire."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Parrot

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
when running sudo ./empire i get the following

Traceback (most recent call last):
  File "./empire", line 8, in <module>
    from OpenSSL import SSL
  File "/usr/local/lib/python2.

[2017-12-09 14:38] usmarine2141 commented on #855
Version of OpenSSL that was installed i assume when things got broke

openssl is already the newest version (1.1.0g-2).

[2017-12-09 14:41] usmarine2141 commented on #855
this is what is in my ssl.py line 118

SSL_ST_INIT = _lib.SSL_ST_INIT

[2017-12-09 14:49] usmarine2141 commented on #855
When i try to just re-install

└──╼ $sudo ./install.sh
--2017-12-09 09:46:32--  https://bootstrap.pypa.io/get-pip.py
Resolving bootstrap.pypa.io (bootstrap.pypa.io)... 151.101.112.175
Connecting to bootstrap.pypa.io (bootstrap.pypa.io)|151.101.112.175|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1595408 (1.5M) [text/x-python]
get-pip.py: Permission denied

Cannot write

[2017-12-10 14:05] 6a7070 opened #858 "Python agent, no command output in Empire"
## Empire Version
2.3 - release version (python agent w/ http listener + HTTPS)

## Empire Server OS Information
Ubuntu 16.04.3 LTS, python 2.7.12

## Agent OS Information (Linux flavor, Python version)
Red Hat 6.8, python 2.6.6

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Empire agent runs successfully

[2017-12-10 20:11] xorrior commented on #858
@6a7070 There hasn't been extensive testing for anything below Python 2.7. Do any of the modules return output? Have you tried any other commands? On the agent side the best place to debug is to just add a print statement here: https://github.com/EmpireProject/Empire/blob/master/data/agent/agent.py#L260 . Print out the value of resultData for shell commands. I'll  see if I can get a python 2.6 env

[2017-12-11 09:30] utkusen opened #859 "Linux/OSX modules doesn't work with REST API"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)
Kali linux server, macOS high sierra host

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I could be able to execute native_screenshot_mss module via Empire's console without a problem. However, when I execute it via API like this:

[2017-12-11 09:35] utkusen commented on #859
It seems this error appears in all osx modules when you try to use them via REST API

[2017-12-11 10:10] utkusen commented on #859
It seems this error appears in all linux modules also

[2017-12-11 13:52] SergANT85 opened #860 "AV detect :-("
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Debian 8; python 2.7.

########
Good day! I have a problem with AV, a few weeks ago on the powershell code worked very well. There are ideas to bypass AV?

Detect - NOD32 Avira Kasperskiy

http://www.nodistribute.com/result/bhaMkrKiJ6VguNxSd2Y3

[2017-12-11 16:57] 6a7070 commented on #858
Thank you @xorrior for the help! It made it much easier to figure out a solution!

I figured out that the encode() function in Python 2.6.6 cannot include any keyword arguments like "errors". The command output from the agent never gets sent to the Empire server because the agent errors out. Specifically line 136 (https://github.com/EmpireProject/Empire/blob/master/data/agent/agent.py#L136) causes

[2017-12-11 20:52] usmarine2141 commented on #855
any update? @xorrior

[2017-12-12 13:57] DakotaNelson commented on #855
Looks like it's probably an issue with `pyOpenSSL`.

Try futzing with `pyOpenSSL` as seen [here](https://github.com/MobSF/Mobile-Security-Framework-MobSF/issues/293) and see if that helps.

[2017-12-12 18:31] xorrior commented on #858
@6a7070 Sure, would you mind creating a PR for this? :)

[2017-12-12 18:34] xorrior commented on #855
@usmarine2141 Has updating pyOpenSSL to 16.2.0 resolved the issue? @DakotaNelson do you think this is a corner case or should the install script be updated??

[2017-12-12 18:35] #860 closed

[2017-12-12 18:37] xorrior commented on #409
@lm902 we have/had a PR #763  trying to address this. No timetable on when it will be fixed.

[2017-12-12 18:37] #409 closed

[2017-12-12 18:40] xorrior commented on #707
@edermi I'm going to close this out for now. I'm not sure if we'll ever make this change.

[2017-12-12 18:40] #707 closed

[2017-12-12 18:41] xorrior commented on #821
@utkusen thanks for pointing this out.

[2017-12-12 19:02] usmarine2141 commented on #855
@DakotaNelson @xorrior   yeah dont see where they getting pyOpenSSL its not in my list of apt install...

shouldnt pip install requirements.txt install this version anyways? or am i missing something

[2017-12-12 19:57] DakotaNelson commented on #855
This is (approximately, depending on your OS) where the pip installs happen:

https://github.com/EmpireProject/Empire/blob/9bf23c8a974f01acfce208da6e3eee1d1a709c92/setup/install.sh#L21-L33

See on line 30 where `pyOpenSSL` has a version number specified?

Try either using `pip` (the command itself - [here's a reference](https://packaging.python.org/tutorials/installing-packages/)) to install a dif

[2017-12-12 21:28] usmarine2141 commented on #855
install on fresh fully updated install of kali

checking for gcc... gcc
checking for C compiler default output file name... a.out
checking whether the C compiler works... yes
checking whether we are cross compiling... no
checking for suffix of executables...
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc accepts -g... yes
check

[2017-12-12 21:29] usmarine2141 commented on #855
but running it, it works.

[2017-12-13 00:11] usmarine2141 commented on #855
when i run it on parrot i get the following

Cannot write to ‘get-pip.py’ (Permission denied).
python: can't open file 'get-pip.py': [Errno 2] No such file or directory
Unknown distro - Debian/Ubuntu Fallback
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libssl1.0.0 is not available, but is referred to by another package.
This may mean that the pa

[2017-12-13 00:11] usmarine2141 commented on #855
when trying to run get the following

┌─[yoyo@parrot]─[~/Empire]
└──╼ $./empire
Traceback (most recent call last):
  File "./empire", line 5, in <module>
    from flask import Flask, request, jsonify, make_response, abort, url_for
  File "/usr/local/lib/python2.7/dist-packages/flask/__init__.py", line 17, in <module>
    from werkzeug.exceptions import abort
ImportError: No module named werkzeug.e

[2017-12-13 00:16] usmarine2141 commented on #855
pip list output

bash: pip-list: command not found
┌─[✗]─[yoyo@parrot]─[~/Empire]
└──╼ $pip list
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    from pip import main
  File "/usr/lib/python2.7/dist-packages/pip/__init__.py", line 21, in <module>
    from pip._vendor.requests.packages.urllib3.exceptions import DependencyWarning
  File "/usr/lib/python2.7/dist-packa

[2017-12-13 00:19] usmarine2141 commented on #855
just gonna blow this image away and start from new. ugh.

[2017-12-14 04:24] xorrior commented on #855
@usmarine2141 I've have seen quite a bit of problems from using Parrot as the host os. I would highly recommend just using the docker container in that case.

[2017-12-14 16:09] sparta3407 opened #862 "can't run empire on blackarchlinux"
## Empire Version
2.3

## OS Information (Linux blackarch, Python version 2.7)

[2017-12-14 16:25] DakotaNelson commented on #862
@sparta3407 can you provide any details?

[2017-12-14 16:51] sparta3407 commented on #862
it seems it has  aproblem with M2crypto compiling it gives errors all time

[2017-12-14 17:11] utkusen commented on #821
@xorrior for your information I fixed this by changing `"session_key":session_key` to `"session_key":session_key.decode('latin-1').encode("utf-8")` on empire file line 743

[2017-12-14 19:40] usmarine2141 commented on #855
yes i have noticed as well. I hate how Kali live detects my wireless drivers, but when i install, it cant find them. its annoying.

[2017-12-15 00:17] xorrior commented on #821
@utkusen would you mind submitting a PR for the fix you implemented?

[2017-12-15 04:18] danthegoodman1 opened #865 "Enhancement: OSX capture microphone"
## OSX microphone capture

I think this would be a very valuable payload for mac (and windows/linux too!). Hopefully it's not too difficult to implement!
Edit: This link may be useful? https://www.rapid7.com/db/modules/post/osx/manage/record_mic

[2017-12-15 08:14] utkusen commented on #821
@xorrior done

[2017-12-15 16:36] xorrior commented on #821
@utkusen thanks!

[2017-12-17 09:26] zu3s commented on #842
hashcat (pull/1273/head) starting...

nvmlDeviceGetFanSpeed(): Not Supported

OpenCL Platform #1: NVIDIA Corporation
======================================
* Device #1: GeForce GTX 1070, 2028/8113 MB allocatable, 16MCU

/root/Desktop/hcc.hccap: Old hccap format detected! You need to update: https://hashcat.net/q/hccapx

Started: Sun Dec 17 04:24:11 2017
Stopped: Sun Dec 17 04:24:11 2017

[2017-12-17 15:00] vay3t opened #867 "[!] Exception: 'NeedsAdmin'"
## Empire Version
[Version] 2.3

## OS Information (Linux flavor, Python version)
ubuntu 16.04 LTS x64

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

(i run empire with sudo or root) when i use the command: searchmodules i have this problem:

[code]

## Screenshot of error, embedded text output, or Pasteb

[2017-12-18 15:07] #822 closed

[2017-12-18 15:39] #821 closed

[2017-12-18 15:40] xorrior commented on #727
Fixed in #866

[2017-12-18 15:40] #727 closed

[2017-12-18 16:23] xorrior commented on #850
Merged #863. Thanks again!

[2017-12-18 16:23] #850 closed

[2017-12-18 16:31] xorrior commented on #855
@usmarine2141 I'm going to go ahead and close this one out. Moving forward we will probably just support Debian, Ubuntu, and kali. I'll update the readme as soon as I can.

[2017-12-18 16:31] #855 closed

[2017-12-18 17:35] xorrior commented on #867
@vay3t I'm unable to reproduce the exception that you're seeing with the searchmodule command. Can you pull down the latest from the master and try again? I'm not sure where that exception is coming from.

[2017-12-18 18:02] vay3t commented on #867
[code]

I keep having the same error, will it be because I only occupy 512mb of ram? the truth I would like to help, you could try for yourself creating a vps ubuntu 16.04 in digitalocean

[2017-12-18 20:11] leperjulien commented on #664
Same issue for me , but target is Mac OS with Microsoft Word 2011 , when i enable macro nothing happends ; but i go manually in the macro tab and hit play, an agent will connect back :/

[2017-12-18 20:38] honeyfairy opened #869 "launcher bat not working, doesnt return initial agent"
## Empire Version

2.3 latest
## OS Information (Linux flavor, Python version)

kali 2017 latest
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I have tested the following stagers:
**multi/launcher** obfuscated, works if i paste it into a cmd prompt. Does not work if i make a bat file and run it.
**windows

[2017-12-18 21:18] xorrior commented on #869
@honeyfairy Can you provide output from running empire in debug mode when executing one of those stagers? Thanks.

[2017-12-18 21:29] honeyfairy commented on #682
Any updates on the above? I am experiencing #3

[2017-12-18 22:01] honeyfairy commented on #869
@xorrior

Thank you for the reply.
Running Empire in debug mode does not log much to empire.debug. Just starting up and shutting down. Only if an agent checks in i see the log filling up.

I did another test

Here is the generated launcher bat, when i run it i dont get a shell.

[code]

But if i open the bat and copy this piece into a cmd prompt i get a shell.
[code]

[2017-12-19 11:14] bkr32 opened #871 "'module' object has no attribute 'rand'"
## Empire Version
master branch git

## OS Information (Linux flavor, Python version)
kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
upon using ./empire, empire should open normally however after a update(update/upgrade/autoremove)
i get the following error
Traceback (most recent call last):
  File ".

[2017-12-19 18:57] honeyfairy commented on #869
Any ideas?

[2017-12-19 20:31] honeyfairy opened #872 "Are Empire modules available as .ps1 scripts?"
As an example, I would like to execute a script (.ps1/.bat) that does the same action as the **userland/schtasks** persistence module would do when run successfully on an agent.

How would I do this?

[2017-12-20 15:07] CryptomaticSquirrel opened #873 "Question about token manipulation and DLL injection."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Host: Linux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.4-2kali1 (2017-10-16) x86_64 GNU/Linux
Target machine: Windows 8.1 with patches up to 2014 November.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Token manipulation with PowerSh

[2017-12-20 21:35] PierrickV opened #874 "Debian install.sh (dev branch version)"
## Empire Version
branch dev + docker

## OS Information (Linux flavor, Python version)

Debian 9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Multiple error in install.sh :

1 - `E: Package 'libssl1.0.0' has no installation candidate`

2 -
[code]

3 -

[code]

This is because of **setup/bomutils/.place

[2017-12-21 04:38] xorrior commented on #869
I'm not sure honestly, I direct all of the Invoke-Obfuscation questions towards @cobbr haha

[2017-12-21 04:45] xorrior commented on #873
@CryptomaticSquirrel Re: the DLL stager. That dll is used with Invoke-ReflectivePEInjection for the psinject module. As of several weeks ago, both the dll and module function normally. I have not used the dll stager with Invoke-DllInjection and it was not developed for use with that script. I don't know if Invoke-Dllinjection provides the option for calling an exported function, but that is necess

[2017-12-21 04:48] xorrior commented on #872
Running empire with the --debug flag will output the last module executed to a file (LastTask). This is essentially the powershell source for the module. You may need to modify it a bit to execute it as a standalone script.

[2017-12-21 04:48] #872 closed

[2017-12-21 04:55] xorrior commented on #867
@vay3t So I've tested on ubuntu 16.04 in digitalocean and I could not reproduce the issue you were having. I have no idea what would be causing that.

[2017-12-21 04:57] xorrior commented on #862
@sparta3407 we are only going to support debian, ubuntu, and kali in future versions.

[2017-12-21 04:59] xorrior commented on #871
@bkr32 This has been changed in the dev branch. https://github.com/EmpireProject/Empire/blob/dev/lib/common/encryption.py#L63 . Version 2.4 will be out within a couple of weeks.

[2017-12-21 04:59] #871 closed

[2017-12-21 05:07] xorrior commented on #874
@PierrickV just wanted to confirm that this issue is for the docker-dev branch?

[2017-12-21 06:27] CryptomaticSquirrel commented on #873
Thank you very much for the reply.

Good to know about Invoke-Dllinjection.

For token manipulation I have used the built in mimikatz 2.0. and Invoke-Tokenmanipulation modules. Both seem to succeed but the token rights are not transferred and creating a new agent or process with token rights doesn't stick. I have not yet tried to do it with .ps1 script alone.

I will test them both and get back to

[2017-12-21 14:53] PierrickV commented on #874
Hi @xorrior ,

The issue is about the [dev branch](https://github.com/EmpireProject/Empire/tree/dev) and the [install.sh](https://github.com/EmpireProject/Empire/blob/dev/setup/install.sh) file.

Best regards

[2017-12-21 19:02] jaredhaight opened #876 "Obfuscation not detecting PowerShell install (because powershell is now pwsh)"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Ubuntu 17.10
PowerShell 6.0 rc2
Python 2.7.14

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Installed latest version of PowerShell following the instructions here: https://github.com/PowerShell/PowerShell/blob/master/docs/installation

[2017-12-21 19:07] honeyfairy commented on #860
Have you tried setting Obfuscate to True

Example:
[code]

[2017-12-21 19:15] xorrior commented on #876
@jaredhaight We have this updated in the dev branch https://github.com/EmpireProject/Empire/pull/826

[2017-12-21 19:41] honeyfairy commented on #872
Yes this is what I am looking for, I'm sure. Except that I don't see the LastTask.ps1 being created. I looked for it in my Empire directory but it is not there.

[code]

My empire.debug log:
[code]

[2017-12-21 23:16] xorrior commented on #872
@honeyfairy the file will only show up once the module has executed.

[2017-12-22 23:52] jaredhaight commented on #876
Woot. Thanks!

[2017-12-22 23:52] #876 closed

[2017-12-23 06:49] buglessdr opened #878 "uselisteners does not produce listeners listener of choices"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)

linux Kali GNU/Linux Rolling \n \l
python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
 when typing uselisteners I expect a list of listeners as demonstrated: http://www.harmj0y.net/blog/empire/the-empire-strikes-back/

instead

[2017-12-23 15:03] ThePirateWhoSmellsOfSunflowers commented on #878
`uselistener [TAB] [TAB]` to see available listeners

example : `uselistener http`

[2017-12-23 15:34] killswitch-GUI commented on #878
@buglessdr, @ThePirateWhoSmellsOfSunflowers is correct. Use tab to list them.

[2017-12-23 15:34] #878 closed

[2017-12-23 16:55] securityhawk opened #879 "Starting --Rest"
## Empire Version

2.3

## OS Information (Linux flavor, Python version)

Ubuntu 16.04

I cannot seem to be able to load the restful API with python empire --rest --username xxxxxx --password xxxxx

Empire loads fully with the Empire> command prompt

Any advice is appreciated.

[2017-12-23 17:01] CryptomaticSquirrel commented on #879
I think what you are looking for is --headless

[2017-12-23 17:37] CryptomaticSquirrel commented on #873
OK... messed around quite a bit with  Invoke-ReflectivePEInjection.ps1 and it doesn't spawn anything. At first I think it crashed through csrss.exe with and error relating to:

I changed it to 1024,20480,8192 and that seemed to stop. But it still doesn't seem to spawn anything.

Tried the module through an agent and on command-line with:
`C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -

[2017-12-23 17:39] CryptomaticSquirrel commented on #879
Rest should load the API with a token but you still get the console afterwards. --Headless start just the API and displays the token.

[2017-12-23 19:08] CryptomaticSquirrel commented on #873
**OK. Got the DLL working.** Probably did some kind of mistake loading the initial module. Just running the .ps1 with arguments doesn't work.  No idea why the built in empire command version didn't wanna run.

But I am still having my main problem with the **token rights not transferring**. Any suggestions?
I cannot use important modules like PTH, golden ticket and more. I assume it is due to the

[2017-12-23 19:08] honeyfairy commented on #872
Okay, I see it now. Thanks a million @xorrior

[2017-12-23 19:31] securityhawk commented on #879
Perfect thank you @CryptomaticSquirrel !

[2017-12-23 21:42] killswitch-GUI commented on #879
Sounds fixed! Thanks @CryptomaticSquirrel

[2017-12-23 21:42] #879 closed

[2017-12-23 21:48] killswitch-GUI commented on #862
@sparta3407 I suggest you use docker on arch, docs are coming but jump over to dev branch for the updates

[2017-12-23 21:48] #862 closed

[2017-12-23 22:18] killswitch-GUI commented on #874
This does not seem to be a issue on Ubuntu, we will need to hunt this down on a full image

[2017-12-23 23:58] killswitch-GUI commented on #874
3 is fixed in recent push.

[2017-12-23 23:59] killswitch-GUI commented on #874
2 is do to wrong GPG ring and will be fixed

[2017-12-24 00:00] killswitch-GUI opened #880 "Poweshell install.sh broken (Dev Branch)"
## Empire Version
2.3 Dev

## OS Information (Linux flavor, Python version)
All

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information

[2017-12-24 00:02] killswitch-GUI commented on #880
Also need to add GCC / build-essential on Debian

[2017-12-24 00:54] killswitch-GUI commented on #880
Fixed #881

[2017-12-24 00:54] #880 closed

[2017-12-24 00:54] killswitch-GUI commented on #874
Fixed #881

[2017-12-24 00:54] #874 closed

[2017-12-24 01:21] killswitch-GUI commented on #867
@vay3t do you have custom modules? I have a hunch your missing a field or did some custom edits on a stock module.

[2017-12-24 04:46] vay3t commented on #867
The truth is, no

[2017-12-24 09:28] bkr32 commented on #871
[code]

should i just switch to dev branch?
@xorrior

[2017-12-24 10:36] dan7ez opened #882 "cant start empire latest version"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

when i try to start empire i get this error

Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/pentest/po

[2017-12-24 17:26] killswitch-GUI commented on #882
You sure you properly installed? Also, did you read the error, it seems like your missing OpenSSL?

`random_function = OpenSSL.rand.bytes
AttributeError: 'module' object has no attribute 'rand'`

[2017-12-24 17:34] killswitch-GUI commented on #867
I'm going to close this in the meantime, please let me know if a rebuild does not help.

[2017-12-24 17:34] #867 closed

[2017-12-24 17:34] killswitch-GUI commented on #882
This is a known issue and will be resolved soon.

[2017-12-24 17:34] #882 closed

[2017-12-24 23:50] dan7ez opened #883 "cant start empire recieve errors"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/pentest/powershell/empire-ps/lib/common/empire.py", lin

[2017-12-25 12:26] CryptomaticSquirrel commented on #883
In my opinion the question might be better asked from the pentest framework guys. Nevertheless
![image](https://user-images.githubusercontent.com/14925118/34339591-dc123396-e97e-11e7-9443-2993fcfebb42.png)
Not totally sure that the installation gets executed from the correct path. For me the install works about 50 % of time. But the error is different.
Best of luck.

[2017-12-25 12:29] CryptomaticSquirrel commented on #873
I will close down this issue and start a new one on only the token manipulation part. Since there is to much distracting info here on DLL injection.

Hope this isn't a problem.

[2017-12-25 12:29] #873 closed

[2017-12-25 12:42] CryptomaticSquirrel opened #884 "Unable to transfer token rights."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Host: Linux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.4-2kali1 (2017-10-16) x86_64 GNU/Linux
Target machine: Windows 8.1 with patches up to 2014 November.
Mimikatz 2.1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Token manipulation

[2017-12-25 13:24] CryptomaticSquirrel commented on #884
OK... got the Invoke-TokenManipulation.ps1 working on command-line. Will test the PTH and Goldenticket as well.

[2017-12-25 16:38] CryptomaticSquirrel commented on #884
I'll close down this one as well and will create one for PTH and GoldenTicket.

[2017-12-25 16:38] #884 closed

[2017-12-25 17:06] CryptomaticSquirrel opened #885 "Pass-The-Hash opens the process under original user rights."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Host: Linux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.4-2kali1 (2017-10-16) x86_64 GNU/Linux
Target machine: Windows 8.1 with patches up to 2014 November.
Mimikatz 2.1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

![image](https://u

[2017-12-25 17:19] ThePirateWhoSmellsOfSunflowers commented on #883
Maybe your issue is duplicated with #882. It seems to be a known bug.

[2017-12-25 17:43] CryptomaticSquirrel commented on #885
Solved...

It seems it was working the whole time. Unlike MSF the rights are not adopted. I have to steal the right from the new process created by mimikatz PTH.
After this, the console still reports back the original user rights of the agent. So I assumed the new rights I tried to get were not transferred.  But if I use the process with the stolen rights I can move laterally in the network.

[2017-12-25 17:43] #885 closed

[2017-12-25 21:42] xorrior commented on #872
No problem

[2017-12-26 00:03] dan7ez commented on #883
Many thanks for the support!

I did an update through the pentest framework and now get the following error when trying to run empire.

Traceback (most recent call last):
  File "./empire", line 1381, in <module>
    main = empire.MainMenu(args=args)
  File "/pentest/powershell/empire-ps/lib/common/empire.py", line 79, in __init__
    (self.isroot, self.installPath, self.ipWhiteList, self.ipBlackL

[2017-12-26 00:06] ThePirateWhoSmellsOfSunflowers commented on #883
try `./setup/reset.sh`

[2017-12-26 06:34] CryptomaticSquirrel commented on #883
Still quite sure it is due to the unusual path. It didn't reach dependencies before. Now it isn't getting one of the main variables.
Empire seems quite sensitive about it. But I'll give it a go and let you know what happens.

[2017-12-26 10:50] CryptomaticSquirrel commented on #883
use modules/install_update_all
yes
...
Four hours later
out of disk space
Uuups. I make big mistake :)

This took a lot longer then expected.
Got the same error as you. **Like @ThePirateWhoSmellsOfSunflowers mention ./setup/reset.sh fixed it.** Run ./install.sh and it breaks again and helpers.get_config won't get its variables.

[2017-12-26 11:58] CryptomaticSquirrel commented on #883
OK... got this on my main branch as well.
It seems this happens consistently if you run ./install.sh twice. After a clean git clone. The first time install works nice. Second time it gives the before-mentioned error.  ./reset.sh will fix it.

I'm guessing the pentest framework installed it before and you installed it a second time which caused the error.

[2017-12-26 15:49] CryptomaticSquirrel opened #886 "Getting an initial Empire agent without PowerShell."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Target machines: Windows 8.1 with patches up to 2014 November / Windows 2016 server

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Getting an Empire agent onto the target machine after removing PowerShell.

## Screenshot of error, embe

[2017-12-26 16:18] CryptomaticSquirrel commented on #886
Got an agent using the following variant of xml with MSBuild.exe using a download cradle.
https://github.com/3gstudent/msbuild-inline-task/blob/master/executes%20PowerShellCommands.xml

But this was on 2016 server with a working PowerShell.

[2017-12-26 17:23] CryptomaticSquirrel commented on #886
Got it working with the .xml and MSbuild.exe and download cradle.
After uninstalling powershell and blocking the rights to it.

[2017-12-26 17:23] #886 closed

[2017-12-26 17:57] xorrior commented on #883
@dan7ez @CryptomaticSquirrel @ThePirateWhoSmellsOfSunflowers there is an update in the dev branch to catch changes in the database after an upgrade. Probably won't catch all corner cases, but should catch most of them.
https://github.com/EmpireProject/Empire/commit/659b15f86cdcce5eb2513aba237d26cbb4a29bfa

[2017-12-26 17:58] #883 closed

[2017-12-27 02:09] DakotaNelson commented on #871
@bkr32 I believe that if you switch to the dev branch, this will be fixed. Alternately, you can wait a while (a few weeks, probably) and it will be fixed in the primary Empire release.

[2017-12-27 08:45] bkr32 opened #887 "empire rest api"
## Empire Version
dev branch

## OS Information (Linux flavor, Python version)
kali 2017

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
so i'm attempting to use another tool with empire called death start. it consumes the empire rest api and automates some functions for large scale assessments.
the given c

[2017-12-27 09:15] bkr32 commented on #887
had to run cert.sh first my bad

[2017-12-27 09:15] #887 closed

[2017-12-27 15:39] CryptomaticSquirrel opened #888 "DLL doesn't run an agent when using write_dllhijacker.py."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Kali
Target machine: 64 bit Windows 10. 1703

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

The hijacked process usually crashes and the agent process doesn't spawn.

## Screenshot of error, embedded text output, or Pastebin link to t

[2017-12-27 17:20] CryptomaticSquirrel commented on #888
I'll add a screenshot. In this case the hijacked dll is wincorlib.DLL. Same problem
![image](https://user-images.githubusercontent.com/14925118/34388158-c2f8d794-eb3a-11e7-983a-40ef957cb060.png)

[2017-12-27 18:06] CryptomaticSquirrel commented on #888
**version.dll**
![image](https://user-images.githubusercontent.com/14925118/34389273-5b922252-eb41-11e7-8c19-b7afb37cf5da.png)

[2017-12-27 23:08] xorrior commented on #888
What dll are you using? If you are using the empire dll, then i definitely cannot guarantee success. Even so, there are other issues to consider with dll hijacks. For one, the dll you are hijacking may export a function needed by the application. The the attacker dll fires not provide that function, the application may crash.

[2017-12-27 23:53] CryptomaticSquirrel commented on #888
Thank you for the reply!

I am using the DLL created by write-dllhijack.py or a function with the same name from PowerUp.ps1.
Both create a .bat file. Which should run and delete itself. But it never gets executed.

I will mess around with it a bit more tomorrow before testing MSF version for dll hijacking.

If you can point me towards an alternative way to get DLL hijacking to work, it would be g

[2017-12-29 17:47] xorrior commented on #833
@uaksag fixed in the dev branch. Sorry for the wait.

[2017-12-29 17:47] #833 closed

[2017-12-29 17:53] xorrior commented on #858
@6a7070 fixed in the dev branch. Sorry for the wait.

[2017-12-29 17:53] #858 closed

[2017-12-29 18:02] xorrior commented on #859
@utkusen Ah so the culprit was this https://github.com/EmpireProject/Empire/blob/master/empire#L431. For python, the language version is '2.6' as opposed to powershell the language version is just an int. Updated and fixed in the dev branch. Sorry for the wait.

[2017-12-29 18:02] #859 closed

[2017-12-29 18:10] xorrior commented on #888
@CryptomaticSquirrel I would start by writing a simple DLL that will just pop a message box when loaded. Test that out first to determine if there is an issue with required exports or something else entirely. There could be many reasons why the dll is not working.

[2017-12-29 18:45] 6a7070 commented on #858
Thank you for making this change and keep track of it!

[2017-12-30 22:00] d2-d2 opened #892 "[feature] search through agents"
## Empire Version: 2.3
## OS Information (Linux flavor, Python version): Debian 9.0, python 2.7
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

search <item> where <item> is Name, Lang, Internal IP, Machine Name, Username, Process

## Screenshot of error, embedded text output, or Pastebin link to the error

[2017-12-31 21:11] DakotaNelson commented on #892
#409 is relevant to this, and #763 is an attempt to address that seems in-progress.

[2018-01-01 17:25] cegi opened #894 "Ubuntu repository"
## Empire Version
From Dev Branch today(because i get "rand" error)

## OS Information (Linux flavor, Python version)
Debian testing, Python 2.7.14+,Python 3.6.4rc1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I don't understand why Empire add Ubuntu 14 repository in source list to download Powershell in

[2018-01-02 08:25] warhawk23 opened #896 "Launcher.bat not working ( code runs infinetly in cmd)"
## Empire Version

## OS Information (Linux flavor, Python version)
Kali Linux 2017.3 Rolling

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information
Respected Developers, I would first like to thank you all

[2018-01-02 20:32] #888 closed

[2018-01-03 02:16] heascle opened #898 "work wrong"
## Empire Version
 [Version] 2.3

## OS Information (Linux flavor, Python version)
kali ( Debian 4.9.18)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I follow a viedo to learn,but seems mime empire has something wrong.Just see the image and you get it.
Thank you.

## Screenshot of error, embedded text ou

[2018-01-03 03:33] xorrior commented on #898
When in doubt, you can always refer to the help command.
1. uselistener http [or whatever]
2. set Name [name]

[2018-01-03 03:33] #898 closed

[2018-01-03 09:22] shaked007 opened #899 "download command with large files is not working on 2.3"
## Empire Version
2.3 Release

## OS Information (Linux flavor, Python version)
C2 Server: Ubuntu Server 14.04 LTS
Client: Win 10 x64 (two different versions)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When trying to download files (ranging in size, approx. from 1MB to 150MB) using the "download" comma

[2018-01-03 11:36] Kaicastledine opened #900 "Issue with TAB - OSX High Sierra"
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
OSX High sierra
Python 2.7.10
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

[code]

Does not show listeners list

#878
#595
#573

## Screenshot of error, embedded text output, or Pastebin link to the error

`uselisteners [TAB] [TAB] +

[2018-01-03 11:40] Kaicastledine commented on #900
Selecting specific listeners works
`uselistener http`
![image](https://user-images.githubusercontent.com/11678433/34519229-e0e1d702-f07a-11e7-8484-b4faddd45c1e.png)

[2018-01-03 14:30] ThePirateWhoSmellsOfSunflowers commented on #900
@Kaicastledine If I remember correctly, autocompletion with `[TAB]` is currently not supported on OSX, it's a known issue, see #475.

[2018-01-03 15:04] xorrior commented on #900
@Kaicastledine also we don't officially support macOS at all, but I'd be happy to help as much as I can. IIRC there was a PR in dev that modified the install script for macOS.

[2018-01-03 15:04] #900 closed

[2018-01-03 15:09] Kaicastledine commented on #900
Ah not to worry !

Been trying to get it to work with CME via the API with issues also.
https://github.com/byt3bl33d3r/CrackMapExec/issues/226

We've got linux servers but wanted to try setup something more portable for onsite Ptests.

[2018-01-03 22:04] honeyfairy commented on #896
From which location are you running the launcher.bat?
Try moving launcher.bat to a new folder and run in from there

[2018-01-04 01:18] xorrior commented on #894
So what errors are you specifically receiving when running the install script? Can you post those errors please?

[2018-01-04 01:23] xorrior commented on #896
@warhawk23 What branch were you using? Was the bat file generated with or without obfuscation enabled?

[2018-01-04 05:06] xorrior commented on #899
@shaked007 can you start Empire with the --debug 2 option and provide the output here when downloading a large file? One of the side effects of having background downloads is that large downloads are much slower. I was able to reproduce this issue when downloading a 10 mb file.

[2018-01-04 08:59] bkr32 opened #901 "Launch error `TypeError: 'NoneType' object is not iterable`"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)

kali 2017.2
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
./empire or python empire.py should launch empire

i get this error instead

[code]

@xorrior

[2018-01-04 10:40] warhawk23 commented on #896
Before leaving this comment here i again created the listener to check if the problem persisted and i'm surprised that the issue vanished overnight even though i didnt even use it again until today. I dont clearly understand though what was wrong back then but for now it's working like a charm and i can successfully interact with the agent. @xorrior i was generating the .bat file without obfuscati

[2018-01-04 11:46] cegi commented on #894
Thanks  for the answer. I dont have any error while running the scripts, the problem comes from the Ubuntu Source being added which create problems on my system, and i'm asking if it's possible to change =>

**# Install Powershell on Linux
function install_powershell() {
	if uname | grep -q "Darwin"; then
		brew install openssl
		brew install curl --with-openssl
		brew tap caskroom/cask
		brew cas

[2018-01-04 13:24] cegi commented on #894
Also for those that get the "rand" error when launching Empire, i found a workaround, go in setup folder and run 'pip2 install --upgrade -r requirements.txt' ,i think the install.sh script does not install the requirements correctly on certains systems.

[2018-01-04 13:35] xorrior commented on #894
The rand error should be resolved on the master branch

[2018-01-04 13:36] xorrior commented on #901
If you upgrade empire without a fresh install, you will need run reset.sh

[2018-01-04 14:05] cegi commented on #894
Thanks, if you can change the installation script for debian if no one see any issues about it, it would be greatly appreciated.

[2018-01-04 16:38] DakotaNelson commented on #894
You can always change it on just your system - have you tried that yet to
make sure it works?

On Thu, Jan 4, 2018, 07:06 cegi <notifications@github.com> wrote:

[2018-01-04 16:56] cegi commented on #894
Yes i did, with git clone and wget binary release, it worked fine.

[2018-01-04 17:18] bkr32 commented on #901
sigh done

[2018-01-04 17:18] #901 closed

[2018-01-04 18:14] gnomefish opened #903 "error after last git pull"
Hey guys,

I get this after doing a git pull (master branch) - Ubuntu 16.04

Traceback (most recent call last):
  File "./empire", line 1393, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/Empire/lib/common/empire.py", line 103, in __init__
    self.listeners = listeners.Listeners(self, args=args)
  File "/opt/Empire/lib/common/listeners.py", line 35, in __init__
    self.load_list

[2018-01-04 18:20] DakotaNelson commented on #903
I believe running `setup.sh` should fix this - looks like you're missing
one of the dependencies added in the new version. You could also manually
install the dependencies using `pip` if you'd rather go that route.

On Thu, Jan 4, 2018, 11:14 gnomefish <notifications@github.com> wrote:

[2018-01-04 19:08] xorrior commented on #896
👍

[2018-01-04 19:08] #896 closed

[2018-01-04 19:22] gnomefish commented on #903
yep, just removed it and reinstalled from scratch :)
saw some dependecies being added
thanks!

[2018-01-04 19:23] xorrior commented on #894
@cegi you can just install macholib with pip. Not sure why it wasn't installed.

[2018-01-04 19:23] #894 closed

[2018-01-04 19:23] #903 closed

[2018-01-04 20:06] cegi commented on #894
@xorrior, i installed with pip macholib which did not fix the issue, so i tried 'aptitude install python-macholib' which worked, but now i get :

Traceback (most recent call last):
  File "./empire", line 1393, in <module>
    main = empire.MainMenu(args=args)
  File "/home/user/Empire/lib/common/empire.py", line 103, in __init__
    self.listeners = listeners.Listeners(self, args=args)
  File "/h

[2018-01-04 22:50] DakotaNelson commented on #894
The tl;dr on pip is that to install globally, you need to use sudo, and to install locally (either just for you using the `--user` flag, or in a virtual environment) you don't need sudo.

I know globally works with Empire, I suspect (but don't know) `--user` won't since you'll be running it as sudo, and a virtualenv will also work but requires some setup and maintenance.

[2018-01-05 00:54] cobbr commented on #869
hmm I'll give it a look, but no promises :)

[2018-01-05 09:19] alex-bergman opened #904 "dbx listener crash"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Linux 16 3.13.0-87-generic #133-Ubuntu x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

(Empire: listeners/dbx) > execute
[*] Starting listener 'dropbox'
Exception in thread Thread-1:
Traceback (most recen

[2018-01-05 13:27] cegi commented on #894
@DakotaNelson Thanks i appreciate the answer,yes thats what i thought, for example if i use as user "pip2 install shodan" i won't be able to use it even if i sudo, i had to use "sudo pip2 install shodan" for it to work. I will try with --user flag but i know it is sometime tricky and won't work so it's unreliable.

[2018-01-05 17:45] xorrior commented on #904
@DakotaNelson any idea why it's not finding the dropbox stager, I reviewed the logic and everything looks correct. It's identical to the http listener. Can't really debug any further with pdb since the start_server function is threaded.

[2018-01-05 17:47] DakotaNelson commented on #904
If it's not in Docker, the hardcoded Docker-specific paths won't work. Thinking of a fix...

[2018-01-05 17:51] DakotaNelson commented on #904
Ok, got something.

See: http://jinja.pocoo.org/docs/2.10/api/#jinja2.FileSystemLoader

[code]

So we can change https://github.com/EmpireProject/Empire/blob/a0234bd195f4f69ba2137b6372eadcb9602311c9/lib/listeners/dbx.py#L434-L435

to have both the possible template paths (absolute - Docker style - first, then relative) then it should work for either environment. I think I'll have to fiddle with th

[2018-01-05 17:55] DakotaNelson commented on #904
Oh, yeah, though @alex-bergman as a hotfix you can go here:

https://github.com/EmpireProject/Empire/blob/a0234bd195f4f69ba2137b6372eadcb9602311c9/lib/listeners/dbx.py#L434

If you change `/data/agent/stagers/` to `./data/agent/stagers` I believe it should work.

[2018-01-05 17:59] xorrior commented on #904
@DakotaNelson thanks. I saw that doc for using the FileSystemLoader but I wasn't sure if that would resolve the issue.

[2018-01-05 18:09] DakotaNelson commented on #894
If you look at #771 you can set things up using virtualenvs, which will solve the global install problem, but it'll take some work to set up and maintain. Alternately, I think Docker is live now; see https://blog.obscuritylabs.com/docker-command-controll-c2/ to use that instead.

[2018-01-05 18:29] ChaitanyaHaritash opened #906 "AttributeError on --rest & --headless commandline argument"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
BackBox 4.6

## Issued command (didn't had any right word lol)
./empire --rest --username abc --password abc

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
should have got my empire session started

## Screenshot of error, embedded tex

[2018-01-05 19:06] PinkPantherX commented on #869
@honeyfairy
Hi, I have the same problem...Did you managed to resolve it? Would appreciate it :)

[2018-01-05 19:46] nikaiw opened #907 "Proxy settings are not taken into account while generating launcher"
## Empire Version
2.4 release

## OS Information (Linux flavor, Python version)
Ubuntu 16.04, python 2.7.12

## Expected behavior and description of the error

When generating a launcher from the HTTP listener menu, the Proxy settings are not taken into account leading to the value always being "default". I believe this could also be the case when generating from the stager menu and could affect o

[2018-01-05 20:21] cegi commented on #894
Yes, i made a script to set up a virtual environnement for pip on Empire and Deathstar and managed to make both works without any problems and without using the installer script. So i don't have the Ubuntu repository anymore, and no dependencies error, everything is fine now thanks.

[2018-01-05 21:20] pinokolada opened #909 "2.4 - Get-DomainComputer - Always empty response"
## Empire Version

2.4 Release

## OS Information (Linux flavor, Python version)
Ubuntu 16.04 python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Always empty response from get_computer, share_finder and other situational awareness modules.

[2018-01-05 21:37] SadProcessor opened #910 "Install issues on Kali Linux"
## Empire Version
2.4

## OS Information
Fresh Kali 2017.3 + full updates

## Expected behavior and description of the error
./setup/install.sh does not complete as expected

A. Install of **Powershell** fails when using current method
- **libicu55** has no install candidate
- wget for **libssl1.0.0** fails at http://security.debian.org/debian-security/pool/updates/main/o/openssl/libssl1.0.0_1.0.1

[2018-01-05 22:55] SadProcessor commented on #910
Just adding some info on possible fixes the powershell install (A):

## Powershell install - method 1 (Kali)

[code]

![kaliposherror](https://user-images.githubusercontent.com/15706849/34631805-1951064e-f26a-11e7-9604-ca7122717b41.png)

[code]

## Powershell install - method 2 (debian9)

[code]
hoping this might help...

[2018-01-06 13:49] xorrior commented on #909
@pinokolada Can you run empire with the --debug 2 flag and provide the output shown in Empire when running those modules? Also, please review the changelog, the Host and Port value behavior was intentionally changed in this release.

[2018-01-06 13:53] xorrior commented on #910
@SadProcessor can you try installing  libssl1.0-dev ?

[2018-01-06 13:55] DigApis-Michael opened #911 "[!] strip_python_comments is deprecated and should not be used"
## Empire Version
2.4
Installed today on Debian 7, 2.6 kernel.

## OS Information (Linux flavor, Python version)
python 2.7.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
 - listener: http, using http://xx.xx.xx.xx:80
 - launcher: launcher python http

## Screenshot of error, embedded text output, or Pas

[2018-01-06 14:19] xorrior commented on #907
@nikaiw Here is a launcher generated from the stagers menu on the master branch (2.4). You can find the proxy (http://test.proxy.com:80) present in the generated launcher. Are you sure this is from the latest version? All stagers use the listener.generate_launcher method, so the proxy should be applied universally, if the option is set.

![image](https://user-images.githubusercontent.com/9156069/3

[2018-01-06 14:46] nikaiw commented on #907
Hm the bug did not happen to me in the stager menu but in the listenner menu when using the "launcher powershell" command. I'm positive it was on master, I did a git pull before my tests. I'm about to check again from another machine.

[2018-01-06 15:27] SadProcessor commented on #910
@xorrior  I found the following older issues on same error
https://github.com/EmpireProject/Empire/issues/521
https://github.com/EmpireProject/Empire/issues/720
https://github.com/EmpireProject/Empire/pull/811

So I installed **libssl1.0-dev**, then was complaining about zlib, so I installed **zlib1g-dev** as well
-> No more error during xar ./configure but now giving warnings for unused vars duri

[2018-01-06 17:46] DakotaNelson commented on #911
I don't believe the message has any impact on the agent.

(You can skip this next paragraph, it's the "why" of that message but doesn't help you solve the agent problem.)

Here's the short of it: `strip_python_comments` is a function that, well... strips the python comments out of the agent. In the new version, instead of a custom-written function, Empire uses [pyminifier](https://liftoff.github.i

[2018-01-06 17:55] CryptomaticSquirrel opened #912 "Question: Reconnect agent after IP block"
## Any additional information

Hello. I was just wondering what is the preferred method to get an agent to connect back after the initial IP/hostname has been blocked.
Can I submit a list of IP's or hostnames or is there a way for the agent to execute commands if it cannot reach back anymore?

[2018-01-06 19:49] xorrior commented on #911
Hmmm it may have something to do with the logic to check the default response in the agent. I'll take a look when i can.

[2018-01-06 20:15] x-cod3r opened #913 "how to list all available modules"
## Empire Version
latest

## OS Information (Linux flavor, Python version)
Linux parrot 4.11.0-parrot6-amd64 #1 SMP Parrot 4.11.6-1parrot6 (2017-06-28) x86_64 GNU/Linux

how I can list all modules in empire lika metasploit command "show exploits" for example??

[2018-01-06 20:49] DakotaNelson commented on #912
I've been thinking about this a lot, especially in light of [this DailyDave post](http://lists.immunityinc.com/pipermail/dailydave/2017-November/001436.html).

I think the simple answer is what you said - a list of C2 methods, where the agent tries the first, falls back to the second if it doesn't work, and so on.

There's some more exotic stuff I think might be interesting - setting up an agent-t

[2018-01-06 21:52] xorrior commented on #907
Fixed.

[2018-01-06 21:52] #907 closed

[2018-01-06 21:59] xorrior commented on #911
@DigApis-Michael Did you reset the db after the upgrade? The reason I ask is because if the db was reset and the agents were removed, when they call back, the server will return a 401 response. On the powershell side this will cause the agent to call the Start-Negotiate function and re-stage. Unfortunately on the python side I tried several methods to call the function responsible for staging but

[2018-01-06 22:01] xorrior commented on #912
@DakotaNelson hehe SMB comms is one of several things I want to tackle this year....

[2018-01-06 22:07] DakotaNelson commented on #913
type `usemodule` and then `[space] [tab] [tab]` (space, then hit tab twice) and it'll list everything.

Everything is tab-completable and double-tab will list all your options.

[2018-01-06 23:03] SadProcessor commented on #910
@xorrior, while googling around for the error I am getting during make,
I landed on https://github.com/EmpireProject/Empire/issues/855
I tried **pyopenssl<17.1** via requirements.txt but still get same error.
Any idea on what I should try next?

![libeasig](https://user-images.githubusercontent.com/15706849/34644785-2b65f45e-f335-11e7-92a9-29c96b8a4e20.png)

(also tried combined with **cryptograph

[2018-01-07 01:21] nikaiw commented on #907
hm that didn't fix it for me the change would be good but the caller is actually "do_launcher" in the "ListenerMenu class" on line 3127 instead of the "ListenersMenu class" or maybe it had to be fixed in both function ?
I could dig, but I don't know enough empire architecture to quickly help at this point

[2018-01-07 02:35] DigApis-Michael commented on #911
hey, guys,

I `reset.sh` ed, and also in the directory, I did `git pull` to keep empire updated.

Http listeners set up, and laucher python,

Paste to the kali, hit enter.

Got the agent initial message, with the depreceted message as described.

Interact with the agent, no responding.

On kali,
`ps aux | grep 1317` which is the process id, not found.....

What's the problems guys?
The account I r

[2018-01-07 02:43] DigApis-Michael commented on #911
I also `git clone -b dev http://[empire]` and did the same setup steps,

Still no responding.

[2018-01-07 03:01] DigApis-Michael commented on #911
Additionally, I did this to a windows target `win 7 x64`,

Seems responding....
`shell id`, responding well
`shell dir`, not responding...
`usemodule [get_localgroup]`, job started, but no info comes back.

I also did `sleep 0`, which give me a message saying done.

I'm feeling at sea right now.

[2018-01-07 08:46] x-cod3r commented on #913
that solved it!
thank you!

[2018-01-07 08:46] #913 closed

[2018-01-07 09:23] xorrior commented on #907
@nikaiw it should be fixed now.

[2018-01-07 10:55] nikaiw commented on #907
Almost there, I get the following error "[!] Error generating launcher: global name 'listenerName' is not defined"

[2018-01-07 11:10] pinokolada commented on #909
(Empire: powershell/situational_awareness/network/powerview/get_computer) > execute
 Agents : [*] Tasked MHN16LPX to run TASK_CMD_JOB
 Empire : [*] Tasked agent MHN16LPX to run module powershell/situational_awareness/network/powerview/get_computer
(Empire: powershell/situational_awareness/network/powerview/get_computer) >  listeners/http : [*] GET request for 185.25.51.137/login/process.php from 7

[2018-01-07 11:12] pinokolada commented on #909
The user is domain user and computer is in the domain. I tested on several networks - same thing everywhere - empty result.

[2018-01-07 19:56] xorrior commented on #911
@DigApis-Michael I'm not sure what's going on.

1. You tasked a Windows host with "shell id" and it returned results?
2. Can you provide some output from running empire with the --debug 2 flag after running some commands?
3. There seems to be an issues with all of the powerview modules (#909). So I'll take a look at that.

Also, I can't reproduce any of the behavior that you are experience with yo

[2018-01-07 19:58] xorrior commented on #910
@SadProcessor I would ignore the warnings in the xar build. I've received those same warnings for every successful build of xar. Most of them are in reference to unused variables anyway.

[2018-01-08 00:05] xorrior commented on #865
@danthegoodman1 see #893

[2018-01-08 00:05] #865 closed

[2018-01-08 00:26] xorrior commented on #904
@alex-bergman fixed.

[2018-01-08 00:26] #904 closed

[2018-01-08 06:33] xorrior commented on #906
So I was not able to reproduce this issue on a Ubuntu 17 image after a fresh install. Both the rest and headless options worked.
<img width="980" alt="ubuntu-headless-empire" src="https://user-images.githubusercontent.com/9156069/34660800-cd02b92a-f40a-11e7-875f-ec4c3acf2cd4.png">

My first hunch would be the version of python you are using or there were errors during the install. For any OS outsi

[2018-01-08 06:33] #906 closed

[2018-01-08 11:04] SadProcessor commented on #910
@xorrior,
Ok, fair enough. I'm happy to not have to worry about that one, because I tried a few distros (Debian/Ubuntu/Kali) and was always getting it.
So Kali install should work with Powershell install using debian9 method (2 above) with libssl1.0-dev and zlib1g-dev ...

In the meanwhile, I went the docker way on Kali and it works. Didn't see the Dockerfile at first, but it was there... :smile:

[2018-01-08 13:40] wbbigdave opened #914 "Using API to issue agent shell commands does not work"
Empire 2.3

Centos 6 Server Python 2.7

When issuing the command
`
curl -k https://localhost:1337/api/agents/<AGENT-NAME>/shell?token=<token> -X POST -d '{"command":"pwd"}'
`
I get the returned error
`
TypeError("'NoneType' object has no attribute '__getitem__'",)
`

[2018-01-08 15:06] ChaitanyaHaritash commented on #906
weird, i was using ubuntu 14 based os with python 2.7, ill try again..

[2018-01-08 15:40] pinokolada commented on #909
What's up guys? Checking this thread every minute. Badly need the Empire to work again perfectly like before the 2.4 release

[2018-01-08 15:49] DakotaNelson commented on #909
You can always roll back to an older release.

On Mon, Jan 8, 2018, 08:41 pinokolada <notifications@github.com> wrote:

[2018-01-08 16:12] pinokolada commented on #909
via checkout? I'm trying, but same sh1t....

[2018-01-08 18:47] xorrior commented on #906
@ChaitanyaHaritash was this a VPS?

[2018-01-08 18:48] xorrior commented on #914
@wbbigdave We are on version 2.4 . Do you have the same issue on the latest version?

[2018-01-08 18:48] ChaitanyaHaritash commented on #906
Nope, im testing all locally

On 09-Jan-2018 12:17 AM, "Chris Ross" <notifications@github.com> wrote:

[2018-01-08 18:52] xorrior commented on #910
@SadProcessor if you want to have docker available on the same networking stack for the host OS, just use the --net=host flag. Any ports made available on the host will be available for the container. To be more specific, you can use -p .

[2018-01-08 19:48] SadProcessor commented on #910
@xorrior
made some more tests...
I still get to same error on kali 2017.3 | Ubuntu 16.04 | Debian 9.3 😢
The error I get points to **encryption.py** line 133
I checked history and found this...
https://github.com/EmpireProject/Empire/commit/6932decba35cf17e39b5ab489fd28444b73db07b#diff-370843e5a7e8191e8a6d612c8ec4d5e0
Do you this this change could cause this error? (same on 3 OS)

![agtcllbck](http

[2018-01-09 02:41] xorrior commented on #910
@SadProcessor So I'm not able to reproduce this on the master branch with either Ubuntu 17 or the latest Kali rolling release. Both installs finish without issue and I can stage a powershell and python agent successfully. Just curious, how are you executing the stagers?

[2018-01-09 07:57] wbbigdave commented on #914
I haven't had a chance to update yet, will do and report back.

On Mon, Jan 8, 2018 at 6:48 PM, Chris Ross <notifications@github.com> wrote:

--
Thanks

Luke

[2018-01-09 08:32] CryptomaticSquirrel commented on #912
Thanks a lot for the input !
As I understand I will probably have to find a way to make this work on my own. I will come back to this and see about a solution a little later. When it has become more of a priority.

[2018-01-09 08:32] #912 closed

[2018-01-09 12:32] SadProcessor commented on #910
W(TF)!? That's it... I need a day off...
From my testing, install fails on Kali without changes to install.sh (powershell not installed)...
And no matter what, I get this error on staging...
I am trying all this over REST API (all other commands work) and it works on 2.3...
... I think I'm gonna do something else for a couple of days and come back to it. I'm obviously doing something wrong...
Than

[2018-01-09 14:05] xorrior commented on #910
@SadProcessor No worries. I'll merge your PR into dev shortly and your stress levels should decrease 😄

[2018-01-10 13:26] ThePirateWhoSmellsOfSunflowers commented on #911
Hello,
I manage to reproduce the bug :
Empire version : Github's version (git clone, master branch)
Empire server : Ubuntu 16.04
Victim : osx 10.12.6 (python launcher)

However, the agents works fine and `shell id`, usemodule are ok. The error seems to be only a "warning" and does not impact the communication.

[2018-01-10 13:44] xorrior commented on #911
@ThePirateWhoSmellsOfSunflowers The warning message isn't necessarily an error. It's from the python jinja module and doesn't effect anything. I just can't reproduce the issue where agents stop communicating. I feel like there are other factors in play here.

[2018-01-10 18:37] cobbr commented on #910
@xorrior I'm also experiencing the same PowerShell install issue as @SadProcessor on the latest Kali.

Taking a quick glance at the updated install.sh script [here](https://github.com/EmpireProject/Empire/blob/master/setup/install.sh), it looks like the Kali install instructions are not using the apt repo anymore. Install instructions [here](https://github.com/cobbr/ObfuscatedEmpire/blob/empire-de

[2018-01-10 20:22] honeyfairy commented on #869
@PinkPantherX
Hi there, no I have not managed to resolve it. I worked around it by creating a bat from the multi/launcher stager.
I do hope the amazing guys at Empire will look into this soooon!!

[2018-01-10 20:33] honeyfairy opened #919 "Empire 2.4 - No agent checkins"
## Empire Version
2.4 Latest
## OS Information (Linux flavor, Python version)
Kali 2017 Latest

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

After doing a git pull on my Empire 2.3 I received some errors that included the word 'Obfuscation' and line 104 i think. Anyway after the update no check ins after

[2018-01-11 09:51] ThePirateWhoSmellsOfSunflowers commented on #911
Ok, my bad, I misunderstood the point

[2018-01-11 23:36] cegi commented on #894
So, anyone knows why Empire install Powershell ? I don't understand the reason.

[2018-01-12 00:05] xorrior commented on #894
@cegi It's necessary for the use of Invoke-obfuscation

[2018-01-12 03:52] xorrior commented on #919
@honeyfairy can you provide some more information? What OS were you targeting? Can you elaborate on the Obfuscation error? Provide the output from that or a screenshot? The more information you can provide, the easier it is to troubleshoot. With the information you have provided so far, there is no way for anyone to determine what happened....

[2018-01-12 04:48] dan7ez opened #920 "Run error empire"
## Empire Version
Latest version

## OS Information (Linux flavor, Python version)
kali rolling on nexus 9 tablet

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Using the pwn pad from pwnie express, has kali rolling on it.

Note: i have tried already runnin ./reset.sh still get the same error

I git clone

[2018-01-12 05:51] xorrior commented on #920
@dan7ez Have you tried to install the netifaces python module????? If so, are there any errors????

[2018-01-12 06:08] dan7ez commented on #920
Tried to reinstall again, by re-running ./install.sh and get these errors occuring during install:

root@localhost:/home/pwnie/Empire# ls
changelog  Dockerfile  lib/     plugins/   setup/
data/      empire*     LICENSE  README.md  VERSION
root@localhost:/home/pwnie/Empire# ./empire
Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers

[2018-01-12 08:06] KorayAgaya commented on #903
I have a same error

Traceback (most recent call last):
  File "./empire", line 1368, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/TOOLS/Empire/lib/common/empire.py", line 84, in __init__
    (self.isroot, self.installPath, self.ipWhiteList, self.ipBlackList, self.obfuscate, self.obfuscateCommand) = helpers.get_config('rootuser, install_path,ip_whitelist,ip_blacklist,obfuscate,ob

[2018-01-12 08:08] KorayAgaya opened #921 "TypeError: 'NoneType' object is not iterable"
## Empire Version
I have Empire last version

## OS Information (Linux flavor, Python version)

DISTRIB_ID=Kali
DISTRIB_RELEASE=kali-rolling
DISTRIB_CODENAME=kali-rolling
DISTRIB_DESCRIPTION="Kali GNU/Linux Rolling"

uname -m = x86_64
uname -r = 4.14.0-kali3-amd64
uname -s = Linux
uname -v = #1 SMP Debian 4.14.12-2kali1 (2018-01-08)

## Expected behavior and description of the error, including any

[2018-01-12 10:08] wbbigdave opened #922 "When creating Listener setting port does not change Host entry"
Empire 2.4 Centos 7

When using Set Port on 2.3 the listener would automatically change the host entry to match. In 2.4 it stays whatever setting was on the listener previously, 80 by default.

The host must now be manually changed to reflect the new listener port.

[2018-01-12 11:31] wbbigdave commented on #914
Fixed in 2.4

[2018-01-12 11:31] #914 closed

[2018-01-12 20:35] xorrior commented on #921
@KorayAgaya running reset.sh in the setup folder should resolve this issue.

[2018-01-12 20:36] xorrior commented on #922
@wbbigdave please review the changelog. This is intended behavior.

[2018-01-12 20:36] #922 closed

[2018-01-13 08:55] bkr32 opened #924 "' error: command 'x86_64-linux-gnu-gcc' failed with exit status 1 '"
## Empire Version
git version master

## OS Information (Linux flavor, Python version)
kali installed on WSL as per https://www.kali.org/tutorials/kali-on-the-windows-subsystem-for-linux/

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
while running setup i get the error `' error: command 'x86_64-linux-gnu-

[2018-01-13 09:44] killercoderz4 commented on #869
@honeyfairy  please how did you get it to work.can you ndetail  it out. did you copy the script and save it in ngedit then save it as a bat file.how did you work around it, sorry kind of new with empire, the build process quite different from metasploit

[2018-01-13 09:47] killercoderz4 opened #925 "configuration of empire with public ip"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)

ubuntu 16.04 64 bit linux
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

i would like to know understand how to hook it up using my public ip , i have portforwardded some ports. the things is both listener and launcher would use eithe

[2018-01-13 10:24] securityhawk opened #926 "PowerShell Empire with VPS on PPK"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)

Ubuntu 16.04

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Hi Guys

I have a VPS with basic login emabled, this is working perfectly with Empire.

I also have a VPS with public / private key login - I can't seem to get stagers to

[2018-01-13 16:12] Netw0rkLan opened #927 "netifaces.c:1:10: fatal error:"
RESOLVED ! THANKS

[2018-01-13 16:47] #927 closed

[2018-01-13 18:37] securityhawk commented on #926
Just an update, I have destroyed the VPS and created a new one as it seems the PPK was just a red herring.

I will open a new issue with my findings.

[2018-01-13 18:37] #926 closed

[2018-01-13 18:40] securityhawk opened #928 "Install Error"
## Empire Version

Latest

## OS Information (Linux flavor, Python version)
Ubuntu 16.04.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Hi Guys I am getting the below errors on install using sudo ./setup/install.sh

This is a fresh VPS,  Any help appreciated.

Thanks

Phil

## Screenshot of error, embed

[2018-01-13 19:04] securityhawk commented on #928
Hi Guys

Fixed it with sudo apt-get install -y python3-pip

Newbie here!

Thanks

Phil

[2018-01-13 19:04] #928 closed

[2018-01-13 20:52] DakotaNelson commented on #924
Can you provide more context around the error message? A screenshot or more console output?

[2018-01-13 20:54] DakotaNelson commented on #920
`pip install netifaces` will install the `netifaces` package and make it available for use

[2018-01-13 21:00] DakotaNelson commented on #925
Hey @killercoderz4, I could use a little more clarity - is the problem that you don't know which IPs to bind to, or there's an issue getting the listener and launcher to point to the right IPs (or something else)?

A read of http://www.ipprimer.com/#/nat might help you out in either case, but I don't think the Empire dev team is going to be of much help, this is fairly specific to your network con

[2018-01-13 21:07] DakotaNelson commented on #911
Just to clear up the warning message about `strip_python_comments`, here's the relevant code:

https://github.com/EmpireProject/Empire/blob/5c3edbbdfffcb501142d9195514e7f31216616f5/lib/common/helpers.py#L169-L179

And here's the history of that code:

https://github.com/EmpireProject/Empire/blame/5c3edbbdfffcb501142d9195514e7f31216616f5/lib/common/helpers.py#L169-L179

The actual logic of it has b

[2018-01-13 21:55] killercoderz4 commented on #925
i use public ip in metasploit to build my payload and portforward ,this enables my system access my remote vps server. in empire it different it automatically uses my local ip althrough which means its stuck in my lan, i cant use it to acess my vps, to achieve that i need my public ip to be configured in empire that why i ask

[2018-01-13 22:02] DakotaNelson commented on #925
Ahhhhh, alright.

When you're setting up a listener/stager/etc. you can use the `info` command to see the current settings and the `set` command to configure them. That should let you set your IP and ports settings to be what you need them to be.

You can always use `help` or tab-completion to see what commands you can run.

[2018-01-13 22:09] dan7ez commented on #920
tried to pip install netifaces

But get this error?

root@localhost:/home/pwnie# pip install netifaces
Collecting netifaces
  Using cached netifaces-0.10.6.tar.gz
Building wheels for collected packages: netifaces
  Running setup.py bdist_wheel for netifaces ... error
  Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-VV_ij_/netifaces/setup.py

[2018-01-13 22:33] killercoderz4 commented on #925
@DakotaNelson Thank you sir for your input would give it a try.just want to ask although it kind of diffrent from the topic at hand. i built a powershell oneliner payload and saved it as .bat for easy testing by just clicks, but  iset amnd updated my windows defender on my vmware it dirupting my bat file which is kind of surprising becuase i also setup avast and it bypasses it. i came across a too

[2018-01-13 22:36] DakotaNelson commented on #925
There should be an obfuscation option in the launcher (I think...).

Otherwise, that's a question for the Invoke-Obfuscation team, unfortunately I don't know enough about that to give you an answer.

[2018-01-13 22:37] DakotaNelson commented on #920
You'll want to install `python-dev` (I think) using `apt`. See here for the full answer: https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory

[2018-01-13 22:50] dan7ez commented on #920
@DakotaNelson ok that seems to have helped i think! thank you!

I installed python-dev and netifaces successfully

Now i only get this error

root@localhost:/home/pwnie/Empire# ./empire
Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/home/pwnie/Empire/lib/common/empire.py", line 31, in <module>
    import agents
  File

[2018-01-13 23:34] wtf123000 opened #929 "urllib"
## Empire Version
Latest (git clone)

## OS Information (Linux flavor, Python version)
Ubuntu 14.04 vps (fresh install)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
type ./empire to start program and gets dependency errors.

## Screenshot of error, embedded text output, or Pastebin link to the error

![c

[2018-01-14 06:28] bkr32 commented on #924
hey @DakotaNelson was trying to run empire on a kali installation of WSL
https://www.kali.org/tutorials/kali-on-the-windows-subsystem-for-linux/
however it seems some dependencies are missing causing `pip install m2crypto`
to give this error `' error: command 'x86_64-linux-gnu-gcc' failed with exit status 1 '`

[2018-01-14 07:47] DakotaNelson commented on #920
Repeat the process of installing `netifaces` with `m2crypto`... and probably all the other dependencies too.

When you tried to run `install.sh`, you didn't have `python-dev` installed, so it failed, You're probably going to need to re-run it.

[2018-01-14 07:50] DakotaNelson commented on #929
Looks like the same problem as [this](https://stackoverflow.com/questions/44927351/importerror-cannot-import-name-dependencywarning) and [this](https://github.com/dropbox/dropbox-sdk-python/issues/112), some of those solutions might help you.

[2018-01-14 08:07] dan7ez commented on #920
I tried to install m2crypto

But get this error

root@localhost:/opt/pwnix/captures# pip install m2crypto
Collecting m2crypto
  Using cached M2Crypto-0.27.0.tar.gz
Requirement already satisfied: typing in /usr/local/lib/python2.7/dist-packages (from m2crypto)
Building wheels for collected packages: m2crypto
  Running setup.py bdist_wheel for m2crypto ... error
  Complete output from command /usr/b

[2018-01-15 01:24] LIZySARA commented on #920
try
apt-get install -y python-dev python-m2crypto swig python-pip
![1](https://user-images.githubusercontent.com/22563762/34923303-f9283b0c-f99a-11e7-9d1c-10bdafb8636e.png)

  pip install netifaces and pip install M2Crypto
![2](https://user-images.githubusercontent.com/22563762/34923308-fea845c2-f99a-11e7-962f-bba13ff35718.png)

then you do ./reset.sh
![3](https://user-images.githubusercontent.com

[2018-01-15 02:23] dan7ez commented on #920
@LIZySARA tried the steps, now get this error

root@localhost:/home/pwnie/Empire# ./empire
[*] Loading stagers from: /home/pwnie/Empire//lib/stagers/
[*] Loading modules from: /home/pwnie/Empire//lib/modules/
[*] Loading listeners from: /home/pwnie/Empire//lib/listeners/
Traceback (most recent call last):
  File "./empire", line 1393, in <module>
    main = empire.MainMenu(args=args)
  File "/home

[2018-01-15 02:45] DakotaNelson commented on #920
Same problem, the python package `pyminfier` didn't install because the dependencies failed. You need to `pip install pyminifier` or, better yet, install all the dependencies by re-running `install.sh`. This is the same problem as before but with a different package.

[2018-01-15 02:47] DakotaNelson commented on #924
I think you have the same problem as #920.

[2018-01-15 02:53] dan7ez commented on #920
yep i re-ran the install.sh

And now i get this error?

root@localhost:/home/pwnie/Empire# ./empire
Traceback (most recent call last):
  File "./empire", line 1393, in <module>
    main = empire.MainMenu(args=args)
  File "/home/pwnie/Empire/lib/common/empire.py", line 84, in __init__
    (self.isroot, self.installPath, self.ipWhiteList, self.ipBlackList, self.obfuscate, self.obfuscateCommand) = h

[2018-01-15 09:33] LIZySARA commented on #920
Try
./reset.sh

[2018-01-15 11:23] dan7ez commented on #920
@LIZySARA That ./reset.sh worked perfect! Excellent! all fixed. Thank you!
@DakotaNelson thank you also!

[2018-01-15 11:47] Ibrahimous opened #931 "download: file does not exist or cannot be accessed"
## Empire Version

2.4

## OS Information (Linux flavor, Python version)

Linux kali 4.14.0-kali1-amd64 #1 SMP Debian 4.14.2-1kali1 (2017-12-04) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

- http or https listener created
- I can't download a remote file, that does exist (download with

[2018-01-15 12:05] whoot commented on #720
Alright, after debugging I can say that this is definitly an libssl issue.
This error is shown when trying to configure 'xar-1.5.2'.
After installing **libssl1.0-dev** instead of 'libssl-dev' everything works fine.

[2018-01-15 12:17] whoot commented on #910
I really dont know why you changed the install script to use libssl1.0.0 again.
This seems to be an issue since Empire 2.0 (see #521 ). You changed it to libssl1.0-dev and then changed it back to libssl1.0.0

I´m experiencing the same error as @SadProcessor and the only way to fix this is to use libssl1.0-dev.

[2018-01-15 13:06] samirimtiaz1996 opened #932 "available listeners can't be found"
Empire Version:2.4

OS Information :kLinux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.10-1kali2 (2017-11-08) x86_64 GNU/Linux

I can not find available listener types. Sample screenshot is below.Sorry for my poor English .It's not my native language

![screenshot from 2018-01-15 18-46-18](https://user-images.githubusercontent.com/29258282/34943743-1b03ecee-fa27-11e7-9652-96f017dd148e.png)

[2018-01-15 15:48] DakotaNelson commented on #932
Try hitting the space bar, *then* tab tab.

So: `uselistener [space] [tab] [tab]`

Got me the first time too. :)

On Mon, Jan 15, 2018, 06:06 samirimtiaz1996 <notifications@github.com>
wrote:

[2018-01-15 15:51] DakotaNelson commented on #931
I believe download only works for the local filesystem (so, `download
/path/to/file` if your agent is on a Mac, for instance).

That's definitely confusing, though... not sure how we can better document
it.

On Mon, Jan 15, 2018, 04:47 Ibrahimous <notifications@github.com> wrote:

[2018-01-15 15:52] DakotaNelson commented on #920
Great! :)

On Mon, Jan 15, 2018, 04:23 dan7ez <notifications@github.com> wrote:

[2018-01-15 21:00] meldridge opened #934 "Module trollsploit/wallpaper: "error running command: Cannot add type. Compilation errors occurred.""
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali rolling, Python 2.7.14+

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
On a powershell agent, Windows 10 (medium integrity process): usemodule trollsploit/wallpaper
Set LocalImagePath to jpg file
execute

## Screenshot of error, e

[2018-01-15 21:56] djhohnstein opened #935 "[FEATURE] Ability to retrieve information about Agent Jobs"
## Empire Version
Whenever it's added

## OS Information (Linux flavor, Python version)
For any implementation of Empire, probably a database enhancement

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I'd like the ability (either from the Empire interactive console launched from ./empire, searching a log o

[2018-01-15 22:40] DakotaNelson commented on #935
I've started on this in #933: once that PR is merged agent tasks will give you something like this from the REST API's `/api/reporting` endpoints:

`{"task":"ls","task_name":"TASK_SHELL"}`
or
`{"task":"print(\"hello\")","task_name":"TASK_CMD_WAIT"}`

(along with a timestamp and agent name, of course)

That said, I'd like to add to that PR to include more detail and more events as part of a general

[2018-01-15 22:52] bneg commented on #935
Following other implementations in Empire I can see it as a serialized object (pickle) in the DB. Write out the params in a new field in the DB

[2018-01-16 00:29] #920 closed

[2018-01-16 00:30] xorrior commented on #919
@honeyfairy feel free to re-open once you can provide some additional information.

[2018-01-16 00:30] #919 closed

[2018-01-16 00:31] xorrior commented on #911
@DigApis-Michael feel free to re-open this once you can provide some additional information.

[2018-01-16 00:31] #911 closed

[2018-01-16 00:31] #921 closed

[2018-01-16 00:34] xorrior commented on #924
@bkr32 For operating systems outside of Kali, Debian, Ubuntu I would highly suggest using the docker build. In your case, I'm not sure if that would be a solution for you but the dependencies required for empire have become a massive headache to maintain in order to support every linux distro and OS. It just isn't feasible.

[2018-01-16 00:36] #925 closed

[2018-01-16 00:37] #932 closed

[2018-01-16 00:40] xorrior commented on #929
Yea, the VPS builds all seem to have this issue. Should be fixed with pip install -U urllib3 and pip install -U requests.

[2018-01-16 00:40] #929 closed

[2018-01-16 00:42] #931 closed

[2018-01-16 00:42] xorrior commented on #934
@AkenSec we'll look into this.

[2018-01-16 00:45] xorrior commented on #935
@bneg So for the jobs table, the first few lines of the module are saved in the db. IIRC the entire contents of the module is stored in the agents table under taskings.

[2018-01-16 00:48] xorrior commented on #910
@whoot just to confirm, libssl-dev should be changed to libssl1.0.0-dev?
https://github.com/EmpireProject/Empire/blob/dev/setup/install.sh#L142

[2018-01-16 00:50] bneg commented on #935
Unfortunately @xorrior, that data appears to be truncated

Having the module name would be nice for reporting, at least for me :)

[2018-01-16 01:53] xorrior commented on #935
@bneg roger

[2018-01-16 03:16] samirimtiaz1996 commented on #932
Thanks a lot

[2018-01-16 05:10] bkr32 commented on #924
understood @xorrior

[2018-01-16 05:10] #924 closed

[2018-01-16 05:13] bneg commented on #935
From a database dump

__Task:__  function Invoke-EventVwrBypass {
    [CmdletBinding(SupportsShouldProcess = $True, ConfirmImpact = '
__Results:__
Job started: G68VTY[!] Current user not a local administrator!

[2018-01-16 08:39] whoot commented on #910
I could get rid of the "error during ./configure linked to libcrypto (openssl)" the same way as @SadProcessor mentioned in his previous posts by installing libssl1.0-dev
Otherwise it seems that Empire does not support HTTPS connections.

[2018-01-16 10:41] Ibrahimous commented on #931
Thx !

[2018-01-16 15:18] xorrior commented on #910
@whoot it should, are you having issues with HTTPS because of libssl1.0-dev or is this a separate issue??

[2018-01-17 05:12] gearcapitan opened #937 "Empire: listeners/dbx Dropbox Exception in thread Thread-1"
## Empire Version
Last
## OS Information (Linux flavor, Python version)
KAli linux last

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/root/Empi

[2018-01-17 10:33] warhawk23 opened #938 "Invoke shellcode caught by windows defender"
## Empire Version
Empire 2.4

## OS Information (Linux flavor, Python version)

Kali Rolling
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additional information
Respected developers, Recently i was trying to pass my empir

[2018-01-17 14:20] bkr32 commented on #938
i've been using invoke shellcode for quite some time and can confirm that it is caught by fully patched versions of windows. was about to make a issue on the same actually

[2018-01-17 16:12] mattifestation commented on #938
I just want to point out that what's being described here is the fact that Windows Defender is working. This is not an issue with Invoke-Shellcode or the payload you're using with it. Bugs in code is a mutually exclusive issue from AV evasion.

[2018-01-17 16:15] warhawk23 commented on #938
@bkr32 i completely agree with you. The recent release of windows 10 build 1709 is making me feel that metasploit is already dead. All the tutorials on the internet seem way too obsolete and believe me windows defender has been seriously buffed But i have high hopes with empire since it does not touch the disk in order to get a session. I hope the devs can tell of an alternate to invoke shellcode.

[2018-01-17 16:18] mattifestation commented on #938
While I'm not an Empire dev, I think I can speak for them in saying that AV evasion is not their problem. The fact that AV is catching malicious PowerShell more and more often is a tangible sign of progress that makes me happy.

[2018-01-17 16:24] xorrior commented on #938
Well said @mattifestation. We just don't have the cycles and the knowledge to become involved in the AV evasion game. @bkr32 maybe this is an opportunity to become familiar with shellcode injection and investigate an alternative method.

[2018-01-17 16:24] #938 closed

[2018-01-17 17:37] killercoderz4 opened #939 "empire 2.4 kelogger failure"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)

kali linux 2017 v3
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
i created a listener and used the launcher powershell listenername to generate a powershell payload which was encoded. i executed it on cmd in windows VM . it returned a

[2018-01-18 03:18] xorrior commented on #937
@gearcapitan Can you update urllib3 and requests and try again?
pip install -U urllib3
pip install -U requests

[2018-01-18 04:14] bkr32 commented on #938
@xorrior guess that's the only way.
its been a good ride though :D

[2018-01-18 10:44] wbbigdave opened #940 "Powerview and other situational awareness network modules not working on multiple versions."
Empire Versions 2.2, 2.3, 2.4

Ubuntu 16.04 Python 2.7

The modules for powerview do not return any details. Using Wireshark I am able to confirm that the client does not even appear to execute any commands. I have downloaded the powerview module from data/module_source/Situaltional_awareness/Network/powerview.ps1 and imported it manually, so i know the code source in these releases works correctl

[2018-01-18 19:32] ThePirateWhoSmellsOfSunflowers commented on #940
Same problem here. Unfortunately I don't have the time to perform some debug.

[2018-01-18 19:38] wisuri opened #941 "problem in install"
## Empire Version
version 2.4

## OS Information (Linux flavor, Python version)
ubuntu python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
problem in install package libssl1.0.0 not available

## Screenshot of error, embedded text output, or Pastebin link to the error
https://image.ibb.co/b1P91m/2018

[2018-01-19 03:12] DakotaNelson commented on #941
See #910, I believe that should help.

[2018-01-19 09:43] wbbigdave commented on #940
@ThePirateWhoSmellsOfSunflowers what's the best way to debug this? There is nothing in the --debug logs which would indicate what the issue is.

[2018-01-19 19:31] killercoderz4 opened #945 "empire keylogger failure in multiple versions"
## Empire Version

2.3,2.4 yet to try older versions
## OS Information (Linux flavor, Python version)

kali linux .latest
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Empire powershell bat was executed ona windows 8 vm. it failed to start a job on console for keylogger other features work except keylogger

[2018-01-19 19:33] ThePirateWhoSmellsOfSunflowers commented on #899
Confirmed on 2.3 and 2.1. File size approx 2.2MB. Victim OS : Windows 7
It works perfectly on 2.0

:sunflower:

[2018-01-19 22:33] killercoderz4 opened #946 "persistence failur in empire 2.1"
## Empire Version

2.1
## OS Information (Linux flavor, Python version)
latest

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

i tested version 2.1 ,that one seem to have the only functional keylogger that works. but persistence just fails in many modules. i tried skeleton key persist ,job started but when

[2018-01-20 00:46] DakotaNelson commented on #946
Just a heads-up that Cobalt Strike is a commercial product while Empire is open-source and maintained by volunteers - not exactly a 1:1 comparison.

You're right that it does suck when Empire doesn't work - of course it would be better if it did! But alas, the people who work on this don't have the time to make everything work as well as they'd like on top of their day jobs.

As you noted, there a

[2018-01-20 01:41] xorrior commented on #946
@killercoderz4 So a couple things.
- The latest version is 2.4. Please use a fresh empire install.
- You already have created an issue in regards to the keylogger. No need to mention that here.
- Which modules aren't working? Please review the current issues to ensure that there isn't already an issue for the module your having problems with. Complaining about the project certainly doesn't motivat

[2018-01-20 02:01] xorrior commented on #939
@killercoderz4 Empire 2.4 w/ Debian and both a Win7 x86 and Win10 x64 return keylog output just fine. Are you aware that keylog output is now saved in the agent downloads folder? Can you re-test this again and check for keylogger output in the keystrokes.txt file?

![keylogger-post](https://user-images.githubusercontent.com/9156069/35178788-e832a6e2-fd5b-11e7-934a-cee654d44822.png)
![keyloggercont

[2018-01-20 02:04] #945 closed

[2018-01-20 02:36] xorrior commented on #937
@gearcapitan I was able to test starting the dbx listener on kali rolling with Empire 2.4 . I didn't have any issues. Can you try starting the listener on a fresh install?

[2018-01-20 02:43] xorrior commented on #937
Well, I spoke too soon. After 20 seconds or so, there was an exception because the connection was reset. Not the same error, but I don't think this is an issue with empire specifically. My 2nd thought would be to increase the DefaultDelay and PollInterval. As a side note, dropbox has released a new terms of service agreement. We got wind of changes that may be coming because of wide spread use of

[2018-01-20 02:45] xorrior commented on #937
@gearcapitan Ah, so after restarting the listener and increasing the PollInterval and DefaultDelay, the connection for the server was reset once again. Now I'm under the impression that Dropbox may be actively killing connections with the listener.

[2018-01-20 06:24] gearcapitan commented on #937
I see, the truth is that I did not finish eating my pancake of the worried thing, in fact I left it aside and was testing other modules and for example in my case I detected that the module used to detect which antivirus has the agent, esque interrupts my connection after a while, and the truth gives me a lot of laziness to reinstall a new kali nothing more to prove the dropbox and this module, I

[2018-01-21 01:05] eqhaleel opened #948 "inability to load the framework"
## Empire Version
the following error is displayed.
![screenshot from 2018-01-20 19-59-20](https://user-images.githubusercontent.com/29148605/35189618-7d20ec88-fe46-11e7-9629-ef01fbc392ba.png)
 help offered would be very much appreciated

[2018-01-21 09:38] elitest commented on #948
Have you run the install script as outlined in the ["Install"](https://github.com/EmpireProject/Empire#install) section of the Readme?

[2018-01-21 16:14] ThePirateWhoSmellsOfSunflowers commented on #899
I've tried to debug the issue, it seems like a memory exhaustion problem :

Before launching the dowload of a 4MB file
![before](https://user-images.githubusercontent.com/18633286/35195973-00575b84-fecc-11e7-8a1d-8326850330ba.png)
After the agent receive the command
![after](https://user-images.githubusercontent.com/18633286/35195975-05df1678-fecc-11e7-816e-9f1a4a5793b3.png)
The agent get stuck

H

[2018-01-21 21:39] eqhaleel commented on #948
yes,i installed it as outlined in the install section

[2018-01-21 22:39] killercoderz4 commented on #946
@DakotaNelson @xorrior thanks for your input. i did a clean install on a new vm and got persistence to work. only slight challenge is when i restart and empire generates new session for an agent keylogger doesnt work or log to the keylog.txt file . even after i run the keylogger job.Thanks

[2018-01-21 22:48] DakotaNelson commented on #948
This should be solved by running reset.sh. There are several other issues
with this same problem.

On Sun, Jan 21, 2018, 15:39 eqhaleel <notifications@github.com> wrote:

[2018-01-21 23:12] eqhaleel commented on #948
it did solve the problem,i am very grateful to @DakotaNelson @elitest for your aid. thank you

[2018-01-21 23:12] #948 closed

[2018-01-21 23:13] DakotaNelson commented on #948
Happy to help!

On Sun, Jan 21, 2018, 17:12 eqhaleel <notifications@github.com> wrote:

[2018-01-22 03:24] Arvanaghi opened #951 "[!] Exception: [Errno 2] No such file or directory: 'launcher.pkg', Fresh Kali linux"
## Empire Version
Latest commit as of 1/21/18

## OS Information (Linux flavor, Python version)
Kali 3.26.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
No .pkg file generated under osx/pkg, instead get `[!] Exception: [Errno 2] No such file or directory: 'launcher.pkg'`

[2018-01-22 14:28] elitest opened #952 "Fix Circle-CI"
Would it be possible to put a timeout in the setup_database.py so that Circle-CI doesn't timout?

[2018-01-22 15:27] xorrior commented on #952
@elitest No need to worry about the Circle-Ci failures. The database script shouldn't pause at all as the environment variable to use a random key is set in CI. I had a great testing script setup until I ran into an issue on the docker containers and sockets used by CI. This became a major roadblock so I am still looking for another testing solution. I'll remove CI completely soon.

[2018-01-22 15:29] xorrior commented on #937
@gearcapitan I'll think about removing it. For now, I'll just add a disclaimer in the description.

[2018-01-22 15:29] #937 closed

[2018-01-22 15:34] xorrior commented on #946
@killercoderz4 Any persistence you install will result in a new agent session for empire once the host has restarted and triggered the persistence mechanism. Lets track the keylogger issue in #939 .

[2018-01-22 15:34] #946 closed

[2018-01-22 15:35] #952 closed

[2018-01-22 15:38] strikeoncmputrz commented on #940
I am having the same issue, e.g. /situational_awareness/network/powerview/get_user immediately completes. I thought that it was operator error.

[2018-01-22 15:42] xorrior commented on #940
@wbbigdave @ThePirateWhoSmellsOfSunflowers @strikeoncmputrz I'll look into this shortly

[2018-01-22 15:49] wbbigdave commented on #940
@xorrior The problem appears to have manifested in version 2.2 where the dynamic code generated for these modules changed. I echoed the output from the module script as it builds the code and there was a huge difference in the 2.1 code and 2.2.

Running this generated code locally, the >2.2 versions failed whilst parsing the dynamic parameters.

[2018-01-24 03:08] #941 closed

[2018-01-25 00:43] xorrior commented on #939
@killercoderz4 feel free

[2018-01-25 12:00] subrosaassociates opened #954 "OperationalError: attempt to write a readonly database"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Python 3 Linux nope 4.13.0-26-generic #29~16.04.2-Ubuntu SMP Tue Jan 9 22:00:44 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better
launching the rest interface fails, a fresh install (non-bleeding edg

[2018-01-25 12:04] subrosaassociates commented on #954
ah, I see.. apologies i thought it needed python3 :) - please close, apologies for time stealing.

[2018-01-25 16:51] #954 closed

[2018-01-25 19:38] W33v3ly opened #955 "Empire threading with autorun"
## Empire Version

2.4

## OS Information (Linux flavor, Python version)

Ubuntu 16.04
Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Hello i have thousand machines but when i remove all this machines and they loop again reconnect and then I use autorun then after 1 minute the Empire says : Pyt

[2018-01-27 07:09] kashanpak opened #956 "How to use EmpirePowershell 2.4 over the internet"
## Empire Version v 2.4

## OS Information (Kali Linux, Python version)

## I am using Empire Powershell v2.4. I just want to connect to other computer outside of the network.

## I just create **http listener** and port forward  to **4443** in my router configuration. and usestager as **windows/macro**

## Its working fine on same host with private ip, How to do it with public ip ??

[2018-01-27 12:07] mrunc opened #957 "Exfiltration module for SFTP and/or FTP maybe OwnCloud/webdav ?"
What about an exfiltration module for sending files to an SFTP or FTP server ?
or maybe Owncloud/Nextcloud/Webdav

[2018-01-27 14:05] xorrior commented on #957
@mrunc, that sounds like an awesome idea. Unfortunately i don't have the cycles for it. Feel free to take on the challenge.

[2018-01-27 14:05] #957 closed

[2018-01-27 15:42] xorrior commented on #956
@kashanpak, If I'm understanding you correctly, all you need to do is your host in the listener options to http://externalIP:Port and then set the bind Port to the port being used internally. As long as your port forwarding rules are correct, that should work.

[2018-01-27 15:42] #956 closed

[2018-01-27 15:44] xorrior commented on #823
@TheKevinWang, this isn't a priority at the moment and i just don't have the cycles to implement this. Feel free to submit a PR if this is something you really need.

[2018-01-27 15:44] #823 closed

[2018-01-27 15:48] xorrior commented on #892
@d2-d2 I've reopened #763. If you have time to test it, please do so. I'm closing this out.

[2018-01-27 15:48] #892 closed

[2018-01-28 02:06] xorrior commented on #939
Closing for no activity.

[2018-01-28 02:06] #939 closed

[2018-01-28 02:08] xorrior commented on #951
@Arvanaghi were there any install errors for xar? If xar isn't available then creating a the pkg launcher will not work. Sorry for the late response.

[2018-01-28 08:55] kashanpak commented on #956
Duplicate of #956

As you told that put externalip:Port(Port=>4443) to listener host. I have done the same as you told. For the BindIp I leave it as 0.0.0.0 and for the Port i set it to 4443. and in the router I also set it 4443 and check the connection from canyouseeme.org. The result shows service is running on port 4443 success. but i didnt get a response back from different computer except the

[2018-01-30 05:36] CryptomaticSquirrel opened #960 "Agents get detected by AV."
## Empire Version
2.3

## OS Information (Linux flavor, Python version)
Host: Linux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.4-2kali1 (2017-10-16) x86_64 GNU/Linux
Windows 2016. Fully patched Windows Defender with AMSI.
8.1 with patched Windows Defender and detected with ATA and ASC which isn't much of a problem for me.

## Screenshot of error, embedded text output, or Pastebin link to the error

[2018-01-30 07:42] ThePirateWhoSmellsOfSunflowers commented on #960
I think you should take a look at #938.
🌻

[2018-01-30 08:30] CryptomaticSquirrel commented on #960
Damn... That make things more difficult for me. Thanks a lot for the reply.

[2018-01-30 21:11] #960 closed

[2018-01-31 12:55] aekv opened #961 "Can't kill agents"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Debian GNU/Linux 9, Python 2.7.13, Python 3.5.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Can't kill agents.

## Screenshot of error, embedded text output, or Pastebin link to the error

https://pastebin.com/T4ynVE0b

## Any addi

[2018-01-31 14:53] xorrior commented on #961
Its possible that the agent has stopped communicating entirely. Does it respond to any other commands? Please run empire with the --debug 2 flag and provide the output shown when issuing the kill command and receiving the agent response.

[2018-01-31 14:54] xorrior commented on #951
@Arvanaghi please let me know if you are able to provide any additional information. Until then, this will be closed.

[2018-01-31 14:54] #951 closed

[2018-01-31 15:18] xorrior commented on #955
I don't believe I've ever seen someone with a thousand agents in Empire. I imagine the server is hanging by a thread (haha ). I imagine removing all those hosts at once and then initiate key renegotiation places a significant load on the server. My best advice would be to kill hosts in batches. We don't have the ability to do stress testing with such a large number of agents. This is not something

[2018-01-31 15:18] #955 closed

[2018-01-31 21:45] DanMcInerney commented on #910
Here's everything I did to fix the compilation errors in xar which is part of Empire's install.sh script in Kali 2017.3:

apt-get install libssl1.0-dev libxml2-dev zlib1g-dev

[2018-01-31 21:55] DanMcInerney opened #962 "Stack trace upon every agent connection"
## Empire Version
2.3.0

## OS Information (Linux flavor, Python version)
Kali Rolling 2017.3, 2.7.14+

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Every time an agent connects, a stack trace is thrown and the agent does not work as tested with the 'sysinfo' command. No job started message, no output.

#

[2018-01-31 22:01] Strazzom opened #963 "Proxy settings broken for multi/launcher stager in Empire 2.4"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali Rolling, python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected behavior: `set Proxy 127.0.0.1` under the multi/launcher stager, followed by `execute` should complete successfully.
Actual Behavior: upon `execute` being

[2018-01-31 22:15] DakotaNelson commented on #962
Looks like the error is in the listener.

Are you running this with Python 3? And is there any chance the agent is returning unicode data? It looks like unicode text is coming back from the agent when the listener expects a standard Python `str`. That could happen because Python 3 handles unicode differently.

[2018-01-31 22:30] DanMcInerney commented on #962
Hmm, yes you're right. I'm running empire with python2 but a python3 script (deathstar) is creating the listener through the API. I just started empire outside the python3 virtualenv and without deathstar and no error. Will need to keep looking into this but appears to be my local environment rather than Empire issue.

[2018-01-31 22:30] #962 closed

[2018-01-31 23:03] ThePirateWhoSmellsOfSunflowers commented on #963
About your questions:
The empire's website is deprecated (last time updated is for the version 1.5) and I think is now unmaintained (and yes, imo the whole empire's project is poorly documented, but I don't blame the maintainers, documenting is hard and boring).

I recently play with proxy and empire, so as far as I understand it, proxy is used for all the requests between the victim and the serve

[2018-01-31 23:03] ThePirateWhoSmellsOfSunflowers commented on #963
About your questions:
The empire's website is deprecated (last time updated is for the version 1.5) and I think is now unmaintained (and yes, imo the whole empire's project is poorly documented, but I don't blame the maintainers, documenting is hard and boring).

I recently play with proxy and empire, so as far as I understand it, proxy is used for all the requests between the victim and the serve

[2018-02-01 00:15] DakotaNelson commented on #962
So, to identify what you're running, you can use `python -V` or `which python`. Being in the virtualenv actually uses a different python binary - so having the virtualenv activated/deactivated does actually impact what version you're running.

You should be able to override what the virtualenv uses (I'm pretty sure... but not certain) by explicitly calling e.g. `python2 empire.py` or `/usr/bin/pyt

[2018-02-01 05:31] xorrior commented on #963
@Strazzom Are you inquiring about a socks proxy server within empire? Or a setting the proxy in the listener settings for the agent to use client side?

[2018-02-01 06:02] aekv commented on #961
@xorrior
There is no any activity.
https://pastebin.com/MbN2Ca3f

[2018-02-01 17:33] Strazzom commented on #963
The latter. What kind of proxies can I set in the listener, that the agent will use?

[2018-02-01 17:37] Strazzom commented on #963
I mean an external proxy, like Tor or another socks proxy. I do not mean one built in to Empire.

[2018-02-01 18:24] DanMcInerney opened #965 "Creating listener through API results in listener options being unicode strings instead of bytearrays leading to errors upon agent connection"
## Empire Version
2.3.0

## OS Information (Linux flavor, Python version)
Kali Rolling 2017.3, 2.7.14+

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
API calls to create the listener use unicode strings for all options set. These strings should be bytearrays as they are when you create a listener through t

[2018-02-01 18:40] xorrior commented on #963
Ah,  @Strazzom the agent supports HTTP/s proxies.

[2018-02-01 18:43] xorrior commented on #961
@aekv can you tell me about your target host? I'm not sure what would cause your agent to stop communicating. Can you execute a launcher without the -w 1 flag and see if there are any errors in the output?

[2018-02-01 19:06] DanMcInerney commented on #965
Little more info as I've been investigating. I added a line to empire.py line 725 to say:
values = values.encode('utf8')

While I don't get the _TypeError: initializer for ctype 'unsigned char *' must be a str or list or tuple, not unicode_ error anymore, I still get this error upon agent connection using _launcher powershell <listenername>_

_172.30.5.33 - - [01/Feb/2018 12:01:26] code 400, messa

[2018-02-01 21:05] DanMcInerney commented on #965
Above bad request syntax was because I set host to https without a CertPath. So the original fix of adding ".encode('utf8')" is the solution and allows agents to connect successfully. Submitting PR shortly.

[2018-02-01 21:05] #965 closed

[2018-02-01 22:37] Strazzom commented on #963
Ok. Thank you for that explanation. Is there any support planned for socks4/5 proxies?

Also unrelated: how might one get on the Slack? I have a lot of things to discuss that might not be ideal for github issues.

[2018-02-02 18:19] AlessandroZ opened #968 "LaZagne on Empire ?"
Hi guys,

Some times ago, I did a tool called [LaZagne](https://github.com/AlessandroZ/LaZagne) to dump lots of credentials from a remote target. It has been easy to add it to the [pupy](https://github.com/n1nj4sec/pupy/) project because it interprets the python code all in memory so nothing is dropped on the disk. However, to be embedded in non python project was quite difficult (except using the

[2018-02-03 22:40] kiberzoid opened #969 "windows/ducky"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
kali linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

When I generate stager/windows/ducky I get:
DELAY 3000
GUI r
DELAY 1000
STRING powershell
ENTER
DELAY 2000
STRING powershell -W Hidden -nop -noni -enc -Force
ENTER

EncodedComm

[2018-02-04 05:25] tortureau commented on #969
Wheres -Force coming from?? The only thing you need to set from default to have a working stager for that module is the listener.

[2018-02-04 10:57] kiberzoid commented on #969
Listener was set
![screenshot from 2018-02-04 10-48-08](https://user-images.githubusercontent.com/8117086/35776708-7721c0b0-0999-11e8-92de-b16ef8ad7d82.png)
![screenshot from 2018-02-04 10-48-34](https://user-images.githubusercontent.com/8117086/35776730-ce31b284-0999-11e8-9631-c1f57e548d0f.png)

[2018-02-04 14:44] bkr32 commented on #940
@wbbigdave is find_local_adminaccess part of those modules that aren't working correctly?

[2018-02-05 12:49] Martyx00 opened #970 "Missing PyCrypto package in Docker image"
## Empire Version
2.3.0 docker image at https://hub.docker.com/r/empireproject/empire/

## OS Information (Linux flavor, Python version)
Kali

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Current release of docker image seems to be missing pycrypto package.

## Screenshot of error, embedded text output, o

[2018-02-05 17:11] DanMcInerney commented on #968
This would be great.

[2018-02-05 18:11] wbbigdave commented on #940
@bkr32 Yea, it seems anything which uses the Powerspolit module is failing.

[2018-02-06 16:17] Ibrahimous opened #971 "Can't make domain-fronting work"
## Empire Version
2.4 (dev branch)

## OS Information (Linux flavor, Python version)
Linux kali 4.14.0-kali3-amd64 #1 SMP Debian 4.14.12-2kali2 (2018-01-11) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

[code]
T

[2018-02-06 18:14] xorrior commented on #971
@Ibrahimous what version of Windows is running on your target? What version of .NET? This will not work with powershell v2 and .NET v2

[2018-02-06 19:03] xorrior commented on #940
@wbbigdave The issue is with the generate_dynamic_powershell_script function in the helpers class. It will grab the source for the target function and all of it's dependencies. For some reason it does not properly strip the comments.

[2018-02-06 19:40] Ibrahimous commented on #971
Windows 10:
[code]

![image](https://user-images.githubusercontent.com/3440845/35880326-eb7f5f04-0b7d-11e8-907a-5c041c514cb1.png)

[2018-02-06 20:17] xorrior commented on #971
@Ibrahimous I'd take a look at the cache settings. I'm not sure if what's shown in that blog post is correct. You should model your settings to mirror what is show here: https://www.optiv.com/blog/escape-and-evasion-egressing-restricted-networks

[2018-02-06 20:23] xorrior commented on #970
@Martyx00 were there any errors during the docker build? Also can you see if you can reproduce this on the 2.4 container? Just build a new container with the latest version of empire.

[2018-02-06 20:31] Martyx00 commented on #970
I got the one from Dockerhub and everything went fine without any issues.  Previous version worked like a charm.

[2018-02-06 23:12] gearcapitan commented on #968
lol

[2018-02-07 06:07] Strazzom commented on #971
Might it have something to do with the CertPath option? @xorrior Do you need to have the cert pair that the front domain is using? Because I have had issues where I was doing something similar, and I was getting `Invalid ciphertext received.`

I tracked it down in the source code, located at line 181 below:
https://github.com/EmpireProject/Empire/blob/master/lib/common/encryption.py

I believe the

[2018-02-07 06:45] xorrior commented on #940
Fixed.

[2018-02-07 06:45] #940 closed

[2018-02-07 07:55] Martyx00 commented on #970
I have verified on clean install of Fedora and it seems to be fine. Probably issue with my Kali instance. Closing the issue.

[2018-02-07 07:55] #970 closed

[2018-02-07 08:11] Ibrahimous commented on #971
@xorrior @Strazzom Thanks a lot for your quick answers !
It might have something to do with caching, indeed, as for some reason in cloudfront I ticked "transmit cookies" but not "transmit headers", I'm going to test it again.
I don't think the problem is bound to wrong certificate, since I generated my own with https://github.com/certbot/certbot and have then a valid one.
I can private message you

[2018-02-07 08:52] Ibrahimous commented on #971
Unfortunately, it doesn't work better :( I tracked down the powershell generated stager, and found that the following line fails (translated from french):
[code]

This is really strange as curl requests do work:
[code]

[2018-02-07 12:34] sigilli opened #973 "Empire's Bloodhound lack of collection methods"
## Empire Version
Empire 2.4 dev branch

## OS Information (Linux flavor, Python version)
Kali Linux fully updated

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When I need to run Bloodhound via Empire, there's no way to collect ACLs or Object Props. They both are valid options and they can be used if I u

[2018-02-07 14:58] xorrior commented on #973
@sigilli This is because the blood hound source is not up to date. It'll be updated in the next release.

[2018-02-07 14:58] #973 closed

[2018-02-07 15:01] xorrior commented on #971
@Ibrahimous You don't have a proxy set in your stager right? Otherwise I'm not sure what would cause that.

[2018-02-07 15:03] xorrior commented on #968
@AlessandroZ I'd say go for it. Please submit the PR to the dev branch.

[2018-02-07 15:03] #968 closed

[2018-02-07 15:07] xorrior commented on #963
@Strazzom Possibly, haven't had much time to think about new features unfortunately.
For slack: https://adaptiveempire.slack.com/join/shared_invite/enQtMjk4NTUwNzM1NzMwLTYwOTIyZjk3ZjIxOGJiZDM1Y2ZhM2E1NTI5Mjg3MzcwODI5ZTI3YjkxZGE2YWQ0MjIwY2ZkMWMxMTc1ZWRlMjg%C2%A0%E2%80%A6

[2018-02-07 15:07] #963 closed

[2018-02-07 17:05] Ibrahimous commented on #971
@xorrior Thx but no, as from my Windows I'm able to use curl as well as from my Kali (where my listener listens):
![image](https://user-images.githubusercontent.com/3440845/35930072-45013666-0c31-11e8-8bf5-6396365166c9.png)

I have to debug that using Burp... proxy I just can't figure what .downloaddata does which returns a 502 error

[2018-02-07 17:22] xorrior commented on #971
🤷‍♂️

[2018-02-08 05:49] #899 closed

[2018-02-08 09:54] wbbigdave opened #976 "Question. Is it possible to automatically answer a prompt?"
Empire Version 2.4 Ubuntu 16.04 Python 2.7

Hello,

I am currently writing tools for automating empire using plugins and resource files and I have a couple of questions.

1: Is it possible, using a resource file to answer a y/n prompt on modules which are not OpsecSafe? I am running this in a test environment over a long period to simulate attacker behaviour and would like to not have to interact

[2018-02-08 10:04] ThePirateWhoSmellsOfSunflowers commented on #963
I have the same issue with the war stager, do you manage to fix the error @Strazzom ?

![error](https://user-images.githubusercontent.com/18633286/35966963-b4106bb0-0cbf-11e8-847d-f2709a72c13e.png)

[2018-02-09 01:26] xorrior commented on #976
@wbbigdave to answer prompts you would need to send the response to stdin, within that particular menu class. Not sure how to do that.

[2018-02-09 01:33] xorrior commented on #963
@ThePirateWhoSmellsOfSunflowers after the latest pull I can't seem to replicate that issue. I would look in lib/common/empire.py and lib/common/stagers.py to see the offending 'Split'. Just needs to be lowercase.

[2018-02-09 10:10] Ibrahimous commented on #971
@xorrior @Strazzom I figured it out (by using burp) !
2 problems there was:

1. The agent does NOT add the correct host, I see the following request leaving my computer through the proxy:
[code]
This is abnormal since I do see the following in the agent code:
`$WC.HeAdeRs.AdD("Host","<my cloudfront distribution>");
`
That request implies with the understandable 502 Bad gateway response.

Besides,

[2018-02-09 11:06] #971 closed

[2018-02-09 13:57] ThePirateWhoSmellsOfSunflowers commented on #976
For the question 1) : Have you try with the REST API ?

[2018-02-09 13:58] wbbigdave commented on #976
@ThePirateWhoSmellsOfSunflowers that's my today project.

[2018-02-09 16:08] #976 closed

[2018-02-09 20:10] Strazzom opened #980 "Can't communicate with agents connected to 127.0.0.1 in Empire 2.4"
## Empire Version
2.4 (have not tested on latest dev commit, will follow).

## OS Information (Linux flavor, Python version)
Kali Rolling, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected behavior: If a listener is created with Host set to 127.0.0.1, then a stager started on the same mach

[2018-02-09 21:45] Strazzom opened #981 "[FEATURE] Bind shell agents and Tor support"
**Bind shell agents:**

TL;DR: I want bind agents, and I might implement Tor functionality myself for hidden service access. Benefits: meek domain fronting, no CNC, simple to write.

Bind shells are often discounted because they are generally less useful than reverse shells. Usually (unless you have local LAN access) a bind shell is not accessible from the public internet (unless you have modified

[2018-02-11 03:36] xorrior commented on #981
@Strazzom This sounds really cool. Unfortunately, I don't have the cycles to implement a major feature request like this. However, feel free to give it a shot and submit a PR. We can go from there. Thanks

[2018-02-11 03:36] #981 closed

[2018-02-11 17:23] AlessandroZ commented on #968
I have checked the empire code and I didn't find an easily way to do it. Because, each modules are able to load a powershell script and get the output back (using the __generate__ function). But in my case, the module would be more complexe. I should be able to launch a script, download the new directory created (or a zip file), and then execute some python code (in order to launch lazagne locally

[2018-02-11 18:17] urban-moniker opened #985 "503 Server Unavailable error on stage execution"
## Empire Version

Latest (git clone 10th Feb)

## OS Information (Linux flavor, Python version)

Kali 2018.1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Created a http listener, executed a test agent using multi\launcher & windows\launcher, code runs, I can see traffic on the wire but no agent install

[2018-02-11 18:26] urban-moniker commented on #985
![screenshot at 2018-02-11 18-22-09](https://user-images.githubusercontent.com/23149626/36076798-112d4da4-0f59-11e8-920d-417b2a895dad.png)

[2018-02-11 18:53] urban-moniker commented on #985
Closed in error!

Note that reviewing some aspects it looks like PowerShell didn't install as part of the setup; not sure if this is relevant.

[2018-02-13 03:00] wireghoul opened #988 "Install fix"
Installer asks for sudo password, but then fails to execute the following with privileges:
[code]

[2018-02-13 03:02] byt3bl33d3r opened #989 "What happened to get_gpo_computer?"
I've just noticed that the `get_gpo_computer` module seems to have been deleted as of commit https://github.com/EmpireProject/Empire/commit/8895e13a6c02922d16d06ed133fd894dde139fda

Has this functionality been consolidated in another module? If it has been I can't seem to find it anywhere.

Thanks

[2018-02-13 03:34] byt3bl33d3r commented on #989
Solved in #990

[2018-02-13 09:29] Fintotini commented on #577
did you solve it? same problem here.

[2018-02-13 20:33] Strazzom commented on #980
Here is a log from --debug 2:
https://gist.github.com/Strazzom/69ff06b6d25431bc6988597384a5e923

[2018-02-13 21:42] 0ca opened #991 "shell command doesn't work with some characters"
## Empire Version
Current

## OS Information (Linux flavor, Python version)
Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
This work:
[code]

But this doesn't work:
[code]

This doesn't work neither:
[code]

## Screenshot of error, embedded text output, or Pastebin link to the error

## Any additiona

[2018-02-14 02:11] #989 closed

[2018-02-14 13:18] Kaicastledine commented on #869
Just been diagnosing why CME Empire agent launchers don't seem to run.

Seems to be an issue with the obfuscated bat launcher that you guys have the same issue here.

Tested with powershell + non obfuscated bat with no issues.

[2018-02-14 16:35] Kaicastledine commented on #869
Also can anyone else confirm that windows/launcher-bat obfuscate True DOES work but only if you disable the auto delete ?

Seems to work if you do

[2018-02-14 16:53] Kaicastledine commented on #869
Also the obfuscated multi/launcher Does not run via bat but if you paste into cmd you get this.

![image](https://user-images.githubusercontent.com/11678433/36216736-84094918-11a7-11e8-8d0a-0ae9381b4917.png)

[2018-02-14 16:57] Kaicastledine commented on #869
So instead of the obfuscated code ran and then piped into a powershell command it gets broken into 3 parts then breaks if I'm not incorrect ?

`|  PoWERSHeLl -NOeX -NOnINterACTiv  -NoProFiLE -eXECuti  bYpass  -WiNdoWst  Hi     -&&CMd /c%sDj%"``

[2018-02-14 18:02] Strazzom opened #994 "Broken docker install fix ('reset.sh' modification, pycrypto not installed)"
## Empire Version
Latest docker pull

## OS Information (Linux flavor, Python version)
Debian host running Empire as a docker image. Python: whatever version is packages with the image, probably 2.7.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected: After `docker pull`, running empire (as root or do

[2018-02-14 18:07] Strazzom commented on #980
I have confirmed that this is not a platform dependent issue, having performed the exact same procedure on the docker image. As with when empire is running in a VM, the initial agent connection occurs, and then it doesn't continue to check in when running on the same machine as the listener.

I confirmed this after fixing the issues in #994. I thought that this might be an issue with my Kali VM, h

[2018-02-15 03:09] sash322 opened #996 "problem with powershell/privesc/bypassuac_tokenmanipulation"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hello, Noob question, but how can i properly use powershell/privesc/bypassuac_tokenmanipulation module? What type of stager i should host ?

[2018-02-15 09:06] Jakanath opened #997 "Empire Command not working"
hi
i was using empire 1.4 version
the command that i use previously not working in latest version 2.4
Is there the command has change?
Can i get the list of command that i can use from setting up listeners, usestagger, interact ..
Thank you

[2018-02-15 09:25] ThePirateWhoSmellsOfSunflowers commented on #997
To create a listener:
`listeners`
`uselistener [tab] [tab]` (display available listeners)

To generate a stager
`usestager [tab] [tab]` (display stagers)

To interact with agent:
`agents`
`list`
`interact XXXXXXX`

To sum up, press `[tab] [tab]`, if you're lost.
:sunflower:

[2018-02-15 13:05] jammys opened #998 "Get Computer command with Ping param"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hello I've a simple question about the get_computer module from Powerview with Empire.
It works great but my problem is : when I set the parameter Ping to True, the module doesn

[2018-02-15 13:41] juliourena opened #999 "TypeError: 'type' object is not iterable"
## Empire Version
Lastest

## OS Information (Linux flavor, Python version)
`Linux kali 4.14.0-kali3-amd64 #1 SMP Debian 4.14.13-1kali1 (2018-01-25) x86_64 GNU/Linux`
`Python 2.7.14+`
`Python 3.6.4
`
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
* I tried unistall pyopenssl and install it again
* run multi

[2018-02-15 18:39] xorrior commented on #999
@juliourena Did you see any error messages during the install? Also, what version of python is used with Empire?

[2018-02-16 07:18] Jakanath commented on #997
Hi thank you for your response..
But Im still lose half way doing it.
May I get video or steps to  create stagger and listener and how to
interact with agents..
Thank you

On Feb 15, 2018 5:25 PM, "ThePirateWhoSmellsOfSunflowers" <
notifications@github.com> wrote:

[2018-02-16 15:05] xorrior commented on #997
@Jakanath You may also use the help command. Currently, our documentation is out of date. We hope to have that resolved soon.

[2018-02-16 15:05] #997 closed

[2018-02-16 15:06] xorrior commented on #961
@aekv I'm closing this for lack of activity.

[2018-02-16 15:06] #961 closed

[2018-02-16 18:18] egypt commented on #775
This could use a better error message.

[2018-02-18 12:30] juliourena commented on #999
Same error during installation. For Empire I'm using python 2.7.14+

Note: if I drop all empire files into `/usr/lib/python2.7/dist-package/` empire will run. But not outsite this directory

[2018-02-18 20:15] xorrior commented on #910
I've updated the kali install dependencies with the suggestion from @DanMcInerney. The install for kali will now include libssl1.0.0-dev and libssl-dev.

[2018-02-18 20:15] #910 closed

[2018-02-18 20:24] xorrior commented on #934
@meldridge I tested on a recent windows 10 build and the wallpaper changed without issue. I think this may be an isolated issue. Most likely this was due to a missing dependency, but there is no way to know for sure without out the error given by Add-Type. Please let me know if you find that Add-Type fails more consistently with this module. Sorry for the late response.

[2018-02-18 20:24] #934 closed

[2018-02-18 20:47] xorrior commented on #969
Fixed. @kiberzoid Sorry for the inconvenience.

[2018-02-18 20:47] #969 closed

[2018-02-18 21:06] xorrior commented on #980
@Strazzom, I can't seem to reproduce this issue you're having. I've tried this on a debian host. There doesn't seem to be any errors in the debug output either. Can you try this on another host and see if it's reproducible? :man_shrugging:
![selection_004](https://user-images.githubusercontent.com/9156069/36356822-9b29273c-14c5-11e8-8c91-6a6d34134c50.png)
![selection_005](https://user-images.githu

[2018-02-18 21:08] xorrior commented on #985
@urban-moniker Not sure why you would receive a 503 unless the listener crashed. Can you try running empire with the --debug 2 flag and post the output here when the error occurs? Thanks and I apologize for the late response.

[2018-02-18 21:10] xorrior commented on #988
@wireghoul You need to run install.sh with sudo. The commands for building mkbom and then copying the binary to /usr/bin require root privileges.

[2018-02-18 21:10] #988 closed

[2018-02-18 21:11] xorrior commented on #991
Merged PR to address this issue.

[2018-02-18 21:11] #991 closed

[2018-02-19 20:58] jammys commented on #998
This problem only concerns my case?

[2018-02-20 07:58] thedickestrick commented on #938
@warhawk23 @bkr32 @mattifestation @mattifestation
You guys can try the long way like i've been doing since the recent update started catching it...
-generate a reverse https or tcp payload in veil for msf
-run the msf listener
-upload it manually in empire powershell using "upload /usr/share/veil-output/source/veilpayload.bat" command
-use shell command in powershell empire to manually execute the

[2018-02-20 16:46] Strazzom commented on #980
The dev branch does not install correctly on Debian 10, so I can't test it there. I will have to report that as a separate issue.

You seem to be using Debian 8. I will test it on Debian 8/9 and report back.

[2018-02-21 10:55] wifiuk commented on #775
i am still getting this issue, even with a directory listed instead direct to the pem and key files.

[2018-02-21 14:44] wifiuk opened #1002 "Empire not catching connections back to it.."
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali latest 2018

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
payload created
tried windows/launcher
tried multi/launcher

for a nice powershell payload

## Screenshot of error, embedded text output, or Pastebin link to the error

i

[2018-02-21 14:51] wifiuk commented on #1002
sometimes after a while i get this

`xception happened during processing of request from ('195.171.18.175', 62641)
Traceback (most recent call last):
  File "/usr/lib/python2.7/SocketServer.py", line 596, in process_request_thread
    self.finish_request(request, client_address)
  File "/usr/lib/python2.7/SocketServer.py", line 331, in finish_request
    self.RequestHandlerClass(request, client_ad

[2018-02-22 19:30] DakotaNelson commented on #1002
This is almost certainly a problem with your connection, and not with Empire.

See: https://stackoverflow.com/questions/11866792/how-to-prevent-errno-32-broken-pipe

[2018-02-22 19:30] #1002 closed

[2018-02-23 02:51] Strazzom commented on #980
So, update:

I dealt with dependency hell on the Debian 8/9 docker images, so I gave up on that approach. Unfortunately, I have not had the time to set up a VM to test this on.

To avoid dealing with dependencies, I pulled the docker image for 2.4 (the base image of which is Ubuntu) and git cloned the dev branch there. The same issue is reproduced exactly when I attempt to reproduce the issue.

In

[2018-02-23 04:24] i0nsec commented on #999
@juliourena Have you tried to run the reset script located in `Empire/setup/reset.sh`
I ran into the same issue and was able to solve it by executing the reset script.

[2018-02-23 09:52] antonianis opened #1005 "stager/windows/macro syntax error"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hello, I am using the stager/windows/macro module with Obfuscation enabled. After I embed it to an Office document and attempt to run it I get a syntax error. I manage to fix th

[2018-02-23 13:54] juliourena commented on #999
Hi @i0nsec same issue

[code]

[2018-02-23 21:16] xorrior commented on #980
@Strazzom I'm not sure why the docker image is even in play. In my test, I was just using a home grown Debian image. No docker install.

[2018-02-23 21:19] xorrior commented on #985
@urban-moniker When you have the chance to debug further, feel free to post the output here and I'll re-open this.

[2018-02-23 21:19] #985 closed

[2018-02-23 21:26] xorrior commented on #994
@Strazzom so the root of this issue is that you initially started empire/docker as a standard user. You need to use sudo when running install.sh or reset.sh and consequentially setup_database.py. Without  root privileges, the database will not be configured properly and empire will fail to start. Our documentation should be definitely be more clear.

[2018-02-23 21:27] xorrior commented on #996
@sash322 This should just be a normal empire launcher, un-encoded. Hope this answers your question.

[2018-02-23 21:27] #996 closed

[2018-02-24 17:25] xorrior commented on #1005
@antonianis I'm not sure what kind of response you're looking for? It looks you were able to resolve the issue? A PR for this would be greatly appreciated. Thanks

[2018-02-24 17:25] #1005 closed

[2018-02-25 16:38] #998 closed

[2018-02-25 22:55] Skyw3lker opened #1006 "ImportError: No module named netifaces"
Kali 17.3 X64  $$  python 2.7.14+

root@kali:~/Empire# ./empire
Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/root/Empire/lib/common/empire.py", line 29, in <module>
    import helpers
  File "/root/Empire/lib/common/helpers.py", line 53, in <module>
    import netifaces
ImportError: No module named netifaces

[2018-02-26 13:50] xorrior commented on #1006
@Skyw3lker did any errors occur during the install?

[2018-02-27 23:03] xorrior commented on #999
@juliourena Can you try updating the cryptography package (pip install -U cryptography) ?

[2018-02-27 23:04] xorrior commented on #1006
@Skyw3lker also try a standalone install with pip.

[2018-02-27 23:57] DakotaNelson commented on #999
This also looks similar to things I've seen when `openssl` isn't installed or is just generally being a pain... which it usually is. That might also be worth checking.

In addition, following the advice in [this issue](https://github.com/pyca/cryptography/issues/4020) might help.

[2018-02-28 15:20] juliourena commented on #999
Looks like @DakotaNelson instructions works

Thanks Bro!

[code]

[2018-02-28 21:13] DakotaNelson commented on #999
Glad it helped!

[2018-02-28 21:13] #999 closed

[2018-02-28 21:35] Strazzom commented on #994
No, that is incorrect. The docker container automatically runs everything as root, so sudo is redundant. I include it out of a) habit and b) the assumption that something in the setup might expect it.

There are two issues:
- requirements.txt does not include pycrypto.
- `setup_databases.py` does not correctly run when called from the installer script.

The second one should just run, because pyth

[2018-03-01 00:30] xorrior commented on #994
@Strazzom Ah my mistake. I'll take a look at your PR in a bit.

[2018-03-01 14:13] Ibrahimous commented on #717
Hi @Deathlive, I ran into the same problem, how did you solve it ?
Thx

[2018-03-01 17:05] Dockmaster87 commented on #1006
Experiencing the same error. I did not notice any errors during install, and a stand alone pip says:
Requirement already satisfied: netifaces in /usr/local/lib/python2.7/dist-packages

[2018-03-02 04:27] DakotaNelson commented on #717
Have you run the [setup scripts](https://github.com/EmpireProject/Empire/wiki/Quickstart)?

[2018-03-02 07:37] Ibrahimous commented on #717
Hi @DakotaNelson, yes of course.

I was able to reproduce the problem by doing the following (on Linux kali 4.14.0-kali3-amd64 #1 SMP Debian 4.14.17-1kali1 (2018-02-16) x86_64 GNU/Linux), as root:

[code]

Note that the empire installation breaks dependencies on my Kali, and that no matter how many times I install empire, it downloads a installs the powershell .deb every time.

[2018-03-02 07:59] n0n0n0n0 opened #1011 "issue 542"
Problem still exists in latest version: https://github.com/EmpireProject/Empire/issues/542

[2018-03-02 14:02] xorrior commented on #1006
@Dockmaster87 what version of python is being used with Empire??

[2018-03-02 14:13] xorrior commented on #717
@Ibrahimous Can you please provide the error output from the install?

[2018-03-02 14:28] Dockmaster87 commented on #1006
@xorrior Python 2.7.14+ on Kali

[2018-03-02 14:32] Dockmaster87 commented on #1006
Full Error:

Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/root/Tools/Empire/lib/common/empire.py", line 29, in <module>
    import helpers
  File "/root/Tools/Empire/lib/common/helpers.py", line 53, in <module>
    import netifaces
ImportError: No module named netifaces

[2018-03-02 14:39] Dockmaster87 commented on #1006
@xorrior After I did the pip uninstall and install I ran reset.sh and now it has started successfully.

[2018-03-02 19:55] DakotaNelson commented on #542
This has been reopened by #1011.

[2018-03-02 19:56] DakotaNelson commented on #1011
I've reopened that issue, please put any detail you can there.

[2018-03-02 19:56] #1011 closed

[2018-03-03 15:10] xorrior commented on #1006
@Skyw3lker can you try @kylesmithit's solution?

[2018-03-04 18:17] n0n0n0n0 commented on #542
Easy to reproduce, create a folder with russian name and try to cd there, or try to download file with russian name, still not working.

[2018-03-05 08:06] gearcapitan opened #1016 "obfuscate vbs error"
!] PowerShell is not installed and is required to use obfuscation, please install it first.
[!] Exception: 'NoneType' object has no attribute 'replace'

![kaligearcapitan-2018-03-05-02-05-53](https://user-images.githubusercontent.com/13740942/36963662-c1ab7982-2019-11e8-9c31-16afb82b67d8.png)

└─[$] <git:(master*)> apt install libssl1.0.0
Leyendo lista de paquetes... Hecho
Creando árbol de depende

[2018-03-05 21:08] DakotaNelson commented on #1016
So, uh... is powershell installed on that machine?

[2018-03-05 21:11] DakotaNelson commented on #542
This is probably going to be a giant dev pain... basically we have to go through everywhere and make sure there are correct `encode` and `decode` calls and that nothing assumes ascii. Doable but ugh.

@n0n0n0n0 if you have some spare cycles you can go to the line number indicated in the stack trace and try a `variable_causing_problems.encode('utf-8')`. If you track down all the places that variabl

[2018-03-05 23:12] gearcapitan commented on #1016
when i tryed to install powershell .deb y have conflic with this packet libssl1.0.0

[2018-03-06 01:47] DakotaNelson commented on #1016
I don't think we really have the bandwidth here to solve dependency problems, especially installing powershell on non-Windows systems.

The problem with Empire is that you don't have powershell, and I don't really think we can help you get that, so I'm going to close this.

Possible workarounds:
 - google around a bit about installing powershell on Linux
 - switch over to Windows when generating p

[2018-03-06 01:47] #1016 closed

[2018-03-07 02:28] xorrior commented on #1006
I'm going to close this out for lack of activity. @Skyw3lker feel free to comment if the above solution doesn't work for you.

[2018-03-07 02:28] #1006 closed

[2018-03-07 02:29] xorrior commented on #980
@Strazzom did you ever figure what the root cause was for this issue?

[2018-03-07 11:33] Ibrahimous commented on #717
Hi @xorrior, sorry for the late answer, hereafter the process for the issue on a Kali 4.14.0-kali3-amd64.
It is repeatable, and let me solve another problem with the powershell package a colleague ran into:

1. Make a first install:
`~/Empire# ./setup/install.sh`

Setup is successful, but when Empire is launched, I get:

[code]

2. On a second install:
`~/Empire# ./setup/install.sh`

Setup is succ

[2018-03-07 16:49] jpluimers commented on #968
@xorrior I think @AlessandroZ needs some help here. I'm not qualified enough to assist here. Do you know anybody who can provide help out?

[2018-03-08 03:05] DakotaNelson commented on #717
I'm like 85% sure the `sqlite3.OperationalError` and `TypeError: 'NoneType' object is not iterable` problems are both solvable by running `./setup/reset.sh` to clean out the database. Not sure if that would actually prevent you having to do some of the later reinstalls, though.

[2018-03-08 16:04] xorrior commented on #980
@Strazzom if you're able to track down the root cause of this, please feel free to comment and I'll reopen this.

[2018-03-08 16:04] #980 closed

[2018-03-08 23:35] vhosakot commented on #429
I saw the `AttributeError: 'module' object has no attribute 'SSL_ST_INIT'` error too and `sudo pip install pyOpenSSL==16.2.0` resolved it for me!

[2018-03-13 02:46] nvondad commented on #924
FYI, after fighting with it for a couple of hours I now have Empire running on Kali via WSL. I had to install a bunch of the dependencies manually, too many to remember here. But with persistence it is possible.

[2018-03-13 14:56] GreenSales opened #1025 "Error in lines 13, 29, 53"
Hello, i'm using Kali Linux with the 2.3.0 Empire version and this error always comes up:
![untitled](https://user-images.githubusercontent.com/37221785/37349503-3e58edd6-26df-11e8-9985-d001dd6a3c04.png)

Can someone tell me how to fix it? Thanks in advance :)

[2018-03-14 03:40] xorrior commented on #1025
@GreenSales Can't say that I've seen that specific error before. Looks like there is an issue with the netifaces library. Are you using another python install? https://stackoverflow.com/questions/11878666/python-undefined-symbol-pyunicodeucs2-decodeutf8

[2018-03-14 11:00] LIZySARA commented on #542
Hi,

What is the solution to this problem?

![screenshot_1](https://user-images.githubusercontent.com/22563762/37398465-8a4021a0-2776-11e8-9ad0-568f162956e6.png)

[2018-03-14 13:13] xorrior commented on #542
@LIZySARA we don't have a solution currently. If this is urgent, you can try @DakotaNelson's suggestion.

[2018-03-14 13:26] n0n0n0n0 commented on #542
@DakotaNelson with your suggestion i see only questions rather than normal words.

[2018-03-14 18:07] xorrior commented on #994
#1009 merged.

[2018-03-14 18:07] #994 closed

[2018-03-14 22:40] xorrior commented on #935
@djhohnstein @bneg #933 has been merged. Hopefully that provides the information you guys are looking for.

[2018-03-14 22:40] #935 closed

[2018-03-15 00:31] LIZySARA commented on #542
@xorrior  thx

[2018-03-15 15:08] infosecn1nja opened #1028 "Enhancement to add additional custom response headers"
I have an idea why in empire there is no add additional custom response headers, for example:
[code]

I hope maybe in the future can be added like that, not just custom server version only.

Thank you.

[2018-03-16 01:28] 5p3c7r3 opened #1029 "Upgrade Setup script to include dependencies and powershell 6.0.2"
During installation the Script produced an error with installing "libssl1.0.0_1.0.1t-1+deb8u7_amd64.deb"
Which required the package "multiarch-support" from apt

Also After that Powershell requires the packages "liblttng-ust0, libunwind8. libicu57"
hence both packages fails to install automatically

Please include a command in the setup Script which allows these dependencies to be install before
t

[2018-03-16 09:58] GreenSales commented on #1025
Everything i use is preinstalled in Kali and than updated. With the new 2.5 version of empire this shows up:
I really don't understand because there was no error at the installation process.
![untitled](https://user-images.githubusercontent.com/37221785/37514657-3317808e-2911-11e8-9e58-ace4a7b5fca2.png)

[2018-03-16 12:25] xorrior commented on #1025
@GreenSales can you try starting empire with just sudo ./empire ?

[2018-03-17 16:39] DakotaNelson commented on #1025
If I had to guess, I'd say either your python binary or one of the Empire module binaries was built wrong.

See: https://stackoverflow.com/questions/16871799/trying-to-import-a-module-undefined-symbol-pyunicodeucs4-decodeutf8

I'd double check and try to reinstall python and Empire, making sure all pre-compiled binaries are built on this system and not moved over from another one.

[2018-03-17 17:56] day1player opened #1030 "Exception: global name 'stager' is not defined"
## Empire Version
2.5

## OS Information (Linux flavor, Python version)
Kali 2018.1

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Agent is not connecting back to Empire. Fresh install of Kali, updated and upgraded. Fresh install of Empire.

## Screenshot of error, embedded text output, or Pastebin link to

[2018-03-18 09:00] GreenSales commented on #1025
@xorrior  I tried.. you can see in the screenshot

[2018-03-18 09:00] GreenSales commented on #1025
@DakotaNelson thanks, i'll give it a try :)

[2018-03-18 14:38] GreenSales commented on #1025
@DakotaNelson  I reinstalled python and the same error appared.. I tried to install it in backbox but still..

![untitled](https://user-images.githubusercontent.com/37221785/37567098-a11100fa-2aca-11e8-8fae-f6d856f7b1e4.png)

[2018-03-18 15:18] ThePirateWhoSmellsOfSunflowers commented on #1025
Same error on Ubuntu 16.04, solved with
`apt-get --auto-remove --yes python-openssl`
`pip install pyopenssl`

[2018-03-18 16:08] xorrior commented on #1025
@GreenSales Can you try @ThePirateWhoSmellsOfSunflowers' suggestion?

[2018-03-18 18:30] xorrior commented on #1030
@day1player That error is fixed in the master branch and the hta is confirmed working.

[2018-03-18 18:30] #1030 closed

[2018-03-19 14:14] LIZySARA opened #1031 "Error download file"
## Empire Version

2.5
## OS Information (Linux flavor, Python version)
Ubuntu 16.04.4 LTS

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error
![screenshot_1](https://user-images.githubusercontent.com/22563762/37600422-2f46677a-2b7f-11

[2018-03-19 15:58] paralax opened #1033 "Docker fails to run - "python - no such file or directory""
## Empire Version

latest - via dockerhub or github this morning (mar 19)

## OS Information (Linux flavor, Python version)

using Docker on OSX with latest image from dockerhub

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

expected that empire fires up, it's worked in the past (although not in docker, i

[2018-03-19 20:12] mr64bit commented on #1031
This is addressed in #1034.

[2018-03-19 20:23] GreenSales commented on #1025
It worked :D Thanks @ThePirateWhoSmellsOfSunflowers and @xorrior

[2018-03-19 20:55] xorrior commented on #1031
#1034 Merged in dev and master.

[2018-03-19 20:55] #1031 closed

[2018-03-20 01:56] GreenSales opened #1035 "BypassUac"
Hello, i tried bypassuac on windows 10 and it didn't work.. can anyone tell me why?
![untitled](https://user-images.githubusercontent.com/37221785/37631506-b0a78c36-2bf2-11e8-93ea-cf734b8984dc.png)

[2018-03-20 15:34] xorrior commented on #1035
@GreenSales I would suggest doing some research into bypassuac and how it works. There are several methods that have been released that work for different versions of Windows. Some have been definitely been fixed on Windows 10.

[2018-03-20 15:34] #1035 closed

[2018-03-20 15:35] xorrior commented on #1025
👍

[2018-03-20 15:35] #1025 closed

[2018-03-20 18:18] GreenSales opened #1038 "BypassUac"
BypassUac isn't working.. what should i do?

[2018-03-21 14:47] kkirsche opened #1039 "Adaptive Empire Slack Requires Workspace Admin Invite"
When visiting

https://adaptiveempire.slack.com/

I get presented with a login screen and:

"Don't have an account on this workspace yet?
Contact the workspace administrator for an invitation"

Is this something which can be changed or is it possible to request an invite?

[2018-03-21 15:30] xorrior commented on #1039
https://twitter.com/xorrior/status/974663662551126016?s=19

[2018-03-21 15:31] xorrior commented on #1038
See #1035

[2018-03-21 15:31] #1038 closed

[2018-03-22 14:41] thesilas commented on #1033
I have the same problem.

[2018-03-23 09:21] PierrickV commented on #1033
Same error in build.

See : https://gist.github.com/PierrickV/24616414e415ebe32a3411eac0f42f63#file-dockerfile-build-log-L1371

[2018-03-23 11:17] PierrickV commented on #1033
[code]

[2018-03-23 11:19] PierrickV commented on #1033
[code]

[2018-03-23 11:24] PierrickV commented on #1033
I made a fix but there is still an error :

[code]

This error is happening even if the setup_database.py has been call by setup.py.
[code]

If I run the setup_database.py manually, empire seems to work :
[code]

[2018-03-26 22:02] passwordleak opened #1046 "Symantec AV detection for http server"
## Empire Version
Master branch

## OS Information (Linux flavor, Python version)
Kali linux (server)
Windows 10 (client)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Symantec Endpoint Protection detects the server as powershell empire, without actually running the agent. The agent can run fine with dro

[2018-03-26 22:12] OneLogicalMyth commented on #1028
You can do this with profiles. Set the server response header as per the option then use profile to add more headers if needed.

https://bluescreenofjeff.com/2017-03-01-how-to-make-communication-profiles-for-empire/

Does that help?

[2018-03-26 22:26] passwordleak commented on #1046
Found it. It's due to the following method:
        @app.after_request
        def add_proxy_headers(response):
            "Add HTTP headers to avoid proxy caching."
            response.headers['Cache-Control'] = "no-cache, no-store, must-revalidate"
            response.headers['Pragma'] = "no-cache"
            response.headers['Expires'] = "0"
            return response

By simply flipping t

[2018-03-26 22:28] ThePirateWhoSmellsOfSunflowers commented on #1046
Some ideas from my past Empire' campaigns:

- Use nginx as reverse proxy
    - add some HTTP headers
    - use HTTPS !
    - reverse proxy only the stager's page, redirect all others requests on a real website (eg. /homepage.asp -> empire, /news.asp -> /var/www/foo/news.asp )
    - Set a strict user agent filtering
- Change all the defaults page names (news.php -> hompage.asp)
- Change the jitter

[2018-03-27 13:53] passwordleak opened #1049 "No option for group name for get_group_member"
## Empire Version
Master

## OS Information (Linux flavor, Python version)
Kali
Windows 10
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
No option to set the group name in powershell/situational_awareness/network/powerview/get_group_member

makes it just about useless

## Screenshot of error, embedded text

[2018-03-27 17:14] ThePirateWhoSmellsOfSunflowers commented on #1049
You have to use the `Identity` switch with the new version (dev branch) of Powerview.

[source](http://www.harmj0y.net/blog/powershell/make-powerview-great-again/)

I never use Empire with this version of Powerview, so I can't help more, but I think the link is worth to read.

:sunflower:

[2018-03-27 18:38] passwordleak commented on #1049
Ah I see now. Wow I'm really dumb... Please close this.. Thanks!

[2018-03-27 22:23] kabachook commented on #1033
Seems like there is no `python` in PATH, one of the fixes would be softlinking `/usr/bin/python` with `/usr/bin/python2.7`. After that everything works fine.

[2018-03-28 01:53] #1049 closed

[2018-03-29 07:45] #1029 closed

[2018-03-29 11:13] GreenSales opened #1051 "Bypass UAC Doesen't Work"

[2018-03-29 15:56] passwordleak opened #1052 "MSbuild doesn't complete Stage 2"
## Empire Version
Master

## OS Information (Linux flavor, Python version)
Kali Server
Windows 10 Client

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Working empire agent after running msbuild launcher.xml

## Screenshot of error, embedded text output, or Pastebin link to the error

(Empire: agents) > [*

[2018-03-29 16:13] passwordleak commented on #1052
OK I found it it was because the stager retries was 0. After setting it to like 100, it works.

[2018-03-30 01:22] johneiser opened #1053 "Syntax error in lib/listeners/http_hop.generate_launcher() [python]"
## Empire Version

2.5

## OS Information (Linux flavor, Python version)

[Server] Ubuntu 16.04 x64, Python 2.7.12
[Server] Kali 4.14 x64, Python 2.7.14+
[Client] macOS High Sierra 10.13.3, Python 2.7.10

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

lib/listeners/http_hop.generate_launcher() redefines th

[2018-03-30 13:58] TheKevinWang commented on #1052
I found that this is caused by the exe crashing when there is an unhandled exception thrown by PowerShell. By default, powershell will ignore errors. This is due to the fact that it uses pipeline.Commands.AddScript(cmd). However, the PowerShell class does not have this problem. The same problem exists in SharpPick.

Here is the SharpPick modifications I made:
https://github.com/TheKevinWang/SharpP

[2018-03-31 14:58] xorrior commented on #1053
@johneiser I'll take a look at this

[2018-03-31 15:01] xorrior commented on #1052
@passwordleak I'll take a look at this. I would suggest not using the Dropbox module. I believe they are actively killing connections that look like empire c2 traffic.

[2018-03-31 15:01] #1051 closed

[2018-04-01 23:07] eqhaleel opened #1058 "the frame work fails to start"
this is the error in question,help offered would be very much appreciated

Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/root/Empire/lib/common/__init__.py", line 8, in <module>
    import helpers
  File "/root/Empire/lib/common/helpers.py", line 53, in <module>
    import netifaces
ImportError: No module named netifa

[2018-04-04 00:45] jens1966 opened #1059 "Persistence on Mac (with Parallels installed) no longer working"
## Empire Version
2.5

## OS Information (Linux flavor, Python version)
Mac 10.13.3
## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When using the stager osx/launchdaemonexecutable the message "Persistence has been installed: ... and "Empire daemon has been written to ... appears but i dont get a new connect

[2018-04-05 11:57] bkr32 commented on #1052
@xorrior this seems to occur with .vbs as well,
stops after sending stage 2

[2018-04-05 14:14] import-au commented on #1058
Have you tried `pip install netifaces` with the version of Python you're using?

[2018-04-07 17:34] eqhaleel commented on #1058
yes, and i further encountered another problem...here is the problem

Traceback (most recent call last):
  File "./empire", line 5, in <module>
    from flask import Flask, request, jsonify, make_response, abort, url_for
ImportError: No module named flask

[2018-04-07 17:42] eqhaleel commented on #1058
@import-au yes, and i further encountered another problem...here is the problem

Traceback (most recent call last):
File "./empire", line 5, in
from flask import Flask, request, jsonify, make_response, abort, url_for
ImportError: No module named flask

[2018-04-07 18:53] Green-Wolf opened #1063 "Powershell Launcher Generation Bug"
## Empire Version
2.5

## OS Information (Linux flavor, Python version)
Generated command on Kali, Running command on Windows 7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I set up an empire http listener called 'test' and generate an encoded powershell command with "launcher powershell test". It genera

[2018-04-08 08:02] jens1966 commented on #1059
I just reinstalled Empire v 2.3 and with this version persistence is working just fine.

[2018-04-08 09:39] jens1966 commented on #1059
Workarround: i copied alle the version 2.3 modules in the directory python/collection/osx/  to the corresponding version 2.5 directory and this is working just fine in version 2.5 ... including the new record_mic module

[2018-04-08 09:39] jens1966 commented on #1059
Accedialy closed the issue.

[2018-04-08 15:13] xorrior commented on #1033
#1045 has been merged to dev and to master.

[2018-04-08 15:13] #1033 closed

[2018-04-08 16:02] xorrior commented on #1052
@passwordleak I'm not able reproduce this behavior on a Win10 x86 host. The agent receives and processes commands without issue

![image](https://user-images.githubusercontent.com/9156069/38469531-493604ec-3b24-11e8-8310-4601e6eb464c.png)

![image](https://user-images.githubusercontent.com/9156069/38469537-5f082b42-3b24-11e8-9ebc-c3af2ff176e6.png)

Are you setting Obfuscate to True when generating

[2018-04-08 16:13] xorrior commented on #1053
Fixed in #1062

[2018-04-08 16:13] #1053 closed

[2018-04-08 16:48] xorrior commented on #1028
Resolved in #1047

[2018-04-08 16:48] #1028 closed

[2018-04-08 18:25] xorrior commented on #1059
Fixed in dev and master.

[2018-04-08 18:25] #1059 closed

[2018-04-08 18:45] xorrior commented on #1063
@Green-Wolf Can you reproduce this issue if you execute the launcher in a powershell or command prompt? I don't have this issue in either case. I also looked at the decoded launcher you posted here in visual studio code. All of the brackets match up. Could this be attributed to executing the launcher with psexec.py?

[2018-04-08 23:11] eqhaleel commented on #1058
@xorrior  Attached is the screenshot of the error i encountered during installation
![screenshot from 2018-04-08 19-05-52](https://user-images.githubusercontent.com/29148605/38473606-9605480a-3b60-11e8-9aa6-07f9ae3d09a6.png)

[2018-04-08 23:35] xorrior commented on #1058
@eqhaleel can you try apt-get install python-dev?

[2018-04-08 23:51] eqhaleel commented on #1058
i just tried it...thesame error pops up

[2018-04-09 19:36] passwordleak commented on #1052
Are you using the dropbox module? From the screenshot, it seems like you're using the http listener.  I got the http module working just fine, however the dropbox module didn't work. The xml file provided by @TheKevinWang did work for me though.

I have the Obfuscate set to false.

[2018-04-10 16:02] Green-Wolf commented on #1063
I think this was actually a problem with power shell on the target machines, so i'll go ahead and close it.

[2018-04-10 16:02] #1063 closed

[2018-04-12 20:53] usmarine2141 opened #1073 "Updates"
stupid question...

how to update the framework?

is it git pull?

Could you add an option to check for and update and if there is update?

[2018-04-13 13:29] Ph4k3r opened #1074 "Can't make https domain fronting work"
## Empire Version
dev

## OS Information (Linux flavor, Python version)
Kali 64

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
HTTP domain fronting is working, with the following configuration:
[code]

But when it comes to **HTTPS**, it's just not working:
[code]

## Screenshot of error, embedded text outp

[2018-04-13 23:30] DakotaNelson commented on #1073
`git pull` will update, yes, and you can use `git checkout <branch>` to choose between stable (master) and development (dev) versions of the framework. (Remember to run `git pull` again after you've checked out a new branch.)

As for the option to check for an update - sounds like a great candidate for a contribution. :)

[2018-04-13 23:30] #1073 closed

[2018-04-13 23:35] DakotaNelson commented on #1074
This might help: https://www.cyberark.com/threat-research-blog/red-team-insights-https-domain-fronting-google-hosts-using-cobalt-strike/

If I had to guess, it looks like your `Host` setting is still using port 80, which might be a problem (doubly so if your listening serve is running on 80). I don't have that much experience with fronting, though, so take that with a huge grain of salt.

[2018-04-14 16:57] harem234 opened #1075 "drop box listener APItoken"
## Empire Version
2.5

## OS Information (Linux flavor, Python version)
kali linux latest
Python latest

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
my port forwarding is correct and i checked after starting listener the service was confirmed from Canyouseeme website but no staging would happen with macr

[2018-04-14 21:39] eqhaleel commented on #1058
thanks for your support @import-au @xorrior

[2018-04-14 21:39] #1058 closed

[2018-04-14 21:54] DakotaNelson commented on #1075
Do you have any information about the actual error occurring or any clues as to why staging isn't happening? Are you getting any messages from Empire?

[2018-04-14 22:38] battlecl0ud opened #1076 "Docker image failing to start"
## Empire Version
Latest

## OS Information (Linux flavor, Python version)
ubuntu

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Starting empire using `docker run -it empireproject/empire`

## Screenshot of error, embedded text output, or Pastebin link to the error
[code]

## Any additional information
Th

[2018-04-15 07:08] Ph4k3r commented on #1074
@DakotaNelson Hi there, I checked the link you gave, but seems not solving my problem.
How about this:
which EXACTLY option will set to Host and Which should be set to headers?

I think I should set Host to a0.awsstatic.com

And set Headers to my xxxx.cloudfront.net

Hope empire could progress on this quickly.

[2018-04-15 07:33] harem234 commented on #1075
yes there was a series of errors i will provide them as soon as i can.

[2018-04-15 12:41] harem234 commented on #1075
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/root/Desktop/Empire/lib/common/helpers.py", line 900, in __run
    self.__run_backup()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/root/Desktop/Empire//lib/listeners

[2018-04-15 12:42] harem234 commented on #1075
after getting an agent it give me this error
and i can get no more agents

[2018-04-15 13:45] harem234 commented on #1075
i found how the error occur
after starting listener on drop box
if internet get disconnected the error occur
the work around is to restart the hole system
why?
i do not know!

[2018-04-15 15:28] DakotaNelson commented on #1075
Dropbox is killing Empire listeners on their end. The options here are basically either figure out a way to avoid Dropbox's detection of Empire agents, or use another listener.

[2018-04-15 15:28] #1075 closed

[2018-04-15 18:15] Pilly170 opened #1077 "Unable to get agent to connect"
## Empire Version
Latest cloned 15/04/18

## OS Information (Linux flavor, Python version)
Testing on Ubuntu on AWS EC2

Using Launcher (Powershell) or Stager

`
PS C:\files> Exception calling "DownloadData" with "1" argument(s): "The request was aborted: The operation has timed out."
At line:1 char:1669
+ ... 6/8cW6tKaDTNS4c3rrEDgH/P3s=");$DatA=$WC.DOwNlOADDATA($SER+$T);$Iv=$Da ...
+

[2018-04-16 01:40] XtAkm4p opened #1078 "Bypass UAC Causes UAC Pop-up On Server 2016"
## Empire Version
2.5

## OS Information (Linux flavor, Python version)
Kali
Victim is Server 2016 Datacenter Evaluation Build 14393.rs1_release.180329-1711, fully patched with 2018-04 cumulative.

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expect an agent running in high integrity.

## Screenshot of er

[2018-04-16 01:52] XtAkm4p commented on #1078
Never mind, privesc/bypassuac_env works.

[2018-04-16 01:52] #1078 closed

[2018-04-16 08:29] Pilly170 commented on #1077
ok, I've rebuilt the instance. Initially due to subnet was reason for me being unable to connect.
Still unable to use the bindIP (to the public IP)

[!] Listener startup on port 8080 failed: [Errno 99] Cannot assign requested address
[!] Listener startup on port 8080 failed: [Errno 99] Cannot assign requested address
[!] Ensure the folder specified in CertPath exists and contains your pem and priv

[2018-04-16 08:59] PierrickV commented on #1076
Hi,

This issue should have been fixed, see : *Docker fails to run - "python - no such file or directory" #1033*

Unfortunately, the new image version has not been pushed on docker hub.

You can build it yourself :

[code]

[2018-04-16 12:02] PierrickV opened #1080 "Empire/Docker : setup_database.py should be run before use"
## Empire Version

last version on dev branch

## OS Information (Linux flavor, Python version)

Docker

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Has I said here #1033, there is an issue when staring the Docker version of Empire :

(git clone -b dev, docker build -t empire .)

[code]

The error can b

[2018-04-16 14:59] winnie22 commented on #542
Hi, all. You can try add the following code to ./empire after import section:
`
reload(sys)
sys.setdefaultencoding('UTF8')
`

This prevent mentioned exceptions, I think, and I'm event able to download file as mention later. But there is still something wrong. When you do cd command i got invalid type error:
`
(Empire: VR7HGU8F) > cd řěšč
(Empire: VR7HGU8F) > [!] Received error response from VR7HGU

[2018-04-17 09:05] Nihsa commented on #924
Can you write us which dependencies ? I have the same problem

[2018-04-18 13:15] LIZySARA commented on #542
@ winnie22

Hi, all. You can try add the following code to ./empire after import section:
reload(sys)
sys.setdefaultencoding('UTF8')

Hi, can you make the change and then capture us?
thx

[2018-04-20 14:32] atorralba commented on #1080
There's an open pull request (#1065) that fixes just that.

[2018-04-20 15:18] harem234 opened #1084 "question: powershell/privesc/ask"
how can i change the launcher script in the last line of module
/////////
.
.
.
.
.
.
''' %(encLauncher)
                if obfuscate:
                    script = helpers.obfuscate(self.mainMenu.installPath, psScript=script, obfuscationCommand=obfuscationCommand)
return script

//////////////////

script: how can i alter the launcher script
because antivirus don't let any script start with the wo

[2018-04-21 03:36] xorrior commented on #1074
@Ph4k3r This post may help also: https://www.xorrior.com/Empire-Domain-Fronting/. You need to set the Host header within the profile as shown in the blog post. Also consider that modifying the host header does not work in Win7/ .NET v2|3. Domain . I would also review #971 and #533.

[2018-04-21 03:36] #1074 closed

[2018-04-21 07:44] ThePirateWhoSmellsOfSunflowers commented on #1074
Not related but may be useful for future reference: [Google disables “domain fronting” capability](https://arstechnica.com/information-technology/2018/04/google-disables-domain-fronting-capability-used-to-evade-censors/)

[2018-04-22 16:42] mr64bit commented on #1077
Looking at the first error, your launcher timed out when trying to connect to your Empire server. All the other errors are byproducts of the first one.
Can you go to your http listener URL in a web browser? You should see an IIS landing page. If not, check that you're connecting to the correct port, and that you're letting traffic on that port to your EC2 instance.

[2018-04-22 16:47] mr64bit commented on #1084
You can change the "Launcher" property on your listener to whatever you like.
I don't know what AV you're up against, but you may be able to just be able to copy powershell.exe to something else, and then change your launcher option in the listener to call that executable instead.
If that's still blocked, then you'll have to get more creative.

[2018-04-22 17:56] xorrior commented on #1076
@battlecl0ud I would reach out to @killswitch-GUI to get a new image uploaded

[2018-04-22 17:56] #1076 closed

[2018-04-22 18:13] xorrior commented on #542
@n0n0n0n0 The partial patch from #1083 has been applied to the dev and master branch. We'll keep this open until we have a complete solution.

[2018-04-22 18:33] Pilly170 commented on #1077
Hi
Yes I am able to see the IIS landing page

[2018-04-22 22:50] iNoSec commented on #855
You must support parrotOS WTF guys... That the best security OS and by far...

[2018-04-22 22:54] iNoSec commented on #855
For parrotOS (i dont know for others distro) that update pip to version 10 which broke pip like usmarine make the experiment... I pass 2 hours to make pip back to work normally... I tried to comment the if statement for which pip but that dl thé new pip 10 again... Thats bizarre... I dont look if there is an other statement for pip on your Install script...

[2018-04-23 11:30] SuperXiaoxiong commented on #729
I met the same situation ，I try to  download a chrome login database ，and I have the administrator privilege，And the file exits， But can't download the "login data" file
(Empire: H9NSLZKV) > download "C:\Users\Administrator\appdata\local\google\chrome\user data\default\login data"
[*] Tasked H9NSLZKV to run TASK_DOWNLOAD
[*] Agent H9NSLZKV tasked with task ID 90
(Empire: H9NSLZKV) > [!] Received e

[2018-04-23 12:14] mr64bit commented on #1077
Just to be sure, can you confirm that the URL in your stager is the same one you went to in your browser?
(I don't believe the listener automatically updates its URL to the listening port anymore, so you can use NAT)
Also, any proxy between you and the internet?

[2018-04-24 20:01] just1fi3d opened #1089 "Powershell agents stop responding"
## Empire Version
2.4

## OS Information (Linux flavor, Python version)
Ubuntu
Python 2.7.12

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

After a few hours powershell agents stop responding. This has happened many times and does not appear to be associated with reboots or any events on the remote system

[2018-04-25 01:48] derwentx opened #1090 "Installing breaks Brew by overwriting /usr/bin/mkbom"
## Empire Version

`cat ~/GitHub/Empire/VERSION`
[code]
`git log -n 1`
[code]

## OS Information (Linux flavor, Python version)

`uname -a`
[code]
`sw_vers -productVersion`
[code]

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

after running `setup/install.sh` , `/usr/bin/mkbom` and `/usr/bin/mkbom` are re

[2018-04-25 04:40] johnjohnsp1 opened #1091 "install.sh error dependencies"
## Empire Version
empire 2.5 thru command git clone executed on 04/25/2018 at 06.32 (GMT+2)

## OS Information (Linux flavor, Python version)
Linux VMKALI20173 4.15.0-kali2-amd64 #1 SMP Debian 4.15.11-1kali1 (2018-03-21) x86_64 GNU/Linux
root@VMKALI20173:~/empire/setup# python -V
Python 2.7.15rc1
root@VMKALI20173:~/empire/setup# python3 -V
Python 3.6.5rc1
root@VMKALI20173:~/empire/setup#

## Expec

[2018-04-25 05:42] xinjie00 opened #1092 "Detected by windows defender"
Empire latest version juz install yesterday

## OS Information kali linux rolling

When i trying download the powershell.exe in my windows the window defender detected it as virus and deleted it away anyway to bypass av?

[2018-04-25 07:36] ThePirateWhoSmellsOfSunflowers commented on #1092
I think you should take a look at #938.
:sunflower:

[2018-04-26 09:11] winnie22 commented on #542
Hi all, good news! #1093 should fix this issue. mkdir/cd/pwd/download everythink works for me.

[2018-04-26 12:39] mr64bit commented on #1089
Are your agents running in a powershell.exe, or have you injected into another process? If the latter, it's possible the process has simply stopped. There's no much an agent can do to prevent it.

The easiest way to get debug info on an agent is to comment out $ErrorActionPreference="SilentlyContinue" in the agent stager code.
https://github.com/EmpireProject/Empire/blob/master/data/agent/stagers/

[2018-04-26 13:29] feelmoon opened #1094 "onedrive "expires_in" exception"
## OS env
Empire2.5 - clean install on ubuntu 16.04 -
## steps for replay

### onedrive
1. login to https://apps.dev.microsoft.com/
1. create app
1. set native type of app. If not set type of app we dos`t get AuthCode from MS
1. copy Application Id. Notes: in onedrive manual in https://gist.github.com/mr64bit/3fd8f321717c9a6423f7949d494b6cd9  author using ClientID but in interface dos`t have any C

[2018-04-26 14:10] just1fi3d commented on #1089
I've just been using multi/launcher without injecting further into any processes. I'll give output redirection a shot and see what I see.

[2018-04-26 15:13] mr64bit commented on #1094
The Redirect URL in the application registration portal must match the "RedirectURI" option in the listener. Even though the Onedrive listener doesn't use it, it's required when using Microsoft's Graph API.

This is what you should be seeing in the registration portal.
https://i.imgur.com/KH22J0i.png

You can use whatever you like, (localhost for example) but the URL must be identical in both plac

[2018-04-26 20:03] #1092 closed

[2018-04-26 20:19] just1fi3d commented on #1089
No luck with output redirection, just ended up with blank files. I'll have to give changing the error action thing a try.

[2018-04-26 22:33] mr64bit commented on #1089
Sorry, should have been clearer.
You need to remove the $ErrorActionPreference line either way. When set to "SilentlyContinue", Powershell will just not output any uncaught errors when they occur.

[2018-04-26 22:40] just1fi3d commented on #1089
Ah I see now, I'll try that with redirection and the SilentlyContinue flag set.  Obviously didn't think that through before 😄

[2018-04-29 09:37] ED000005 opened #1096 "installing"
## Empire Version

## OS Information (Windows 10 )

## I am  having is installing PowerShell Empire in kali . help.. i have tried to clone it from GitHub.  but failed

[2018-04-29 09:37] ED000005 commented on #1096
Need urgent help

[2018-04-29 11:30] ED000005 opened #1097 "EMPIRE"
File "./empire", line 5, in <module>
    from flask import Flask, request, jsonify, make_response, abort, url_for
ImportError: No module named flask

RUNNING     /.empire brings that error . any solution ??

[2018-04-30 00:15] mr64bit commented on #1077
Interesting.
Can you run the Empire server with "--debug 2" to make sure nothing is being thrown there?

Try using cURL or Invoke-WebRequest to connect to your listener URL.

[2018-04-30 00:31] xorrior commented on #1096
@ED000005 Please provide more information in accordance with the issue template

[2018-04-30 00:32] xorrior commented on #1097
@ED000005 have you tired manually installing the dependency?

[2018-04-30 00:33] xorrior commented on #1094
@feelmoon have you tried what @mr64bit has suggested?

[2018-04-30 00:34] xorrior commented on #1091
@johnjohnsp1 are you using python v2 or v3?

[2018-04-30 04:10] johnjohnsp1 commented on #1091
thanks for the reply, seems by default on my system is python2, for the installation I use the file install.sh and have no chance to tell it to use python v2 or 3 elsewhere when I try to pip manually the missing packages I get the same error on the same package either if I'm using python v2 or 3

[2018-04-30 12:32] eqhaleel opened #1098 "critical notification"
the agents fails to call back to the empire server with regards to stagers of macro and oneliners category.hence this is the response with regards to python one liners "Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<string>", line 14, in <module>
  File "/usr/lib/python2.7/urllib2.py", line 154, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/l

[2018-04-30 13:34] xorrior commented on #1098
@eqhaleel Have you done any troubleshooting to eliminate other possibilities for what caused this issue?

[2018-04-30 20:25] eqhaleel commented on #1098
@xorrior i only tried ./resetting the frame work

[2018-04-30 20:27] eqhaleel commented on #1097
iv also encountered thesame problem on earlier versions of ubuntu. however, the framework installs perfectly  fine on ubuntu 17 & 18

[2018-05-01 11:14] bursaiskender opened #1099 "This module Phant0m should be add to Empire"
This module https://github.com/hlldz/Invoke-Phant0m

Thanks Empire Team

[2018-05-01 18:35] kmackinley commented on #869
I did a bit of testing on this and noticed that the outputted code/.bat file is not escaping the %. In order for these to work in a batch file, I had to add another % alongside all %'s in the code.

Its particularly strange as the Launcher option for Invoke-Obfuscation is supposed to take care of that.

[2018-05-02 04:05] xorrior commented on #1098
@eqhaleel I would recommend some more troubleshooting.

[2018-05-02 04:05] #1098 closed

[2018-05-02 04:06] xorrior commented on #1094
@feelmoon If this is still an issue for you, please let us know.

[2018-05-02 04:06] #1094 closed

[2018-05-02 04:06] #1096 closed

[2018-05-02 04:08] xorrior commented on #1091
@johnjohnsp1 try using python 2 pip to install all of the dependancies shown in the requirements.txt file.

[2018-05-02 04:25] #1084 closed

[2018-05-02 07:08] johnjohnsp1 commented on #1091
if I try use python2 with pip2 install -r requirements.txt I get this as output:

root@VMKALI20173:~/empire/setup# pip2 install -r requirements.txt
Requirement already satisfied: urllib3>=1.21.1 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 1)) (1.21.1)
Requirement already satisfied: requests==2.18.4 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (l

[2018-05-02 13:17] xorrior commented on #1091
@johnjohnsp1 have you tried installing that specific version of requests?

[2018-05-02 13:42] johnjohnsp1 commented on #1091
yes tried also that way but ending in a loop where some packages cannot be installed due to incompatible version like:

rekall-agent 1.7.1 has requirement requests==2.18.1, but you'll have requests 2.18.4 which is incompatible.
Installing collected packages: requests
  Found existing installation: requests 2.18.1
    Uninstalling requests-2.18.1:
      Successfully uninstalled requests-2.18.1
Succ

[2018-05-02 14:32] just1fi3d commented on #1089
I'm still troubleshooting this. I typically install agents via wmi but its hard to get error output from that so I was RDPing in to a server and starting agents as recommended above but then I realized that processes started that way die after being disconnected from rdp. So I just started some local agents on my laptop and hopefully they will die and I'll get some errors back soon. I'm open to id

[2018-05-02 17:41] mateo24xx commented on #804
xorrior thank you for your reply..
you right it's better to use other alternatives like you mentioned

[2018-05-02 23:15] just1fi3d commented on #1089
Looks like the actual issue (or maybe I'm having multiple) is with the listener itself dying. All my agents stopped responding at once and I can't get any new agents deployed they get the following error:

[code]

I don't see much of anything in the empire debug log, just the empire agents stop responding

[code]
I tried killing and restarting the listener but got a

```2018-05-02 16:11:11 listene

[2018-05-03 05:35] winnie22 commented on #1091
Hi, @johnjohnsp1. This really looks like problem (broken pip installation) with rekall only not Empire. Could you please remove rekall (pip2 uninstall rekall rekall-agent rekall-core rekall-lib rekall-layout-expert rekall-capstone rekall-efilter) and then try install.sh again?

[2018-05-03 08:16] johnjohnsp1 commented on #1091
Hi, this is the output after uninstalled rekall and tried install.sh again

Requirement already up-to-date: pip in /usr/local/lib/python2.7/dist-packages (10.0.1)
rekall-core 1.7.1 requires rekall-capstone==3.0.5.post1, which is not installed.
rekall-core 1.7.1 requires rekall-efilter<1.7,>=1.6, which is not installed.
rekall-core 1.7.1 requires rekall-lib, which is not installed.
Requirement alre

[2018-05-03 09:02] johnjohnsp1 commented on #1091
~/empire/setup# pip2 search rekall
rekall (1.7.1)                      - Rekall Memory Forensic Framework
rekall-agent (1.7.1)                - Rekall Incident Response Agent
rekall-core (1.7.1)                 - Rekall Memory Forensic Framework
  INSTALLED: 1.7.1 (latest)
rekall-lib (1.7.1)                  - Rekall Support Libraries
rekall-layout-expert (1.5.0.post4)  - Rekall Layout Expert
reka

[2018-05-03 09:03] winnie22 commented on #1091
Please uninstall rekall-core (pip2 uninstall rekall-core). Errors should disappear.

[2018-05-03 09:11] johnjohnsp1 commented on #1091
pip2 uninstall rekall-core
Uninstalling rekall-core-1.7.1:
  Would remove:
    /usr/local/bin/rekal
    /usr/local/bin/rekal.py
    /usr/local/bin/rekall
    /usr/local/lib/python2.7/dist-packages/rekall/*
    /usr/local/lib/python2.7/dist-packages/rekall_core-1.7.1.dist-info/*
    /usr/local/resources/.gitignore
    /usr/local/resources/MacPmem.kext.tgz
    /usr/local/resources/OSQuery.license

[2018-05-03 09:11] #1091 closed

[2018-05-03 15:05] True-Demon opened #1104 "Feature Suggestion: Configurable Default settings via yaml configs"
So, some colleagues and I have been playing with some of the features in Empire and noticed that there are certain settings in the listeners, stagers, and such that we frequently keep changing. Originally, I had the idea to just change the defaults by overwriting the lib/stagers/path/to/stager.py, but I quickly realized that everything I changed would get reverted with subsequent pulls from github

[2018-05-04 01:09] xorrior commented on #1077
@Pilly170 I would suggest some additional troubleshooting to narrow down the root cause of this. There is no way to definitely tell you what would cause an agent timeout w/o some additional information. Once you have some more info, let us know.

[2018-05-04 01:09] #1077 closed

[2018-05-04 07:31] winnie22 commented on #1104
Hi @True-Demon, just quick guestion. Did you look for Empire autoruns (https://www.blackhillsinfosec.com/empire-resource-files-auto-runs-docx/)? I think that this is quite similar in functionality with your proposal. What do you think?

[2018-05-06 06:50] winnie22 commented on #542
Hi, everyone! I just tested dev branch with merged fix and everything works for me. Can anyone verify this fix, so we can close this issue? Thanks

[2018-05-06 18:09] xorrior commented on #542
@winnie22 I'll take a look at it

[2018-05-06 18:39] xorrior commented on #542
@winnie22 it looks like cd, pwd, etc work just fine. Download still has issues.

![image](https://user-images.githubusercontent.com/9156069/39676580-3c597b0a-513b-11e8-92c4-53a3fba58b53.png)

![image](https://user-images.githubusercontent.com/9156069/39676583-40b6e16a-513b-11e8-8563-a93f1c994a78.png)